{{ header }}

 <!-- Start Bradcrumb -->
    <section class="breadcrumb-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                             
                            
                            {% for breadcrumb in breadcrumbs %}
                              <li  class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ breadcrumb.href }}" itemprop="url"><span itemprop="title">{{ breadcrumb.text }}</span></a></li>
                            {% endfor %}
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Breadcrumb -->
    
    
    <!-- Start About Section -->
    <section class="error-sec padding-100">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <div class="error text-center">
                        <img src="/catalog/view/theme/journal2/styleFiles/images/shopcartempty.png" class="error-img">
                    </div>
                    <div class="text-center pt-20">
                        <h4 class="mb-20">{{ heading_title }}</h4>
                        <p class="mb-20 text-center" >{{ text_empty }}</p>
                        <a class="btn btn-light blue-btn" href="{{ continue }}">{{ button_continue }}</a>
                    </div>
                </div>
            </div>  
        </div>
    </section>
    <!-- End About Section -->
 
{{ footer }}
