
    <a href="#" class="nav-link dropdown-toggle" id="dropdownCartButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <img src="/catalog/view/theme/journal2/styleFiles/images/shopcart.png" class="header-ico">
        <span class="badge count">{{ count_products }}</span>
         
    </a>
    <div class="dropdown-menu cart-dropdown" aria-labelledby="dropdownCartButton">
        <h5>{{ text_items }}</h5>
        
        {% for product in products %}
              <div class="media">
                    </a>
                    <img class="ml-3 media-img" src="{{ product.thumb }}"  alt="{{ product.name }}"  title="{{ product.name }}" />
                    <div class="media-body">
                        <h5 class="title"><a href="{{ product.href }}"> {{ product.name }}
                                            {% for option in product.option %}
                                              <br/>
                                              
                                              <small>{{ option.name }} {{ option.value }}</small>
                                            {% endfor %}
                        </a>
                            <a class="float-left"  onclick="cart.remove('{{ product.cart_id }}');" title="{{ button_remove }}">
                                <i class="fas fa-times"></i>
                            </a>
                        </h5>
                        <span class="q">{{ text_quantity }} {{ product.quantity }}</span> 
                        <span class="price">{{ product.total }}</span>
                    </div>
                </div>  
              
            {% endfor %}
             
        
        <div class="summary">
            {% if   products %}
            {% for total in totals %}
               
                <h3 class="title float-right">{{ total.title }}</h3>
                <span class="title float-left">{{ total.text }}</span>
                <div class="clearfix"></div>
            
            {% endfor %}
            {% endif %}
               {% if not products %}
                
                  <p class="text-center empty">{{ text_empty }}</p>
                
              {% endif %}  
        </div>
        <div class="btns">
            <a class="btn btn-light blue-btn"  href="{{ cart }}">{{ text_cart }}</a>
            <a class="btn btn-light white-btn"  href="{{ checkout }}">{{ text_checkout }}</a>
        </div>
    </div>

 