{% if modules %}
  <div id="column-left" class="col-sm-3 hidden-xs side-column {% if journal2.settings.get('flyout_column_left_active') %} flyout-left {% endif %}">
       <div class="filter-side-bar">
        {% for module in modules %}
          {{ module }}
        {% endfor %}
      </div>
  </div>
{% endif %}
