 
 
{% if journal2.settings.get('config_bottom_modules') %}
  <div id="bottom-modules">
    {{ journal2.settings.get('config_bottom_modules') }}
  </div>
{% endif %}


<!-- Start Footer -->
            <footer class="footer">
                <div class="top-footer">
                    <div class="container">
                        {{ journal2.settings.get('config_footer_menu') }}
                    </div>
                </div>
                <div class="copyright-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-12">
                                <p class="copyright">
                                     {{ journal2.settings.get('config_copyright') }}
                                    <a class="smart-logo" href="https://smartlives.ws/"><img src="/catalog/view/theme/journal2/styleFiles/images/smartlife.png" /></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- End Footer -->
            
     
</div>
    </div><!-- /content-wrap -->
    <!-- End site Content -->
    <a href="#" class="back-to-top"><i class="fas fa-long-arrow-alt-up"></i></a>
 
<div class="scroll-top"></div>
{{ journal2.settings.get('config_footer_modules') }}
<script src="catalog/view/theme/journal2/styleFiles/js/main.js"></script>

<script>
 $('.product-block ').each(function () {
         
        var $quickbtn = $(this).find('a.quickviewLink');
         
       
            var productId = $quickbtn.attr('product-id');
                
                if (productId) {
			 
                productId = parseInt(productId, 10); 
                $quickbtn.attr('href', 'index.php?route=journal2/quickview&pid=' + productId);
                $quickbtn.magnificPopup({
                    preloader: true,
                    tLoading: '',
                    type: 'iframe',
                    mainClass: 'quickview',
                    removalDelay: 200,
                    callbacks: {
                        open: function(item) {
                            $('html').addClass('noscroll');
                        },
                        close: function(item) {
                            $('html').removeClass('noscroll');
                        }
                    }
                });
            }
         
    });
</script>
</body>
</html>
