<!DOCTYPE html>
{% if not constant('JOURNAL_INSTALLED') %}
<h3>Journal Installation Error</h3>
<p>Make sure you have uploaded all Journal files to your server and successfully replaced <b>system/engine/front.php</b> file.</p>
<p>Please read this: <a href="http://docs.digital-atelier.com/opencart/journal/#/settings/install" target="_blank">here</a>.</p>
{% endif %}
{% if not currency %}
{{- journal2.html_classes.addClass('no-currency') -}}
{% endif %}
{% if not language %}
{{- journal2.html_classes.addClass('no-language') -}}
{% endif %}
<html dir="{{ direction }}" lang="{{ lang }}" class="{{ journal2.html_classes.getAll() }}" data-j2v="{{ constant('JOURNAL_VERSION') }}">
<head>
<meta charset="UTF-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<meta name="format-detection" content="telephone=no">
<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/><![endif]-->
<title>{{ title }}</title>
<base href="{{ base }}" />
{% set meta_title = journal2.settings.get('blog_meta_title') %}
{% if meta_title %}
<meta name="title" content="{{ meta_title }}" />
{% endif %}
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}
{% for sm in journal2.settings.get('share_metas', {}) %}
<meta {{ sm.key }}="{{ sm.type }}" content="{{ sm.content }}" />
{% endfor %}
<link href="/ficon.ico" rel="icon" />
{% set blog_feed_url = journal2.settings.get('blog_blog_feed_url') %}
{% if blog_feed_url %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ blog_feed_url }}" />
{% endif %}
{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
 


<link rel="stylesheet" href="/catalog/view/theme/journal2/styleFiles/css/bootstrap.min.css">
<link rel="stylesheet" href="/catalog/view/theme/journal2/styleFiles/css/fontawesome-all.min.css">
<link rel="stylesheet" href="/catalog/view/theme/journal2/styleFiles/css/owl.carousel.min.css">
<link rel="stylesheet" href="/catalog/view/theme/journal2/styleFiles/css/owl.theme.default.css">
<link rel="stylesheet" href="/catalog/view/theme/journal2/styleFiles/css/star-rating.min.css" />
<link rel="stylesheet" href="/catalog/view/theme/journal2/styleFiles/css/jqzoom.css" /> 
<link rel="stylesheet" href="/catalog/view/theme/journal2/styleFiles/css/size.css" /> 

<link rel="stylesheet" href="/catalog/view/theme/journal2/styleFiles/css/thumbs2.css" rel="stylesheet" />
<link rel="stylesheet" href="/catalog/view/theme/journal2/styleFiles/css/thumbnail-slider.css" />
<link rel="stylesheet" href="/catalog/view/theme/journal2/styleFiles/css/jquery-ui.min.css" />
<link rel="stylesheet" href="/catalog/view/theme/journal2/lib/magnific-popup/magnific-popup.css"/>
 
<link rel="icon" href="/catalog/view/theme/journal2/styleFiles/images/favicon.ico">
    
    

{% if dir == 'rtl' %}
<link rel="stylesheet" href="/catalog/view/theme/journal2/styleFiles/css/style.css"/> 
 
{% else %}
<link rel="stylesheet" href="/catalog/view/theme/journal2/styleFiles/css/style-en.css"/>
 
{% endif %}
<link rel="stylesheet" href="/catalog/view/theme/journal2/styleFiles/css/custom.css"/> 
<link rel="stylesheet" href="/catalog/view/theme/journal2/lib/jquery.ui/jquery-ui-slider.min.css"/>
<link rel="stylesheet" href="/catalog/view/theme/journal2/lib/jquery.ui/jquery.ui.slider-rtl.css"/>

 
<script type="text/javascript" src="/catalog/view/theme/journal2/lib/modernizr/modernizr.min.js"></script>
 
<script type="text/javascript" src="/catalog/view/javascript/jquery/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/catalog/view/theme/journal2/lib/jquery/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="catalog/view/theme/journal2/styleFiles/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="catalog/view/theme/journal2/styleFiles/js/popper.min.js"></script>
<script type="text/javascript" src="catalog/view/theme/journal2/styleFiles/js/bootstrap.min.js"></script>
<script type="text/javascript" src="catalog/view/theme/journal2/styleFiles/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="catalog/view/theme/journal2/styleFiles/js/star-rating.min.js"></script>
<script type="text/javascript" src="catalog/view/theme/journal2/styleFiles/js/easing.min.js"></script>
<script type="text/javascript" src="catalog/view/theme/journal2/styleFiles/js/wow.min.js"></script>
<script type="text/javascript" src="catalog/view/theme/journal2/styleFiles/js/validator.js"></script>
<script type="text/javascript" src="catalog/view/theme/journal2/styleFiles/js/jquery.jqzoom-min.js"></script>
<script src="catalog/view/theme/journal2/styleFiles/js/thumbnail-slider.js"></script>

<script src="catalog/view/theme/journal2/styleFiles/js/classie.js"></script>

<script type="text/javascript" src="/catalog/view/theme/journal2/lib/magnific-popup/jquery.magnific-popup.js?j2v=2.16.8"></script>

<script type="text/javascript" src="/catalog/view/theme/journal2/lib/jquery.address/jquery.address.js"></script>
<script type="text/javascript" src="/catalog/view/theme/journal2/lib/hover-intent/jquery.hoverIntent.min.js"></script>
<script type="text/javascript" src="/catalog/view/theme/journal2/lib/vide/jquery.vide.min.js"></script>
<script type="text/javascript" src="/catalog/view/theme/journal2/lib/respond/respond.js"></script>
<script type="text/javascript" src="/catalog/view/theme/journal2/lib/autocomplete2/jquery.autocomplete2.min.js"></script>
 <script type="text/javascript" src="/catalog/view/theme/journal2/lib/touch-punch/jquery.ui.touch-punch.min.js?j2v=2.16.8"></script>
 <script type="text/javascript" src="/catalog/view/theme/journal2/lib/actual/jquery.actual.min.js?j2v=2.16.8"></script>
 <script type="text/javascript" src="/catalog/view/theme/journal2/lib/ias/jquery-ias.min.js?j2v=2.16.8"></script>
<script type="text/javascript" src="/catalog/view/theme/journal2/lib/intense/intense.min.js?j2v=2.16.8"></script>

<script type="text/javascript" src="/catalog/view/theme/journal2/lib/jquery.ui/jquery-ui-slider.min.js"></script>
<script type="text/javascript" src="/catalog/view/theme/journal2/lib/jquery.ui/jquery.ui.slider-rtl.js"></script>
<script type="text/javascript" src="/catalog/view/theme/journal2/lib/pnotify/jquery.pnotify.min.js"></script>
<script type="text/javascript" src="catalog/view/javascript/common.js"></script>
<script type="text/javascript" src="catalog/view/theme/journal2/js/journal.js"></script>
 <script>
 
Journal.NOTIFICATION_BUTTONS = '{{ journal2.settings.get('notification_buttons') }}';
</script>

<script type="text/javascript" src="catalog/view/theme/journal2/styleFiles/js/custom.js"></script>

<link rel="stylesheet" href="/catalog/view/theme/journal2/css/features.css"/> 
 
 
{% if journal2.minifier.loadGoogleRecaptcha()  %}
<script src="https://www.google.com/recaptcha/api.js"></script>
{% endif %}
 
 
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}

</head>
<body>
<!--[if lt IE 9]>
<div class="old-browser">{{ journal2.settings.get('old_browser_message', 'You are using an old browser. Please <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">upgrade to a newer version</a> or <a href="http://browsehappy.com/">try a different browser</a>.') }}</div>
<![endif]-->
{{ journal2.settings.get('config_header_modules') }}
{% set header_type = journal2.settings.get('header_type', 'default') == 'extended' ? 'default' : journal2.settings.get('header_type', 'default') %}
{{ include(config.get('config_template') ~ "/template/journal2/headers/" ~ header_type ~ ".twig") }}
{% if journal2.settings.get('config_top_modules') %}
<div id="top-modules">
  {{ journal2.settings.get('config_top_modules') }}
</div>
{% endif %}
 
