
<style>
.hideLastDivider .dropdown-divider:last-child{
    display:none;
}
</style>
{% set type = journal2.settings.get(staticCall('Journal2Utils', 'getDevice') == 'desktop' ? 'language_display' : 'language_display_mobile', 'flag') %}
{% if languages | length > 1 %}
  <form  class="lang-frm"  action="{{ action }}" method="post" enctype="multipart/form-data">
     
     
     <ul class="nav lang-nav-n">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="langDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% for language in languages %}
              {% if language.code == code %}
                 <i class="fas fa-angle-down"></i>
                 <span>{{ language.name }}</span>
                  
              {% endif %}
            {% endfor %}
            </a>
            <div class="dropdown-menu hideLastDivider" aria-labelledby="langDropdown" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 40px, 0px);">
                {% for language in languages %}
                <a class="dropdown-item" href="#"  onclick="$(this).closest('form').find('input[name=\'code\']').val('{{ language.code }}'); $(this).closest('form').submit(); return false;">{{ language.name }}</a>
                <div class="dropdown-divider"></div>
                {% endfor %}
            </div>
        </li>
    </ul>
     
      <input type="hidden" name="code" value=""/>
      <input type="hidden" name="redirect" value="{{ redirect }}"/>
     
  </form>
{% endif %}
