{{ header }}

<!-- Start Bradcrumb -->
    <section class="breadcrumb-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            {% for breadcrumb in breadcrumbs %}
                              <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ breadcrumb.href }}" itemprop="url"><span itemprop="title">{{ breadcrumb.text }}</span></a></li>
                            {% endfor %}
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Breadcrumb -->
    
    <!-- Start Account Section -->
    <section class="account-sec padding-100">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                   {{ content_top }}
                      <h1 class="heading-title">{{ heading_title }}</h1>
                      {{ text_message }}
                      <div class="buttons">
                        <div class="pull-right"><a href="{{ continue }}" class="btn btn-light blue-btn btn-primary button">{{ button_continue }}</a></div>
                      </div>
                      {{ content_bottom }}
                    
                </div>
                 
               
            </div>
        </div>
    </section>
    {{ footer }} 