#xcart .media-left a, #xcart .media-left span {
    padding: 0;
}
.img-thumbnail {
    padding: 0;
}
#xcart .media-left {
    vertical-align: top;
    margin-left: 10px;
}
*, p, span, a{
    font-size: 16px !important;
}
label {
    font-size: 16px;
}
 /* checkout */
.bs-wizard >.bs-wizard-step >.bs-wizard-dot {
    background: #431c5d;
    border: 1px solid #431c5d;
}
.group.filled label {
    color: #202020;
}
.btn.btn-success, .btn.btn-success:hover, .btn.btn-success:focus {
    background-color: #431c5d;
    border-color: #431c5d;
    color: #fff !IMPORTANT;
}
.input-radio:checked {
    border: none;
    box-shadow: 0 0 0 10px #431c5d inset;
}
.progress-continue-disabled .progress-bar {
    outline: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: 0;
    -o-transition: 0;
    transition: 0;
    background-color: #431c5d;
    width: 100%;
    opacity: 1;
    color: #ffffff;
    border: 1px solid #431c5d;
}
.editcart.xremove:hover {
    background: #a2d4d5;
    color: #fff;
    border-color: #a2d4d5;
}

.progress-bar-success {
    background-color: #431c5d;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.input-checkbox:checked {
    box-shadow: 0 0 0 10px #431c5d inset;
}

/* 22-5-2019 */
.login-panel-bg .login-section {
    border: none;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.group .inputMaterial {
    box-shadow: none;
    -webkit-box-shadow: none;
    color: #202020;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #f1f2f3;
} 
.group label {
    color: #202020;
}
.group {
    margin-bottom: 30px;
}
.section-heading {
    margin-bottom: 30px;
}
.tabbable {
    margin-left: 0;
    margin-right: 0;
}
.input-group-addon {
    text-align: center;
    background-color: #ffffff; 
    border: 1px solid #ddd !important;
}
.input-group.group .input-group-addon {
    text-align: center;
    background-color: #431c5d;
    border: 1px solid #431c5d;
}
.inlineaddress {
    padding: 20px 0 0 25px;
    box-shadow: none;
}
.panel-green1 .panel-heading {
    color: #431c5d;
    border-color: #f0f0f0;
}
.cartelement {
    border-top: 1px solid #f0f0f0;
}
.panel-address .panel-address-heading, .container_panel .heading {
    background: #f1f2f3;
    color: #431c5d;
}
.container_panel {
    box-shadow: none;
    border-radius: 4px;
}
.info-back-checkout {
    box-shadow: none;
}
.alert-info, .info-back-checkout {
    color: #431c5d;
    background: #f1f2f3;
    border: 1px solid #ddd;
}
.panel-address {
    box-shadow: none;
    border: 1px solid #ddd;
    margin-top: 20px;
}
.panel-address .panel-address-body .address-list label.address-label.selected {
    border-left: 0;
    border-right: 3px solid #431c5d;
}

/* 27-5-2019 */
.bs-wizard {
    border-bottom: none !important;
    width: 100%;
    padding: 20px 0;
}
.nav-pills.nav-wizard > li .nav-arrow {
    top: -8px;
}
.nav-wedge {
    display: none;
}
.nav-pills.nav-wizard > li:last-child {
    border-right: 0;
    text-align: left;
    border-left: 0;
}
.info-back-checkout.checkbox.is_checkbox label input[type=checkbox].input-checkbox {
    right: -5px;
    margin-right: 0;
    top: 3px;
}
.progress {
    height: 42px;
    border-radius: 5px !important;
    overflow: initial !important;
}
.progress i {
    margin-left: 5px;
}
#xcart .media-left {
    vertical-align: top;
    margin-left: 10px;
}
.cartedit input {
    text-align: center;
    border-color: #ddd;
    height: 32px;
    width: 100% !important;
}
.editcart {
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}
.editcart.minus:hover, .editcart.plus:hover {
    background: #9068be;
    color: #fff;
}
.editcart.minus:hover i, .editcart.plus:hover i {
    color: #ffffff;
}
#xcart .alert-success.alert-small button.close {
    top: 0px;
}
.panel-green1 input.inputMaterial {
    width: 80%;
}
div#coupon-panel .input-group-addon {
    height: 36px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
div#coupon-panel .input-group-addon i {
    color: #ffffff;
}
.row.width-100 {
    width: 100%;
}
.agreeText label.checkbox input[type=checkbox].input-checkbox {
    right: 0px;
    margin-right: 0;
    top: 4px;
}
div#agree-panel {
    margin-left: 0;
    margin-right: 0px;
}
.back-to-top {
    padding: 7px 0;
}
.youpaytext {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
}
a.heading-panel:before {
    left: 0px;
    right: 15px;
    margin-right: 0px;
    margin-left: 10px;
    top: 13px;
}
a.heading-panel[aria-expanded="true"]::after {
    left: 0;
    right: 22px;
    top: 20px;
}
nav.navbar.navbar-expand-lg.navbar-light {
    border-bottom: 0;
}
.main-header .nav-link {
    color: #202020 !important;
    font-size: 17px;
    height: 41px;
}
.nav-pills.nav-wizard > li .nav-arrow {
    display: none;
}
.nav-pills.nav-wizard > li:first-child {
    border-left: 0;
    border-right: 0;
}
.nav-pills.nav-wizard > li a {
    border-radius: 13px !important;
    background-color: #ddd;
    text-align: center;
    font-size: 14px;
    color: #333;
    padding: 8px 15px;
}
.nav-pills.nav-wizard > li.locked {
    opacity: 1;
}
.nav-pills.nav-wizard > li.active a, .nav-pills.nav-wizard > li.unlocked:hover a {
    background-color: #431c5d;
    color: #fff;
}
.nav-pills.nav-wizard > li + li {
    margin-left: 0;
    text-align: center;
}

.login-panel-bg .login-section {
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
.tabbable {
    margin-left: 0;
    margin-right: 0;
}
.form-group .checkbox {
    padding-right: 5px;
    position: relative;
}
.form-group .checkbox input[type=checkbox].input-checkbox {
    top: 2px;
}
.form-group .checkbox.is_checkbox label {
    padding-left: 0;
    padding-right: 20px;
}
.tabbable .nav-tabs >li {
    padding-bottom: 5px;
}
.tabbable .nav-tabs >li.active {
    border: 0;
    border-bottom: 1px solid #431c5d;
}
.input-group.group .input-group-addon button {
    padding: 8px 15px;
    height: 36px;
    background: #431c5d;
    margin-top: -1px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.input-checkbox:after {
    content: "";
}
.nav-pills.nav-wizard > li i {
    margin-right: 10px;
}
i#undo1 {
    margin-right: 5px;
}
input[type="search"].form-control {
    font-size: 16px;
    height: 38px;
}
.dropdown-menu {
    padding: 10px;
    margin: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.lang-nav i.fas.fa-angle-down {
    position: absolute;
    right: 0;
    top: 10px;
}
.progress span {
    color: #ffffff;
}
.panel-heading.xcollapsable::after {
    display: none;
}
.progress {
    background-color: transparent;
}
.back-to-top {
    padding: 13px 0 !important;
}
.form-group .checkbox {
    padding-right: 25px;
    position: relative;
}

/*--------------*/

.panel-heading.xcollapsable span {
    font-weight: bold;
    font-size: 18px;
}
.media-heading a {
    font-size: 16px;
}
.alert-info, .info-back-checkout {
    color: #431c5d;
    background: #f7f7f7;
    border: 1px solid #ddd;
    text-align: right !important;
}
div#content {
    padding-bottom: 100px;
    display: block;
}
.header .text-right {
    text-align: right!important;
}
span.padd {
    font-size: 16px;
}
.nav-pills.nav-wizard {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 15px !important;
}