/*.quantity.buttons_added {*/
/*    max-width: 200px;*/
/*}*/

.breadcrumb-item a span{
    color: #9068be;
    font-family: 'DinNextMedium' !important;
    font-size: 18px;
}
.ui-pnotify {
   
    border: 1px solid #f7f7f7!important;
    border-radius: 0;
 
    background: #9068be!important;
}
.ui-pnotify .media-body {
    display: block !important;
    flex: none;
   
}
.alert.ui-pnotify-container.alert-success.ui-pnotify-shadow {
    margin: 0 !important;
    background: transparent !important;
    padding: 10px;
}

.ui-pnotify-title {
    background-color: transparent!important;
 
    color: #1b1b1b;
}

.popti {
    display: none!important;
}
h4.ui-pnotify-title {
    display: none !important;
}
.ui-pnotify-text img {
    float: none;
    max-width: 75px;
    margin: 0 !important;
}
.ui-pnotify-text img {
    
    max-width: 100px;
  
}
a.button.notification-cart {
    border: 1px solid #431c5d;
    border-radius: 0;
    padding: 6px 35px;
    font-size: 17px;
    background: #f7f7f7;
}
a.button.notification-checkout {
    background: #431c5d;
    color: #ffffff;
    border: 1px solid #431c5d;
    border-radius: 0;
    padding: .375rem .75rem;
}
.ui-pnotify {
    min-width: 370px!important;
    color: #1b1b1b;
}
.ui-pnotify-text img {
    float: left;
    max-width: 100px !important;
    
}
h4.alertHead {
    color: #000!important;
}

.ui-pnotify .media-body a {
    color: #1b1b1b;
}

a.button.notification-checkout {
    color: #fff !important;
}
.ui-pnotify {
    min-width: 398px !important;
}
.alert-dismissible .close {
    position: absolute;
    top: -6px;
    right: auto;
    padding: .75rem 1.25rem;
    color: inherit;
    left: 0;
}


.ui-pnotify .media-body {
 
    width: 74% !important;
}

.grid-view .product-photo button {
    background: none;
    border: none;
}
