/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-helper-reset {
	margin: 0;
	padding: 0;
	outline: 0;
	list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-clearfix {
	min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter:Alpha(Opacity=0); /* support: IE8 */
}

.ui-front {
	z-index: 100;
}

/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ui-accordion .ui-accordion-header {
	display: block;
	cursor: pointer;
	position: relative;
	min-height: 0; /* support: IE7 */
}
.ui-accordion .ui-accordion-content {
	border-top: 0;
	overflow: hidden;
}

/* Popup Styles */
.popup div, .currentDivision, .currentCategory, .sizechartDropdown li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.popup, .popup #mainContent, .popup input, .popup label {
	font-size: 112.5%;
	line-height: normal;
}
.popup em {
	font-size: 1em;
	line-height: normal;
}
.popup .cell, .popup p {
	font-size: 0.8em;
	line-height: 1.5em;
}
/* iOS fix */
body.popup, body.popup #bodyContainer, body.popup #mainContent {
	width: 1px;
	min-width: 100% !important;
}
body.popup #bodyContainer {
    margin: 0 auto;
}
body.popup #mainContent {
	width: 100%;
}

#size_chart_content, #size_chart_head_wrap {
	width: 100%;
}
#size_chart_head_wrap {
	padding: 1em 1em 0 1em;
}

/* Intro Styles */
.size_chart_intro {
	padding: 1em;
}

/* Select Styles */
.size_chart_select_wrap {
	float: left;
	position: relative;
	padding: 1em;
	cursor: pointer;
}
.sizechartDivisionSelector, .sizechartCategorySelector {
	position: relative;
}
.active .currentDivision, .active .currentCategory {
	background-color: #cccccc;
}
.currentDivision, .currentCategory {
	background-color: #eeeeee;
	color: #000000;
	display: block;
	height: 2.375em;
	padding: 0.5em;
	width: 100%;
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 98% 50%;
}
.sizechartDropdown {
	max-height: 0;
	height: auto;
	overflow: hidden;
	position: absolute;
	width: 100%;
	z-index: 50;
	-webkit-transition: max-height 0.5s;
	-moz-transition: max-height 0.5s;
	transition: max-height 0.5s;
}
.active .sizechartDropdown {
	max-height: 1000px;
}
.sizechartDropdown li {
	border-bottom: 2px solid #eeeeee;
	border-left: 2px solid #eeeeee;
	border-right: 2px solid #eeeeee;
	background-color: #ffffff;
	height: 2.375em;
	padding: 0.5em;
}
.sizechartDropdown li:hover {
	background-color: #999999;
	color: #ffffff;
}

/* Legend Styles */
.table_legend {
	float: left;
	margin: 0.4em 0;
}
p.legend_desc {
	line-height: 2em;
}
p.legend_desc span.online_exclusive {
	padding: 0.3em;
}

/* Online Exclusive Styles */
#size_chart_content .online_exclusive {
	color: #005596;
	background-color: #D3EBFF;
}

/* Online Exclusive Banner */
.online_highlight {
	width: 100%;
	text-align: center;
	margin: 1.067em 0;
}
.online_highlight .online_exclusive {
	padding: 0.5em;
	margin: 0px auto;
}

/* Heading Styles */
/* Section Headers */
#size_chart_content h2 {
	text-align: center;
	margin: 1em 0 0;
	display: table;
	white-space: nowrap;
	color: #000000;
	font-weight: 700;
}
#size_chart_content h2:before {
	background: linear-gradient(to bottom, #000000, #000000) no-repeat center left / 98% .1em;
  content: '';
  display: table-cell;
  width: 50%;
}
#size_chart_content h2:after {
	background: linear-gradient(to bottom, #000000, #000000) no-repeat center right / 98% .1em;
  content: '';
  display: table-cell;
  width: 50%;
}
/* Accordion Headers */
#size_chart_content h3 {
	color: #000000;
	margin: 0.75em 0;
	position: relative;
	outline: none;
}
h3.ui-accordion-header {
	padding: 0 0 0.75em 0;
	border-bottom: 2px solid #bbbbbb;
	border-radius: 0px;
}
h3.ui-state-active, h3.lastAccordion {
	border-bottom: none;
}
#size_chart_content h3 span {
	position: absolute;
	right: 1em;
	top: 0;
	bottom: 0;
	margin: auto 0;
	height: 25px;
	width: 25px;
}
h3.ui-accordion-header span {
	background-size: auto;
}
h3.ui-state-active span {
	background-size: auto;
}

#size_chart_content h4 {
	color: #000000;
	margin: 1em 0 0;
}
#bodyContainer #mainContent #size_chart_content h4.section_header, #bodyContainer #mainContent #size_chart_content h4.item_title {
	color: #000000;
	margin: 1em 0 0;
	padding: 0;
}


/* Accordion Content Styles */
div.ui-accordion-content {
	border-bottom: 0;
	padding-bottom: 0;
}
div.lastAccordion {
	border-bottom: none;
}

/* Size Chart Styles */
.chartSection {
	width: 100%;
	overflow: hidden;
	padding: 0 1em;
}
.chartTable {
	width: 100%;
}
.tableHead {
	float: left;
	width: 10%;
	background-color: #f6f6f6;
	border-left: 3px solid #f6f6f6;
	border-top: 3px solid #f6f6f6;
	border-bottom: 3px solid #f6f6f6;
}

.tableWrap {
	float: left;
	width: 90%;
	border-right: 3px solid #f6f6f6;
	border-top: 3px solid #f6f6f6;
	border-bottom: 3px solid #f6f6f6;
}

/* Desktop Cells */
.dataWrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-flex: 1 0 auto;
	-webkit-flex: 1 0 auto;
	flex: 1 0 auto;
	-webkit-flex-direction: row;
	flex-direction: row;
}
.dataWrap .singleCol, .dataWrap .singleCol .alpha, .dataWrap .cell {
	flex-grow: 1;
}
.dataWrap .doubleCol, .dataWrap .doubleCol .alpha {
	flex-grow: 2;
}
.dataWrap .tripleCol, .dataWrap .tripleCol .alpha {
	flex-grow: 3;
}
.dataWrap .quadCol, .dataWrap .quadCol .alpha {
	flex-grow: 4;
}
.chartColumn {
	text-align: center;
	background-color: #ffffff;
}
.chartColumn .row_wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-flex: 1 0 auto;
	-webkit-flex: 1 0 auto;
	flex: 1 0 auto;
	-webkit-flex-direction: row;
	flex-direction: row;
}
.tableWrap .dataWrap .chartColumn .alpha, .dataWrap .singleCol .cell {width: 100%;}
.dataWrap .doubleCol .cell {width: 50%;}
.dataWrap .tripleCol .cell {width: 33.33%;}
.dataWrap .quadCol .cell {width: 25%;}

.colWidth12 {width: 8.33%;}
.colWidth12.doubleCol {width: 16.66%;}

.chartColumn:nth-child(even) {
	background-color: #f6f6f6;
}
.tableHead .cell {
	border-bottom: 2px solid #f6f6f6;
	color: #333333;
}
.cell {
	border-bottom: 2px solid #ffffff;
	color: #999999;
	min-height: 33px;
	min-width: 33px;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	padding: 0.533em;
}
.cellText {
	height: auto;
	margin: auto 0;
	text-align: center;
	width: 100%;
}
.alpha {
	border-bottom: 2px solid #bbbbbb;
	color: #333333;
	font-weight: bold;
}

/* mobile chart styles */
.mobile_axis .cell {
	border-bottom: none;
	border-right: 2px solid #ffffff;
}
.mobile_axis .tableHead .cell {
	border-right: 2px solid #bbbbbb;
}
.mobile_axis .topRow.cell, .mobile_axis .tableHead .topRow.cell {
	border-right: 2px solid #f6f6f6;
	color: #333333;
	background-color: #f6f6f6;
}
/* end mobile chart styles */

.doubleCol, .tripleCol, .quadCol {
	overflow: hidden;
}
.innerCol {
	float: left;
}
/* hide cm cells */
/*.chartHide {
	position: absolute;
	left: -10000px;
}*/

/* Measurement Toggle Styles */
.measurement_toggle {
	max-height: 2.375em;
	width: 380px;
	max-width: 90%;
	overflow: hidden;
	margin: 1em auto;
	text-align: center;
	border: 2px solid #eeeeee;
}
.measurement_toggle div {
	float: left;
	background-color: #ffffff;
	color: #333333;
	cursor: pointer;
	font-weight: 400;
	padding: 0.5em;
	height: 2.375em;
	color: #333333;
}
.measurement_toggle div.active {
	font-weight: 700;
	background-color: #eeeeee;
}
.measurement_single {
	display: none;
	text-align: center;
	margin: 1em;
}
.section_image_wrap {
	text-align: center;
}
.section_image_wrap img {
	margin: 1em auto;
}
.section_image_wrap img, .fit_guide_box img {
	max-width: 100%;
}
.section_item img {
	max-width: 100%;
}

/* Scroll Chart Styles */

/* Desktop Scroll */
.overSizeChart {
	overflow: hidden;
	position: relative;
}
.tableWrap .overSizeScroll11 { min-width: 750px;}
.tableWrap .overSizeScroll12 { min-width: 825px;}
.tableWrap .overSizeScroll13 { min-width: 900px;}
.tableWrap .overSizeScroll14 { min-width: 975px;}

/* Mobile Scroll */
.mobile_scroll_wrap1, .mobile_scroll_wrap2 { width: 50%; }
.mobile_scroll_wrap3 { width: 65%; }
.mobile_scroll_wrap4 { width: 75%; }
.mobile_scroll_wrap5 { width: 80%; }
.mobile_scroll_wrap6 { width: 83%; }
.mobile_scroll_wrap7 { width: 85%; }
.mobile_scroll_wrap8 { width: 80%; }
.mobile_scroll_wrap9 { width: 88%; }
.mobile_scroll_wrap10 { width: 90%; }
.mobile_scroll_wrap11 { width: 91%; }

.scrollChart {
	position: relative;
	float: left;
	overflow: scroll;
	border-bottom: 3px solid #f6f6f6;
	border-right: 3px solid #f6f6f6;
	border-top: 3px solid #f6f6f6;
}
.scrollChart .chartColumn {
    min-width: 75px;
}
.scrollWide4 {min-width: 305px;}
.scrollWide5 {min-width: 380px;}
.scrollWide6 {min-width: 450px;}
.scrollWide7 {min-width: 525px;}
.scrollWide8 {min-width: 600px;}
.scrollWide9 {min-width: 675px;}
.scrollWide10 {min-width: 750px;}
.scrollWide11 {min-width: 825px;}

/* Flexbox Styles */
.mobile_scroll_wrap1, .mobile_scroll_wrap2,
.mobile_scroll_wrap3,
.mobile_scroll_wrap4,
.mobile_scroll_wrap5,
.mobile_scroll_wrap6,
.mobile_scroll_wrap7,
.mobile_scroll_wrap8,
.mobile_scroll_wrap9,
.mobile_scroll_wrap10,
.mobile_scroll_wrap11 { width: 90%;}

.mobile_axis .tableHead {
	width: 20%;
}
.flexchart {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}
.flexchart .cellRowWrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-flex: 1 0 auto;
	-webkit-flex: 1 0 auto;
	flex: 1 0 auto;
	-webkit-flex-direction: column;
	flex-direction: column;
	justify-content: center;
}
.flexchart .cellRow {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-flex: 1 0 auto;
	-webkit-flex: 1 0 auto;
	flex: 1 0 auto;
	-webkit-flex-direction: row;
	flex-direction: row;
}
.col1 .cell {width: 100%;}
.col2 .cell {width: 50%;}
.col3 .cell {width: 33.3%;}
.col4 .cell {width: 25%;}
.col5 .cell {width: 20%;}
.col6 .cell {width: 16.66%;}
.col7 .cell {width: 14.28%;}
.col8 .cell {width: 12.5%;}
.col9 .cell {width: 11.11%;}
.col10 .cell {width: 10%;}
.col11 .cell {width: 9.09%;}
.col12 .cell {width: 8.33%;}
.col13 .cell {width: 7.69%;}
.col14 .cell {width: 7.14%;}
.col15 .cell {width: 6.66%;}
.tableHead .cell {width: 100%;}

.mobile_axis .cellRowWrap {
	background-color: #ffffff;
}
.mobile_axis .cellRowWrap:nth-child(odd) {
	background-color: #f6f6f6;
}
.mobile_axis .tableHead .cellRow:nth-child(even) {
	background-color: #ffffff;
}