/* ------------------------------------------ */
/*             TABLE OF CONTENTS
/* ------------------------------------------ */

/*   01 - General & Basic Styles   */
/*   02 - Header Styles   		   */
/*   03 - Most Categories Styles   */
/*   04 - Products Styles          */
/*   05 - Footer Styles            */
/*   06 - Account Styles           */
/*   07 - Empty Cart Styles        */
/*   08 - Cart Page Styles         */
/*   09 - Contact Page Styles      */
/*   10 - Brands Page Styles       */
/*   11 - Preview Page Styles      */


/*   01 - General & Basic Styles   */
@font-face {
    font-family: 'DinNextLight';
    src: url('../fonts/din-next/light/DinNextLight.eot');
    src: url('../fonts/din-next/light/DinNextLight.eot') format('embedded-opentype'), url('fonts/din-next/light/DinNextLight.woff2') format('woff2'), url('fonts/din-next/light/DinNextLight.woff') format('woff'), url('fonts/din-next/light/DinNextLight.ttf') format('truetype'), url('fonts/din-next/light/DinNextLight.svg#DinNextLight') format('svg');
}
@font-face {
    font-family: 'DinNextRegular';
    src: url('../fonts/din-next/regular/DinNextRegular.eot');
    src: url('../fonts/din-next/regular/DinNextRegular.eot') format('embedded-opentype'), url('fonts/din-next/regular/DinNextRegular.woff2') format('woff2'), url('fonts/din-next/regular/DinNextRegular.woff') format('woff'), url('fonts/din-next/regular/DinNextRegular.ttf') format('truetype'), url('fonts/din-next/regular/DinNextRegular.svg#DinNextRegular') format('svg');
}
@font-face {
    font-family: 'DinNextMedium';
    src: url('../fonts/din-next/medium/DinNextMedium.eot');
    src: url('../fonts/din-next/medium/DinNextMedium.eot') format('embedded-opentype'), url('fonts/din-next/medium/DinNextMedium.woff2') format('woff2'), url('fonts/din-next/medium/DinNextMedium.woff') format('woff'), url('fonts/din-next/medium/DinNextMedium.ttf') format('truetype'), url('fonts/din-next/medium/DinNextMedium.svg#DinNextMedium') format('svg');
}
@font-face {
    font-family: 'DinNextBold';
    src: url('../fonts/din-next/bold/DinNextBold.eot');
    src: url('../fonts/din-next/bold/DinNextBold.eot') format('embedded-opentype'), url('fonts/din-next/bold/DinNextBold.woff2') format('woff2'), url('fonts/din-next/bold/DinNextBold.woff') format('woff'), url('fonts/din-next/bold/DinNextBold.ttf') format('truetype'), url('fonts/din-next/bold/DinNextBold.svg#DinNextBold') format('svg');
}


html {
  scroll-behavior: smooth;
}
*{
    font-family: 'DinNextRegular';
}
p{
  	font-family: 'DinNextRegular';
	font-size: 18px;
	line-height: 1.6;
  	font-weight: 300;
  	color: #1b1b1b;
    text-align: right;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul li{
	list-style: none;
}
img{
	max-width: 100%;
}
h1, h2, h3, h4, h5, h6{ 
	font-family: 'DinNextBold' !important;
}
a{
	font-family: 'DinNextRegular';
	text-decoration: none;
}
a:hover,
a:focus {
	text-decoration: none;
	o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	color: #431c5d;
}
a{
	text-decoration: none;
	o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	color: #9068be;
}
body{
  	overflow-x: hidden;
  	direction: rtl;
  	color: #1b1b1b;
    text-align: right;
}
b, strong {
	font-weight: 700 !important;
}
ul{
	padding: 0;
}
ul li{
	list-style: none;
}
.div-50{
	height: 50px;
	width: 100%;
	display: block;
}
.div-10{
	height: 10px;
	width: 100%;
	display: block;
}
.div-20{
  height: 20px;
  width: 100%;
  display: block;
}
.div-30{
    height: 30px;
    width: 100%;
    display: block;
}   
.div-100{
  height: 100px;
  width: 100%;
  display: block;
}  
.div-80{
  height: 80px;
  width: 100%;
  display: block;
}    
.div-70{
    height: 70px;
    width: 100%;
    display: block;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
img{
	max-width: 100%;
}

/*   02 - Header Styles   		   */

.header {
    padding: 10px 0;
    border-bottom: 1px solid #9068be;
    padding-top: 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    background: #ffffff;
}
.cart-nav{
    float: left;
    margin-top: 14px;
}
.cart-drop .dropdown-toggle::after {
    display: none;
}
.cart-drop .nav-link{
    padding-left: 0;
}


/* Menu */
.content-wrap ,.height-100{
    width: 100%;
    height: 100%;
}
.content-wrap {
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}
.content {
    position: relative;
    background: #ffffff;
    padding-top: 108px;
}
/* Overlay */
.content::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: #431c5d69;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0s 0.3s;
    transition: opacity 0.3s, transform 0s 0.3s;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
}

/* Menu Button */
.menu-button {
    position: absolute;
    z-index: 1000;
    margin: 1.1em 0;
    padding: 0;
    width: 2.5em;
    height: 2.25em;
    border: none;
    text-indent: 2.5em;
    font-size: 1.5em;
    color: transparent;
    background: transparent;
}
.menu-button::before {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    bottom: 0.5em;
    left: 0.5em;
    background: linear-gradient(#9068be 20%, transparent 20%, transparent 40%, #9068be 40%, #9068be 60%, transparent 60%, transparent 80%, #9068be 80%);
    content: '';
}
.menu-button:hover {
    opacity: 0.6;
}
/* Close Button */
.close-button {
    width: 1.5em;
    height: 1em;
    position: absolute;
    left: .5em;
    top: 1em;
    overflow: hidden;
    text-indent: 1em;
    border: none;
    background: transparent;
    color: transparent;
    font-weight: bold;
    font-size: 20px;
}
.close-button:focus{
    outline: none !important;
}
.close-button::before,
.close-button::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    top: 0;
    left: 50%;
    background: #431c5d;
}
.close-button::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.close-button::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
/* Menu */
.menu-wrap {
    position: absolute;
    z-index: 1001;
    width: 420px;
    height: 100vh;
    background: #ffffff;
    color: #431c5d;
    padding: 2em;
    -webkit-transform: translate3d(420px,-630px,0);
    transform: translate3d(420px,-630px,0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    text-align: center;
}
.icon-list a {
    display: block;
    color: #431c5d;
    font-weight: 700;
    padding: 0.6em 0.55em;
    font-size: 20px;
}
.icon-list a:hover,
.icon-list a:focus {
    color: #9068be;
}
.icon-list a span {
    margin-left: 10px;
}
/* Shown menu */
.show-menu .menu-wrap {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.show-menu .content::before {
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.menu-logo {
    margin-bottom: 35px;
    text-align: center;
}
.menu-button:focus{
    outline: none !important;
}
.hidden{
    display: none;
}
.login-sec .nav-pills .nav-link{
    border: 1px solid #431c5d;
    color: #431c5d;
    border-bottom: 1px solid #431c5d !important;
    background: #fff;
}
.login-sec .nav-pills {
    background: #ffffff;
    /*margin-right: -2em;*/
    margin-bottom: 20px;
}
.login-frm h4{
    text-align: right;
    font-size: 20px;
    margin-bottom: 5px;
}
.login-frm p{
    text-align: right;
    font-size: 16px;
    font-family: "DinNextMedium" !important;
    margin-bottom: 25px;
}
.login-frm .form-control{
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #6d6d6d;
    background: #ffffff !important;
    margin-bottom: 10px;
}
a.forget-pass {
    float: right;
    color: #431c5d;
    margin-bottom: 25px;
}
.forget-pass:hover{
    color: #9068be;
}
.login-frm .custom-control {
    text-align: right;
}
.custom-control a{
    color: #9068be;
}


/* cart dropdown */
.cart-drop span.badge {
    background: #9068be;
    color: #ffffff;
    border-radius: 50%;
    font-weight: 400;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 5px;
    top: 2px;
    padding-top: 7px;
    font-size: 14px;
}
img.logo {
    padding-top: 10px;
}
.cart-dropdown {
    width: 280px;
    padding: 10px;
    text-align: right;
    transform: none !important;
    top: 93px !important;
    border-radius: 0;
    border: 1px solid #ffffff;
    max-height: 500px;
    overflow-y: scroll;
}
.cart-dropdown img {
    height: 100px;
    width: 90px;
}
.cart-dropdown .title {
    font-size: medium;
    font-weight: 800;
    margin-bottom: 15px;
    color: #431c5d;
}
.cart-dropdown .media span {
    margin: 1px 5px;
    display: inline-block;
    min-width: 40px;
    line-height: 11pt;
    color: #6d6d6d;
    display: block;
    margin-bottom: 10px;
}
.cart-dropdown .media {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: 400;
}
.cart-dropdown .media .media-body .title a i {
    color: #431c5d;
    font-size: 14px;
}
.cart-dropdown .media .media-body .title a:hover i{
    color: #9068be;
}
.cart-dropdown .summary {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
}
.cart-dropdown .title {
    font-size: medium;
    font-weight: 800;
    margin-bottom: 15px;
}
.cart-dropdown .btn {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px !important;
    font-size: 16px !important;
}
.cart-dropdown h5{
    margin-bottom: 25px;
    font-size: 20px;
}
.logined-account-info {
    background: #431c5d;
    margin-left: -2em;
    margin-right: -2em;
    color: #ffffff;
    padding: 10px 25px;
}
.user-info img {
    width: 50px;
    height: 50px;
    float: right;
    margin-left: 10px;
}
.user-name h4 {
    text-align: right;
    font-size: 17px;
    margin-bottom: 0;
}
.user-name p {
    text-align: right;
    font-size: 15px;
    margin-bottom: 0;
    color: #ffffff;
}
.user-info{
    float: right;
    width: 70%;
}
.logined-account-info .setting-a{
    float: left;
    color: #ffffff;
    display: block;
    line-height: 45px;
}
.logined-account-info .setting-a:hover{
    color: #9068be;
}



/*   03 - Most Categories Styles   */
.sec-most-categories{
    padding: 50px 0;
    background: #f7f7f7;
}
.blue-btn {
    background: #431c5d;
    color: #ffffff;
    border: 1px solid #431c5d;
    border-radius: 0;
}
.blue-btn:hover{
    background: #9068be;
    color: #ffffff;
    border-color: #9068be;
}
.category-block {
    position: relative;
}
.category-block .blue-btn {
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-size: 15px;
    font-weight: 100;
}
.category-block img{
    width: 100%;
}

/*   04 - Products Styles          */
.sec-products {
    padding-top: 110px;
}
.sec-products h3{
    color: #431c5d;
    margin-bottom: 25px;
    font-size: 35px;
}
.product-disc {
    text-align: center;
    padding: 15px;
}
.product-disc h5 a{
    font-size: 18px;
    margin-bottom: 0;
    color: #1b1b1b;
    font-weight: bold;
    padding: 2px 0;
}
.product-disc h5 a:hover{
    border-bottom: 2px solid #6d6d6d;
}
.product-disc p{
    text-align: center;
    color: #6d6d6d;
    margin-bottom: 0;
}
.product-disc {
    text-align: center;
}
p.price {
    font-weight: bold;
    font-size: 16px;
}
.befor-discount{
    text-decoration: line-through;
    margin-right: 5px;
}
.after-discount{
    color: #431c5d;
}
.product-photo {
    position: relative;
}
.product-photo i{
    position: absolute;
    color: #431c5d;
    top: 15px;
    left: 15px;
}
.white-btn {
    background: #f7f7f7;
    border: 1px solid #431c5d;
    border-radius: 0;
    width: 100;
    padding: 10px 35px;
    font-size: 18px;
}
.product-block .white-btn {
    position: absolute;
    bottom: 75px;
    width: 80%;
    right: 10%;
    display: none;
}
.white-btn:hover{
    background: #9068be;
    color: #ffffff;
    border-color: #9068be;
}
.product-block {
    margin-bottom: 20px;
}
.hidden{
    display: none;
}
.product-block .product-photo:hover .white-btn{
    display: block;
}

/*   05 - Footer Styles            */
.top-footer {
    padding: 50px 0 20px 0;
    border-top: 1px solid #9068be;
}
.footer-menu {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    margin-top: 20px;
}
.footer-logo{
    float: right;
    margin-left: 20px;
}
.top-footer p {
    line-height: 2;
}
.top-footer h4{
    color: #431c5d;
    font-family: 'DinNextMedium' !important;
    font-size: 25px;
}
.footer-menu a {
    color: #1b1b1b;
    margin-bottom: 5px;
    display: block;
    font-size: 18px;
}
.footer-menu a img{
    margin-left: 5px;
}
.footer-menu .active a, .footer-menu a:hover{
    color: #9068be;
}
.social-icon a.nav-link {
    border-radius: 50%;
    color: #431c5d;
    border: 1px solid #431c5d;
    width: 42px;
    height: 42px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    margin: 0 10px;
}
.social-icon a.nav-link:hover{
    background: #431c5d;
    color: #ffffff;
}
.social-icon{
    margin-top: 75px;
    margin-bottom: 60px;
}
.download-btns a{
    display: inline-block;
}
.padd-0{
    padding: 0;
}
.copyright-footer {
    background: #431c5d;
    padding: 15px 0;
}
.copyright-footer p{
    margin-bottom: 0;
    color: #ffffff;
}
.copyright a{
    color: #ffffff;
}
a.smart-logo {
    display: inline-block;
    margin-right: 35px;
}
/* Back to top button */
.back-to-top {
    position: fixed;
    display: none; 
    border-radius: 30%;
    right: 65px;
    bottom: 40px;
    transition: none;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 3px 0;
    background-color: #9068be;
    z-index: 9999;
    color: #fff;
    font-size: 20px;
}
.back-to-top .fa{
    color: #fff !important;
    padding: 0px 10px 0px 10px;
    font-size: 23px;
    font-style: normal;
    font-weight: 100;
}
.back-to-top:hover {
  background: #431c5d;
  color: #fff;
}


/*   06 - Account Styles           */
.breadcrumb-sec {
    background: #f7f7f7;
    padding: 10px 0;
}
.breadcrumb {
    background: transparent;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}
.breadcrumb-item a{
    color: #9068be;
    font-family: 'DinNextMedium' !important;
    font-size: 18px;
}
.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
    color: #1b1b1b;
    content: "|";
    font-size: 18px;
}
.breadcrumb-item.active {
    color: #1b1b1b;
    font-family: 'DinNextMedium' !important;
    font-size: 18px;
}
.padding-100{
    padding: 100px 0;
}
.account-title {
    margin-bottom: 30px;
    font-size: 30px;
    color: #431c5d;
}
.nav-pills {
    background: #f7f7f7;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #ffffff;
    background-color: #431c5d;
}
.nav-pills .nav-link {
    border-radius: 0;
    border-bottom: 1px solid #dedede;
    color: #6d6d6d ;
    text-align: center;
}
.red-color{
    color: #c10130;
}
.address-title .bblue-btn{
    width: auto;
}
.address-title h4{
    font-size: 20px;
    line-height: 46px;
}
.address-block{
    background: #f7f7f7;
    padding: 20px;
    margin-bottom: 20px;
}
.address-block p{
    margin-bottom: 0;
}
.address-block .custom-control-label{
    font-weight: bold;
}
.my-orders-tab .gray-bg{
    margin-bottom: 20px;
    margin-top: 20px;
}
.my-orders-tab .gray-bg p{
    margin-bottom: 5px;
}
.form-check-inline .form-check-input {
    position: static;
    margin-top: 0;
    margin-left: .3125rem !important;
    margin-right: 0 !important;
    margin-top: 2px !important;
}
img.baneer-img {
    margin-bottom: 20px;
}
.my-acc .nav .nav-link {
    display: block;
    padding: .5rem 30px;
    text-align: center;
    font-size: 22px;
}
.my-acc .nav .nav-link span{
    color: #431c5d;
}
.my-acc .nav{
    margin-bottom: 20px;
}
.my-acc .nav .nav-link:hover span{
    color: #9068be;
}
.my-acc h4{
    color: #9068be;
}
.my-acc hr{
    border-top: 1px solid #9068be;
}
.my-acc .nav li a img{
    display: block;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}


/*   07 - Empty Cart Styles        */
.error-sec h4{
    font-size: 30px;
    margin-bottom: 50px;
}
.error-sec .btn{
    padding: 15px 70px;
}
.error-img{
    margin-bottom: 50px;
}


/*   08 - Cart Page Styles         */
.mb-25{
    margin-bottom: 25px !important;
}
.cobon-txt{
    border-radius: 0;
    height: 46px;
}
.wishlist-tble td, .wishlist-tble th{
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.wishlist-tble td img{
    height: 150px;
}
.delete-item{
    color: #1b1b1b;
}
.delete-item:hover{
    color: #9068be;
}
.wishlist-tble{
    width: 100%;
}
.table .thead-light th{
    background: #f7f7f7 !important;
    border-color: #f4f5f7;
}
.custom-input {
    background: #dedede;
    border-radius: 0;
    text-align: center;
    float: none !important;
    width: 60px;
    text-align: center;
    float: none !important;
    display: inline-block;
}
.tefresh-btn {
    background: #431c5d;
    border: 1px solid #431c5d;
    color: #ffffff;
    border-radius: 0;
    display: inline-block;
    margin-top: -7px;
    margin-right: 5px;
}
.tefresh-btn:hover{
    background: #9068be;
    border: 1px solid #9068be;
    color: #ffffff;
}
.title-u {
    border-bottom: 1px solid #431c5d;
    margin-bottom: 20px;
}
.title h4{
    color: #431c5d;
    margin-bottom: 20px;
}
.gren-color{
    color: #3cb73c;
}
.bblue-btn{
    background: #9068be;
    color: #ffffff;
    border: 1px solid #9068be;
    border-radius: 0;
    width: 100%;
}
.bblue-btn:hover{
    background: #431c5d;
    color: #ffffff;
    border: 1px solid #431c5d;
}
.blue-color{
    color: #431c5d;
}
.cobon-btn {
    height: 46px;
    width: 100%;
}

/*   09 - Contact Page Styles      */
.contact-form {
    background: #f7f7f7;
    padding: 20px;
}
.contact-form .form-control{
    border-radius: 0;
}
.width-100{
    width: 100%;
}
.contact-form img{
    margin-bottom: 20px;
}

/*   10 - Brands Page Styles       */
.filter-side-bar .list-group-item .custom-control-label{
    width: 100%;
} 
.filter-bar {
    border-top: 1px solid #f7f7f7;
    border-bottom: 1px solid #f7f7f7;
    padding: 10px 0;
    margin-bottom: 20px;
}
.filter-bar .form-group, .filter-bar label, .filter-bar p{
    margin-bottom: 0;
}
.filter-bar .form-control-inline{
    margin-left: 20px;
}
.filter-bar label{
    margin-left: 5px;
}
.filter-bar .icons{
    text-align: left;
}
.filter-bar .icons i{
    background: #f7f7f7;
    padding: 5px;
    margin-right: 10px;
    cursor: pointer;
}
.filter-bar .icons i.active{
    background: #9068be;
    color: #ffffff;
}
.brands-filter-sec .most-trated-block{
    margin-bottom: 15px;
}
.pagination-sm .page-item:first-child .page-link {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.pagination-sm .page-item:last-child .page-link {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.page-item{
    margin-right: 5px;
}
.page-item.disabled .page-link {
    color: #ffffff;
    background-color: #9068be;
    border-color: #9068be;
}
.page-link {
    color: #1b1b1b;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
.page-link:hover {
    color: #9068be;
}
.side-bar-title h4{
    margin-bottom: 0;
}
.side-bar-title {
    border-bottom: 1px solid #f7f7f7;
    padding: 7px 0;
}
.filter-side-bar .list-group-item{
    padding-right: 0;
    padding-left: 0;
    color: #6d6d6d;
    cursor: pointer;
}
.filter-side-bar .list-group-item i{
    font-size: 14px;
}
.filter-side-bar .list-group-item:hover {
    color: #9068be;
}
.open-filter{
    display: none;
}
.rangeValues{
    display: block;
    font-weight: bold;
    float: left;
    direction: ltr;
    margin-top: 5px;
}
.range-slider {
    padding: 10px 0;
}
#slider-range{
    margin-bottom: 15px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid #9068be;
    background: #ffffff;
    font-weight: normal;
    border-radius: 50%;
    color: #454545;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 0;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 0;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 0;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 0;
}
.ui-slider-horizontal {
    height: 8px;
}
.ui-widget.ui-widget-content {
    border: 0;
}
.ui-widget-content {
    background: #f7f7f7;
}
.ui-slider .ui-slider-handle {
    width: 15px;
    height: 15px;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -4px;
    margin-left: 0;
}
button.btn.btn-price-filter {
    background: #1b1b1b;
    color: #fff;
    padding: 1px 20px 5px 20px;
    border-radius: 0; 
}

.side-bar-title h4{
    margin-bottom: 5px;
    font-weight: bold;
}
.rating-filter {
    padding: 10px 0;
}
.rating-filter .rating-container .rating-stars {
    float: right;
}
.filter-side-bar .list-group{
    margin-bottom: 20px;
}
.list-view .rating-container .rating-stars {
    float: none;
    margin-bottom: 10px;
}
.list-view .product-desc .product-name{
    float: none;
}
.list-view .fav-btn , .list-view .view-btn{
    position: initial;
}
.list-view .prod-action{
    margin-top: 15px;
}
.list-view .product-name{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 15px;
}
.list-view .badge{
    border: 0;
    position: absolute;
    top: 20px;
    padding: 8px 20px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 18px;
    border-radius: 0;
}
.hidden{
    display: none;
}
.grid-view .product-item{
    margin-bottom: 20px;
    position: relative;
}
.mb-10{
    margin-bottom: 10px;
}
.preview-product-carousel .owl-next span, .preview-product-carousel .owl-prev span {
    font-size: 30px;
    line-height: 20px;
    color: #238586;
}
.preview-product-carousel .owl-prev {
    position: absolute;
    top: 35%;
    right: -50px;
    background: #ffffff !important;
    width: 35px;
    height: 35px;
    opacity: 1 !important;
    border: 1px solid #9068be !important;
    border-radius: 0 !important;
}
.preview-product-carousel .owl-next {
    position: absolute;
    top: 35%;
    left: -50px;
    background: #ffffff !important;
    width: 35px;
    height: 35px;
    opacity: 1 !important;
    border: 1px solid #9068be !important;
    border-radius: 0 !important;
    font-size: 20px;
}
.add-comment-frm{
    margin-bottom: 20px;
}
.custom-control {
    padding-left: 0;
    padding-right: 1.5rem;
}
.custom-control-label::before {
    right: -1.5rem;
    left: auto;
    background-color: #fff;
    border-radius: 0 !important;
}
.custom-control-label::after {
    right: -1.5rem;
    left: auto;
    border-radius: 0 !important;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #9068be;
    background-color: #9068be;
}
button.add-pro-to-fav {
    background: transparent;
    border: 0;
    float: left;
}
button.add-pro-to-fav:focus{
    outline: 0 !important;
}


/*   11 - Preview Page Styles      */
.pro-img{
    margin-bottom: 15px;
    width: 100%;
    height: 150px;
}
.lg-pro-img{
    width: 100%;
    height: 550px;
}
#thumbs2{
    height: 550px;
}
.pro-desc {
    background: #f7f7f7;
    padding: 15px 20px;
    min-height: 550px;
}
.pro-desc p{
    margin-bottom: 5px;
}
.pro-desc .price{
    font-size: 20px;
}
.pro-shop-frm {
    margin-top: 20px;
    margin-bottom: 20px;
}
.pro-shop-frm label{
    font-size: 18px;
    color: #431c5d;
    font-family: "DinNextMedium" !important;
}
.pro-shop-frm .form-control{
    border-radius: 0;
    border-color: #431c5d;
}
a.size-table {
    float: left;
    color: #431c5d;
}
.size-table img{
    margin-left: 5px;
}
.product-social-icon .nav-link{
    background: #9068be73;
    border-radius: 5px;
    margin-left: 10px;
    color: #431c5d;
}
.product-social-icon .nav-link:hover{
    color: #9068be;
    background: #431c5d;
}
.product-social-icon a.nav-link.float-left {
    margin-left: 0;
    background: #f7f7f7;
    border: 1px solid #431c5d;
    border-radius: 0;
}
.product-view-tabs{
    margin-top: 50px;
}
.product-view-comment{
    margin-top: 30px;
}
.slected-img{
    border: 1px solid #9068be;
}


.jqzoom {
    text-decoration: none;
    float: none;
    width: 100%;
}
.zoomPad>img{
    max-height: 550px;
    width: 100%;
}
.zoomPad {
    float: none;
    width: 100%;
    z-index: 10 !important;
}
/*.zoomWrapperImage {
    height: 250px !important;
    width: 80% !important;
}*/
/*rating*/
.rating-container .rating-stars {
    position: relative;
    cursor: pointer;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    direction: ltr !important;
    float: right;
    margin-top: 5px;
    margin-left: 10px;
}
.rating-container .caption{
    display: none !important;
}
.rating-container .filled-stars {
    color: #431c5d;
    -webkit-text-stroke: 0;
    text-shadow: none;
}
.rating-md {
    font-size: 12px;
}
.rating-container .star {
    margin: 0 2px;
}
.rating-container .empty-stars {
    color: #6d6d6d;
    -webkit-text-stroke: 0;
    text-shadow: none;
}
.clear-rating{
    display: none !important;
}
.rating-stars{
    margin-top: 2px;
}
.inline-rate .star-ratings{
    display: inline-block;
}
/* end raitng */
.user-comment-block {
    background: #f7f7f7;
    padding: 20px;
}
.user-comment-block .fa-user{
    font-size: 30px;
    width: 60px;
    height: 60px;
    background: #ddd;
    border-radius: 50%;
    color: #6b6b6b;
    padding: 12px;
    margin-bottom: 5px;
}
.user-comment-block h5{
    font-family: "DinNextRegular" !important;
    font-size: 18px;
}
span.time {
    color: #6b6b6b;
}
.user-comment-block p{
    margin-bottom: 0;
}
.user-comment-block{
    margin-bottom: 20px;
}
.related-products{
    margin-top: 50px;
}
.modal-dialog {
    max-width: 1140px;
}
.modal {
    z-index: 9999;
}
.modal-content {
    border: 1px solid #f7f7f7;
    border-radius: 0;
}
#thumbs2-next {
    bottom: -9px;
}
#thumbs2-prev {
    top: -7px;
}
.modal-content .pro-desc {
    background: #ffffff;
    padding: 0;
    height: 550px;
}

/* Success PopUp */
.sucess-popup.alert {
    position: absolute;
    top: 108px;
    z-index: 99;
    border: 1px solid #f7f7f7;
    border-radius: 0;
    right: 50px;
    background: #9068be;
}
.sucess-popup img {
    width: 100px;
    margin-right: 0;
    margin-left: 10px;
}
.sucess-popup h4 {
    font-size: 20px;
    margin-bottom: 0;
}
.sucess-popup.alert p {
    margin-bottom: 25px;
}
.sucess-popup .white-btn {
    border: 1px solid #431c5d;
    border-radius: 0;
    padding: 6px 35px;
    font-size: 17px;
}
.sucess-popup .blue-btn:hover {
    background: #f7f7f7;
    color: #431c5d;
    border-color: #431c5d;
}
.alrts{
    position: absolute;
    top: 110px;
    width: 100%;
}
.error-alert{
    background: #f0144d;
    border: 1px solid #f1f1f1;
    padding: 10px 20px;
    color: #ffffff;
    border-radius: 0;
    z-index: 999;
    width: 100%;
    display: none;
}
.sucess-alert {
    background: #9068be;
    border: 1px solid #431c5d;
    padding: 10px 20px;
    color: #ffffff;
    z-index: 999;
    width: 100%;
    display: none;
    border-radius: 0;
}
.close-alert {
    float: left;
    margin-top: 5px;
    cursor: pointer;
}
.right-fa{
    margin-left: 10px;
    font-size: 25px;
}
.sucess-alert span{
    font-size: 18px;
}
.gray-bg{
    background: #f7f7f7;
    padding: 20px;
}

/*--------------- */
.modal-header .close {
    padding: 1rem 1rem;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
}
.modal-title {
    width: 100%;
}
.modal-dialog {
    margin-top: 115px;
}
input.plus, .minus {
    margin-left: 0;
    background: #f7f7f7;
    border: 1px solid #431c5d;
    border-radius: 0;
    height: 38px;
    width: 38px;
}
.input-text.qty.text {
    height: 38px;
    width: calc( 100% - 100px );
    display: inline-flex;
    text-indent: 10px;
    border-radius: 0;
    border: 1px solid #431c5d;
    margin-right: 8px;
    margin-left: 8px;
    vertical-align: bottom;
}
.after-discount {
    color: #431c5d;
    font-size: 20px;
    font-weight: 600;
}
.gray-color{
    color: #6d6d6d;
}
.pro-shop-frm h5 {
    font-size: 18px;
    color: #431c5d;
    font-family: "DinNextMedium" !important;
}
.add-pro-to-fav{
    color: #431c5d;
}
.product-photo i {
    cursor: pointer;
}
.breadcrumb-sec .breadcrumb-item:last-child a span{
    color: #1b1b1b !important;
}
.list-view .product-preview-desc h4 a{
    font-size: 1.5rem;
    color: #1b1b1b;
    font-weight: bold;
}
.account-sec .buttons .col-md-6.col-12:last-child{
    text-align: left;
}
.account-sec .btn-danger, .account-sec .btn-default{
    background: #431c5d;
    color: #ffffff;
    border: 1px solid #431c5d;
    border-radius: 0;
}
.account-sec .btn-primary, .account-sec .btn-info {
    background: #f7f7f7;
    border: 1px solid #431c5d;
    border-radius: 0;
    color: #431c5d;
}
.error-sec p {
    font-size: 30px;
    margin-bottom: 50px;
    font-weight: bold;
}
.error-sec h4 {
    display:none;
}
.ml-10{
    margin-left: 10px;
}

.alert-danger{
    background: #f0144d;
    border: 1px solid #f1f1f1;
    padding: 10px 20px;
    color: #ffffff;
    border-radius: 0;
}
.alert-success  {
    background: #9068be;
    border: 1px solid #431c5d;
    padding: 10px 20px;
    color: #ffffff;
    border-radius: 0;
}
.mfp-wrap {
    z-index: 99999;
}
.mfp-iframe-holder .mfp-content {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    border: 1px solid #f1f2f3;
}
.mfp-iframe-scaler iframe {
    padding: 20px;
}
.mfp-iframe-scaler .pro-desc {
    background: #ffffff;
    padding: 0;
    height: 550px;
}
.mfp-iframe-holder{
    padding-top:25px;
    padding-bottom: 25px;
}
button#button-coupon {
    height: 46px;
}


div#regular_chart_table_wrap_master {
    background: #f1f2f3;
}
.product-page.quickview{
    /*overflow-y: hidden !important;*/
}
#thumblist{
    transform: translateY(10px) !important;
}
.mfp-iframe-scaler iframe {
    padding: 0px;
}

/*#thumbs2 {*/
/*    padding: 10px 0;*/
/*}*/
#thumbs2 {
    overflow: hidden;
}
.side-column{
    display: none;
}
.zoomPad {
    overflow: hidden;
}
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    body{
        overflow-x: hidden !important;
    }
    .menu-button {
        margin: 0.8em 0;
        font-size: 1.2em;
    }
    .cart-nav {
        float: left;
        margin-top: 5px;
    }
    img.header-ico {
        width: 32px;
        height: 42px;
    }
    .cart-drop span.badge {
        right: 1px;
    }
    .content {
        padding-top: 74px;
    }
    .cart-dropdown {
        top: 67px !important;
    }
    .menu-wrap {
        width: 90%;
    }
    .category-block{
        margin-bottom: 20px;
    }
    .sec-products h3 {
        font-size: 26px;
    }
    .product-photo img{
        width: 100%;
    }
    .footer-logo {
        float: none;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 15px;
    }
    .social-icon {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .padd-0 {
        padding: 15px;
    }
    .download-btns {
        text-align: center;
    }
    .copyright-footer p {
        font-size: 16px;
        text-align: center;
    }
    .m-30{
        width: 100%;
        display: block;
        height: 30px;
    }
    .user-info img {
        width: 40px;
        height: 40px;
        float: right;
        margin-left: 5px;
    }
    .user-name h4 {
        font-size: 15px;
    }
    .user-info {
        width: 65%;
    }
    .open-filter {
        display: block;
        padding: 10px 15px;
        background: #431c5d;
        color: #ffffff;
        cursor: pointer;
        margin-bottom: 15px;
    }
    .filter-side-bar {
        display: none;
        margin-bottom: 20px;
    }
    .open-filter i{
        margin-left: 10px;
    }
    .filter-bar label{
        display: none;
    }
    .nav-pills {
        margin-bottom: 25px;
    }
    .my-acc .nav li a img {
        display: inline-block;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 0;
        width: 70px;
    }
    .my-acc .nav .nav-link {
        display: block;
        padding: .5rem 10px;
        text-align: right;
        font-size: 22px;
    }
    .pro-desc {
        margin-top: 30px;
        min-height: auto;
    }
    .modal-dialog {
        max-width: 330px;
        margin-left: auto;
        margin-right: auto;
    }
    .sucess-popup.alert {
        position: absolute;
        top: 75px;
        z-index: 99;
        border: 1px solid #f7f7f7;
        border-radius: 0;
        right: 10px;
        background: #9068be;.pro-desc
        max-width: 95%;
    }
    .sucess-popup .white-btn {
        padding: 6px 10px;
        font-size: 17px;
    }
    .alrts{
        top: 75px;
    }
    .tableHead {
        width: 20%;
    }
    .mobile_scroll_wrap8 { width: 80%; }
    .wishlist-tble td img {
        height: auto;
        width: auto;
    }
    .mfp-iframe-holder .mfp-content {
        height: 90%;
    }
    .account-sec .buttons .col-12 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 576px){
    
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 566px) and (max-width: 767.98px) { 
    .category-block {
        margin-bottom: 20px;
    }
    .sec-most-categories .col-12 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .sec-products .col-md-3.col-12{
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .pro-desc {
        min-height: auto;
    }
    .mfp-iframe-holder .mfp-content {
        height: 100%;
    }
    .cart-dropdown {
        max-height: 250px;
    }
    .wishlist-tble td img {
        height: auto;
    }
    .nav-pills {
        margin-bottom: 25px;
    }
    .grid-view .col-md-4.col-12, .list-view .col-md-3.col-12, .list-view .col-md-9.col-12{
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .filter-side-bar {
        display: none;
    }
    .account-sec .buttons .col-12 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    .footer-menu a {
        color: #1b1b1b;
        margin-bottom: 5px;
        display: block;
        font-size: 17px;
    }
    .footer-menu {
        -webkit-columns: 1;
        -moz-columns: 1;
        columns: 1;
        margin-top: 20px;
    }
    .social-icon a.nav-link {
        border-radius: 50%;
        color: #431c5d;
        border: 1px solid #431c5d;
        width: 42px;
        height: 42px;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        margin: 0 6px;
    }
    .download-btns a {
        display: inline-block;
        margin-bottom: 20px;
    }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 1200px) and (max-width: 1366px) { 
   
    
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }

@media (min-width: 768px)
{
.brands-filter-sec .col-md-9 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}


.brands-filter-sec .col-md-4 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.list-view .col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

}