<h5>{{ heading_title }}</h5>
<p class="gray-p mb-25">{{ heading_title2 }}</p>
    <div class="row">
        <div class="col-md-5 col-6">
            <input name="coupon" value="{{ coupon }}" placeholder="{{ entry_coupon }}" id="input-coupon"  type="text" class="form-control cobon-txt">
        </div>
        <div class="col-md-3 col-6">
            <button type="button" value="{{ button_coupon }}" id="button-coupon" data-loading-text="{{ text_loading }}"   class="btn btn-light blue-btn">{{ apply_text }}</button>
        </div>
    </div>
 
      <script type="text/javascript"><!--
$('#button-coupon').on('click', function() {
	$.ajax({
		url: 'index.php?route=extension/total/coupon/coupon',
		type: 'post',
		data: 'coupon=' + encodeURIComponent($('input[name=\'coupon\']').val()),
		dataType: 'json',
		beforeSend: function() {
			$('#button-coupon').button('loading');
		},
		complete: function() {
			$('#button-coupon').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible').remove();

			if (json['error']) {
				$('.breadcrumb').after('<div class="alert alert-danger alert-dismissible warning"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

				$('html, body').animate({ scrollTop: 0 }, 'slow');
			}

			if (json['redirect']) {
				location = json['redirect'];
			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});
//--></script>
