<!-- Satrt Brands -->
    <section class="brands-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                   
                    {% for section in sections %}
                    
                    <div class="section-title">
                        <h4>{{ section.section_name }}</h4>
                        <img src="/catalog/view/theme/journal2/styleFiles/images/line.png" class="title-line"/>
                    </div>
                  {% endfor %}
                </div>
            </div>  
            
            {% for section in sections %}
            {% if section.items %}
            <div class="row">
                <div class="col-md-12 col-12">
                    <div class="brands-carousel owl-carousel owl-theme">
                    
                        {% for item in section.items %}
                             <div class="brand-item">
                              {% if item.thumb %}
                                <div class="image">
                                  <a href="{{ item.href }}" >
                                    <img class="first-image"  src="{{ item.thumb }}" title="{{ item.name }}" alt="{{ item.name }}"/>
                                  </a>
                                </div>
                              {% endif %}
                              {% if brand_name %}
                                <div class="product-details">
                                  <div class="name"><a href="{{ item.href }}">{{ item.name }}</a></div>
                                </div>
                              {% endif %}
                             
                          </div>
                        {% endfor %}
                        
                        </div>
                        
                    </div>
                </div>
                  {% endif %}
                {% endfor %}
            </div>
    </section>
    <!-- End Brands --> 