  <!-- Start Product Slider -->
    <section class="product-slider-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    {% for section in sections %}
                    
                    <div class="section-title">
                        <h4>{{ section.section_name }}</h4>
                        <img src="/catalog/view/theme/journal2/styleFiles/images/linewhite.png" class="title-line"/>
                    </div>
                  {% endfor %}
                </div>
            </div>  
            
            {% for section in sections %}
            {% if section.items %}
            <div class="row">
                <div class="col-md-12 col-12">
                    <div class="product-slider-carousel owl-carousel owl-theme">
                        {% for product in section.items %}
                        <div class="product-item {% if product.labels and product.labels.outofstock %} outofstock {% endif %}">
                             <a href="{{ product.href }}">
                              <img  src="{{ product.thumb }}" title="{{ product.name }}" alt="{{ product.name }}" class="product-pic">
                             </a>
                              {% for label, name in product.labels %}
                              <span class="badge badge-secondary new-badge label-{{ label }}">{{ name }}</span>
                             {% endfor %}
                            <div class="product-desc">
                                
                                <h5 class="product-name"><a href="{{ product.href }}">{{ product.name }}</a></h5>
                                <p class="about-prod">{{ product.description }}</p>
                                <p class="product-price">
                                     {% if not product.special %}
                                        <span class="price">{{ product.price }}</span>

                                      {% else %}
                                        <span class="price-old">{{ product.price }}</span> <span class="price price-new" {% if product.date_end %}data-end-date="{{ product.date_end }}"{% endif %}>{{ product.special }}</span>
                                      {% endif %}
                                      
                                    
                                </p>
                                <div class="star-ratings start-ratings-main">
                                    <input type="text" class="rating rating5" value="{{ product.rating }}" readonly="true"/>
                                </div>
                                <div class="clearfix"></div>
                                
                                <button type="button" onclick="addToCart('{{ product.product_id }}', '{{ product.minimum }}');"  data-hint="{{ button_cart }}"  {% if product.labels and product.labels.outofstock %} disabled="" {% endif %} class="btn btn-light white-btn">{{ button_cart }}</button>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            
            {% endif %}
            {% endfor %}
        </div>
    </section>
    <!-- End Product Slider -->