<!-- Products -->


            <section class="sec-products" id="cat{{ cat_id }}">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-12 clearfix">
                            {% for section in sections %}
                              {% if section.is_link %}
                                 
                              {% elseif section.items %}
                                 
                                <h3 class="float-right">{{ section.section_name }}</h3>
                                <a href="{{ section.moreProducts }}" class="btn btn-light blue-btn float-left">{{ showMore }}</a>
                              {% endif %}
                            {% endfor %}
                            
                            
                        </div>
                    </div>
                    <div class="row">
                    
                        {% for product in items %}
                        <div class="col-md-3 col-12">
                            <div class="product-block ">
                                <div class="product-photo">
                                   
                                    {% if product.thumb %}
                                      
                                        <a href="{{ product.href }}">
                                         <img src="{{ product.thumb }}" title="{{ product.name }}" alt="{{ product.name }}" />
                                         
                                        </a>
                                         
                                        
                                      
                                      
                                      {% endif %}
                                      <button style="background: none; border:none;" onclick="addToWishList('{{  product.product_id }}');" >
                                    <i class="far fa-heart hidden"></i>
                                    <i class="fas fa-heart"></i>
                                    </button>

                                  <a  product-id="{{ product.product_id }}" class="btn btn-light white-btn mfp-iframe quickviewLink"  >{{ quickView }}</a>
                                </div>
                                <div class="product-disc">
                                    <h5><a href="{{ product.href }}">{{ product.name }}</a></h5>
                                    <p>{{ dress_model_text }}  {{ product.model }}</p>
                                    {% if product.price %}
                                      <p class="price">
                                        {% if not product.special %}
                                           
                                          <span class="after-discount">{{ product.price }}</span>
                                        {% else %}
                                           
                                          <span class="befor-discount">{{ product.price }}</span>
                                          <span class="after-discount">{{ product.special }}</span>
                                        {% endif %}
                                      </p>
                                      
                                    {% endif %}
                                    
                                </div>
                            </div>
                        </div>
                        {% endfor %} 
                    </div>
                </div>
            </section>
            <!-- End Products -->
            
            
