<!-- Categories -->
            <section class="sec-most-categories">
                <div class="container">
                    <div class="row">
                        {% for item in items %}
                        <div class="col-md-3 col-12">
                            <div class="category-block">
                                {% if item.thumb %}
                                <img src="{{ item.thumb }}" title="{{ item.name }}" alt="{{ item.name }}"/>
                                {% endif %}
                                <a href="#cat{{ item.category_id }}" class="btn btn-light blue-btn">تسوق الان</a>
                            </div>
                        </div>
                        {% endfor %} 
                    </div>
                </div>
            </section>
            <!-- Categories -->
  