<!-- Start Slider Carousel -->
    <section class="slider-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <div class="slider-carousel owl-carousel owl-theme">
                        {% for slide in slides %}
                        <div class="item">
                            {% if slide.link %}
                            <a href="{{ slide.link }}" {{ slide.target }} ><img src="{{ slide.image }}" alt="{{ slide.name }}" class="slider-pic"/></a>
                            {% else %}
                            <img src="{{ slide.image }}" alt="{{ slide.name }}" class="slider-pic"/>
                            {% endif %}
                        </div>
                        
                         
                        {% endfor %} 
                    </div>
                    <div class="slider-desc text-center">
                        <h4>{{ slider_title }}</h4>
                        <p>{{ slider_text }}</p>
                        <a href="{{ btn_link }}" class="btn btn-light white-btn">{{ btn_title }}</a>
                    </div>
                </div>
            </div>      
        </div>
    </section>  
    <!-- End Slider Carousel -->
