 <!-- Start Advertisement -->
    <section class="advert-sec">
        <div class="container">
            <div class="row">
                {% for section in sections %}
                
                  <div class="col-md-6 col-12 {{ grid_classes }}">
                        {% if section.link %}
                      <a href="{{ section.link }}" {{ section.target }}> <span class="banner-overlay" style="{{ image_border }}; {% if bgcolor %} background-color: {{ bgcolor }} {% endif %}">{{ icon }}</span><img style="{{ image_border }}" src="{{ section.image }}" width="{{ section.image_width }}" height="{{ section.image_height }}" alt="{{ section.image_title }}"/></a>
                    {% else %}
                    <img style="{{ image_border }}" src="{{ section.image }}" alt="{{ section.image_title }}" width="{{ section.image_width }}" height="{{ section.image_height }}"/>
                    {% endif %}
                  </div>  
                  
                {% endfor %}
                
                
            </div>
        </div>
    </section>    
<!-- End Advertisement -->
 