<div class="product-filter" data-countdown="{{ journal2.settings.get('show_countdown', 'never') }}">
  <div class="display"><b>{{ text_display }}</b> {{ text_list }} <b>/</b> <a onclick="display('grid');">{{ text_grid }}</a></div>
  <div class="product-compare"><a href="{{ compare }}" id="compare-total">{{ text_compare }}</a></div>
  <div class="limit"><b>{{ text_limit }}</b>
    <select onchange="location = this.value;">
      {% for limits in limits %}
        {% if limits.value == limit %}
          <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
        {% else %}
          <option value="{{ limits.href }}">{{ limits.text }}</option>
        {% endif %}
      {% endfor %}
    </select>
  </div>
  <div class="sort"><b>{{ text_sort }}</b>
    <select onchange="location = this.value;">
      {% for sorts in sorts %}
        {% if sorts.value == '%s-%s'|format(sort, order) %}
          <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
        {% else %}
          <option value="{{ sorts.href }}">{{ sorts.text }}</option>
        {% endif %}
      {% endfor %}
    </select>
  </div>
</div>
<div class="row main-products product-grid grid-view">
                          
                        {% if products %} 
                        
                        {% for product in products %}
                        <div class="col-md-4 col-12">
                            <div class="product-item {% if product.labels and product.labels.outofstock %} outofstock {% endif %}">
                                <img  src="{{ product.thumb }}" title="{{ product.name }}" alt="{{ product.name }}" class="product-pic">
                                
                                <div class="product-desc">
                                      
                                             
                                    <h5 class="product-name"><a href="{{ product.href }}">{{ product.name }}</a></h5>
                                    <div class="star-ratings start-ratings-main">
                                        <input type="text" class="rating rating5" value="{{ product.rating }}" readonly="true"/>
                                    </div>
                                    <div class="clearfix"></div>
                                    <p class="product-price">
                                     {% if not product.special %}
                                        {{ product.price }}
                                      {% else %}
                                        <span class="price-old">{{ product.price }}</span> <span class="price price-new" {% if product.date_end %}data-end-date="{{ product.date_end }}"{% endif %}>{{ product.special }}</span>
                                      {% endif %}
                                    </p>
                                    
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        
                        {% endif %}
                    </div>
                    <div class="list-view hidden main-products product-list">
                      
                       {% if products %} 
                        
                        {% for product in products %}
                        <div class="row  {% if product.labels and product.labels.outofstock %} outofstock {% endif %}">
                            <div class="col-md-3 col-12">
                                <img  src="{{ product.thumb }}" title="{{ product.name }}" alt="{{ product.name }}" class="product-pic">
                                {% for label, name in product.labels %}
                                  <span class="badge badge-secondary new-badge label-{{ label }}">{{ name }}</span>
                                {% endfor %}
                            </div>
                            <div class="col-md-9 col-12">
                                <div class="product-preview-desc">
                                    <h4>
                                       {{ product.name }}
                                        <button  onclick="addToWishList('{{ product_id }}');" class="add-pro-to-fav"><i class="fas fa-heart"></i></button>
                                    </h4>
                                     
                                     
                                    <p class="product-price">
                                     {% if not product.special %}
                                        {{ product.price }}
                                      {% else %}
                                        <span class="price-old">{{ product.price }}</span> <span class="price price-new" {% if product.date_end %}data-end-date="{{ product.date_end }}"{% endif %}>{{ product.special }}</span>
                                      {% endif %}
                                    </p>
                                    <div class="star-ratings start-ratings-main">
                                        <input type="text" class="rating rating5" value="{{ product.rating }}" readonly="true"/>
                                    </div>
                                     
                                    
                                </div>
                            </div>
                        </div>
                        <hr>
                         
                        {% endfor %}
                        
                        {% endif %}
                    </div>
{% if not products %}
    <p class="no-results">{{ text_no_results }}</p>
{% endif %}
<div class="row pagination">
  <div class="col-sm-6 text-left links">{{ pagination }}</div>
  <div class="col-sm-6 text-right results">{{ results }}</div>
</div>
 