


<div class="box sf-manufacturer sf-{{ manufacturer_display_mode }} sf-{{ manufacturer_type }}> {% if is_collapsed %} is-collapsed {% endif %}" data-id="manufacturer">
 
  
  <div class="side-bar-title">
        <h4>{{ journal2.settings.get('filter_brands_text', text_manufacturers) }}</h4>
    </div>
    <ul class="list-group list-group-flush {% if not journal2.settings.get('filter_show_box') %} hide-checkbox {% endif %}">
        
        
        {% for manufacturer in manufacturers %}
       
            
          <li class="list-group-item">
            <div class="custom-control custom-checkbox">
             
                <input data-keyword="{{ manufacturer.keyword }}" type="checkbox" name="manufacturer" value="{{ manufacturer.manufacturer_id }}"  id="agreeCheck{{ manufacturer.manufacturer_id }}" class="custom-control-input"/>
                <label class="custom-control-label" for="agreeCheck{{ manufacturer.manufacturer_id }}">
                    <span>{{ manufacturer.name }}</span>
                    <span class="float-left">({{ manufacturer.count }})</span>
                </label>
            </div>
        
        </li>
        
      {% endfor %}
      
      
        
    </ul>
   
</div>
