<div class="box sf-option sf-{{ option.display_mode }} sf-option-{{ option.option_id }} sf-{{ option.type }} {% if is_collapsed %} is-collapsed {% endif %}" data-id="option-{{ option.option_id }}">
   
  <div class="side-bar-title">
        <h4>{{ option.option_name }}</h4>
    </div>
  
    <ul class="list-group list-group-flush {% if not journal2.settings.get('filter_show_box') %} hide-checkbox {% endif %}">
      {% for value in option.values %}
         
           
          <li class="list-group-item">
            <div class="custom-control custom-checkbox">
             
                <input data-keyword="{{ value.keyword }}"  type="checkbox"  type="checkbox" name="option[{{ option.option_id }}]" value="{{ value.option_value_id }}" id="agreeCheck{{ value.option_value_id }}" class="custom-control-input"/>
                <label class="custom-control-label" for="agreeCheck{{ value.option_value_id }}">
                    <span>{{ value.option_value_name }}</span>
                    <span class="float-left">({{ value.count }})</span>
                </label>
            </div>
        
        </li>  
      {% endfor %}
    </ul>
   
</div>
