<div class="sf-price {% if price_slider != '1' %} sf-input {% endif %} box {% if is_collapsed %} is-collapsed {% endif %}" data-id="price" data-min-price="{{ min_price }}" data-max-price="{{ max_price }}">
  <div class="box-heading">
  <div class="side-bar-title">
                            <h4>{{ journal2.settings.get('filter_price_text', text_price) }}</h4>
                        </div>
  </div>
  <div class="box-content">
    {% if price_slider == '1' %}
      <section class="slider" data-min-value="{{ min_price }}" data-max-value="{{ max_price }}"></section>
    {% else %}
      <span class="{% if is_currency_left %} currency-left {% else %} currency-right {% endif %}">
            <label for="filter-min-price">{{ is_currency_left ? currency_left : currency_right }}</label>
            <input id="filter-min-price" type="text" class="min-price" value="{{ min_price }}"/>
        </span>
      <span class="{% if is_currency_left %} currency-left {% else %} currency-right {% endif %}">
            <label for="filter-max-price">{{ is_currency_left ? currency_left : currency_right }}</label>
            <input id="filter-max-price" type="text" class="max-price" value="{{ max_price }}"/>
        </span>
      <input type="button" class="button btn price-filter-button" value="{{ journal2.settings.get('filter_price_apply_text', 'Apply') }}"/>
    {% endif %}
  </div>
</div>
<style>
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
 
    border: 1px solid #a2d4d5;
    background: #ffffff!important;
    font-weight: normal!important;
    border-radius: 50%!important;
    color: #454545!important;
    height: 15px!important;
    width: 15px!important;
}
.ui-widget-header {
  
    border: 0 !important;
  background: #e9e9e9!important;
    color: #fff;
    font-weight: bold;
}
.sf-price .box-content {
    margin-top: 10px;
}
.ui-widget.ui-widget-content {
 
    border: 0 !important;
    background: #e9e9e9!important;
    color: #fff!important;
    font-weight: bold!important;
    height: 8px !important;
}
span.price-range-min.value {
    margin-top: 13px;
    display: block;
    color: #000;
    font-weight: bold;
}
span.price-range-max.value {
    margin-top: 13px !important;
    display: block;
    font-weight: bold;
    margin-right: -41px;
}
</style>