<div class="box sf-category sf-{{ category_display_mode }} sf-{{ category_type }} {% if is_collapsed %} is-collapsed {% endif %}" data-id="category">
  <div class="side-bar-title">{{ journal2.settings.get('filter_categories_text', text_categories) }}</div>
  
  
  <div class="box-content">
    <ul class="{% if not journal2.settings.get('filter_show_box') %} hide-checkbox {% endif %}">
      {% for category in categories %}
        {% if category_display_mode == 'list' %}
          <li><label><input data-keyword="{{ category.keyword }}" type="checkbox" name="category" value="{{ category.category_id }}"><span class="sf-name">{{ category.name }}</span></label></li>
        {% elseif category_display_mode == 'image' %}
          <li><label><input data-keyword="{{ category.keyword }}" type="checkbox" name="category" value="{{ category.category_id }}"><img width="{{ cat_image_width }}" height="{{ cat_image_height }}" src="{{ category.image }}" alt="{{ category.name }}" title="{{ category.name }}"/></label></li>
        {% else %}
          <li><label><input data-keyword="{{ category.keyword }}" type="checkbox" name="category" value="{{ category.category_id }}"><img width="{{ cat_image_width }}" height="{{ cat_image_height }}" src="{{ category.image }}" alt="{{ category.name }}"/><span class="sf-name">{{ category.name }} </span></label></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
