<div class="box sf-attribute sf-attribute-{{ attribute.attribute_id }} sf-{{ attribute.type }} {% if is_collapsed %} is-collapsed {% endif %}" data-id=" attribute-{{ attribute.attribute_id }}">
  <div class="side-bar-title">
  
        <h4>{{ attribute.attribute_name }}</h4>
  
  </div>
  
  
    <ul class="list-group list-group-flush {% if not journal2.settings.get('filter_show_box') %} hide-checkbox {% endif %}">
      {% for value in attribute.values %}
         
           
          <li class="list-group-item">
            <div class="custom-control custom-checkbox">
             
                 
                <input data-keyword="{{ value.keyword }}" type="checkbox" name="attribute[{{ attribute.attribute_id }}]" value="{{ value.text }}" id="agreeCheck{{ attribute.attribute_id }}" class="custom-control-input" />
                
                <label class="custom-control-label" for="agreeCheck{{ attribute.attribute_id}}">
                    <span>{{ value.name }}</span>
                    <span class="float-left">({{ value.count }})</span>
                </label>
            </div>
        
        </li>  
      {% endfor %}
    </ul>
    
    
  
</div>

