{{ header }}
<style>
label.col-sm-2.control-label {
    flex: 100% !important;
    max-width: 100% !important;
}
</style>
<!-- Start Bradcrumb -->
    <section class="breadcrumb-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            {% for breadcrumb in breadcrumbs %}
                              <li  class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ breadcrumb.href }}" itemprop="url"><span itemprop="title">{{ breadcrumb.text }}</span></a></li>
                            {% endfor %}
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Breadcrumb -->
    
    <!-- Start Contact Section -->
            <section class="contact-sec padding-100">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-12">
                            <div class="error text-center">
                                <img src="/catalog/view/theme/journal2/styleFiles/images/contactus.png" class="error-img">
                            </div>
                            <div class="contact-form">
                                <div class="row">
                                    <div class="col-md-5 col-12">
                                        <img src="/catalog/view/theme/journal2/styleFiles/images/logocontactus.png">
                                        <p class="text-justify">{{ text_contact1 }}</p>
                                    </div>
                                    <div class="col-md-7 col-12">
                                        <div class="section-title">
                                            <h4 class="account-title blue-color">{{ heading_title }}</h4>
                                        </div>
                                         <form action="{{ action }}" method="post"   novalidate="true">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>{{ entry_name }}</label>
                                                        <input type="text" class="form-control" placeholder="{{ entry_name }}" data-error="{{ entry_name }}" name="name" value="{{ name }}" id="input-name" required=""/>
                                                        {% if error_name %}
                                                          <div class="text-danger">{{ error_name }}</div>
                                                          {% endif %}
                                                    </div>
                                                </div>
                                                <div class="col">
                                                     <div class="form-group">
                                                        <label>{{ entry_email }}</label>
                                                        <input type="email" name="email" class="form-control" placeholder="{{ entry_email }}" value="{{ email }}" id="input-email"  data-error="Email not valid" required="">
                                                        {% if error_email %}
                                                          <div class="text-danger">{{ error_email }}</div>
                                                          {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group">
                                                <label>{{ entry_enquiry }}</label>
                                                <textarea class="form-control" rows="4" placeholder="{{ entry_enquiry }}" name="enquiry">{{ enquiry }}</textarea>
                                                {% if error_enquiry %}
                                                  <div class="text-danger">{{ error_enquiry }}</div>
                                                  {% endif %}
                                            </div>
                                            
                                                {{ captcha }}
                                          
                                             <button type="submit" class="btn btn-light blue-btn width-100">{{ button_submit }}</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>     
                </div>
            </section>

            <!-- End Contact Section -->
 
{{ footer }}
 
