{{ header }}

 <!-- Start Bradcrumb -->
            <section class="breadcrumb-sec">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-12">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    {% for breadcrumb in breadcrumbs %}
                                      <li  class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ breadcrumb.href }}" itemprop="url"><span itemprop="title">{{ breadcrumb.text }}</span></a></li>
                                    {% endfor %}
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Breadcrumb -->

            <!-- Start About Section -->
            <section class="about-sec padding-100">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-12">
                            <div class="section-title">
                                <h4 class="account-title blue-color">{{ heading_title }}</h4>
                            </div>
                        </div>
                    </div>  
                    <div class="row">
                        <div class="col-md-12 col-12">
                              {{ description }}
                        </div>
                    </div>     
                </div>
            </section>

            <!-- End About Section -->
 
     
        {{ content_bottom }}
 
    
 

{{ footer }}
