{% macro renderMultiLevelMenu(menu) %}
 
   
  {% for item in menu.subcategories %}
    {% set submenu = _self.renderMultiLevelMenu(item) %}
   
      <a {% if item.href %} href="{{ item.href }}" {% endif %} {% if item.target %} {{ item.target }} {% endif %}  class=" dropdown-item">
        {{ item.name }}
        {% if item.subcategories and item.subcategories | length > 0 %}
          <i class="menu-plus"></i>
        {% endif %}
      </a>
       
     
  {% endfor %}
{% endmacro %}
 
 
 
  {% for menu_item in menu_items %}
     
      {% if menu_item.href %}
        <a href="{{ menu_item.href }}" class="{% if menu_item.type == 'drop-down' and menu_item.subcategories and menu_item.subcategories | length > 0 %}  dropdown-toggle {% endif %} nav-link" 
        {% if menu_item.type == 'drop-down' and menu_item.subcategories and menu_item.subcategories | length > 0 %}
        id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
        {% endif %}
         {{ menu_item.target }}> {{ menu_item.name }}  </a>
      {% else %}
        <a>  {{ menu_item.name }} </a>
      {% endif %}

       
      {% if menu_item.type == 'drop-down' and menu_item.subcategories and menu_item.subcategories | length > 0 %}
        <div class="dropdown-menu main-drop" aria-labelledby="navbarDropdown">
          {{ _self.renderMultiLevelMenu(menu_item) }}
       </div>
      {% endif %}

           
   <!-- </li>-->
  {% endfor %}
<!--</ul>-->
