<!-- Start Header -->
    <header class="header">
        <div class="menu-wrap">
            <nav class="menu">
                <div class="menu-logo">
                    <a href="https://zefafe.cc/">
                    <img src="/catalog/view/theme/journal2/styleFiles/images/logomenu.png" alt="Zfafy"/>
                    </a>
                </div>
                {% if logged %}
                <div class="logined-account-info clearfix">
                    <div class="user-info">
                        <img src="/catalog/view/theme/journal2/styleFiles/images/userpic.png">
                        <div class="user-name">
                            <h4>{{ hello }}</h4>
                            <p>{{ first_name }}</p>
                        </div>
                    </div> 
                    <a href="/index.php?route=account/account" class="setting-a">{{ text_profile }}</a> 
                </div>
                
                {% endif %}
                <div class="icon-list">
                    {{ journal2.settings.get('config_mega_menu') }}
                    
                </div>
            </nav>
             
              
            <button class="close-button" id="close-button">Close Menu</button>
        </div>
        <div class="container height-100">
            <div class="row">
                <div class="col-md-4 col-4 text-right">
                    
                    <button class="menu-button" id="open-button">Open Menu</button>
                </div>
                <div class="col-md-4 col-4 text-center">
                <a href="https://zefafe.cc/">
                    <img src="/catalog/view/theme/journal2/styleFiles/images/logo.png" class="logo">
                </a>
                </div>
                <div class="col-md-4 col-4 text-left">
                    <ul class="nav cart-nav">
                         <li id="cart" class="nav-item dropdown cart-drop">
                        {{ cart }}
                        </li> 
                        
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- End Heaader -->
    <!-- Start Site Content -->
    <div class="content-wrap">
        <div class="content">
    