{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="button" id="submitBtn" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form onsubmit="return validateForm()" action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
          
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-api-key">{{ entry_api_key }}</label>
            <div class="col-sm-10">
              <input type="text" name="module_smartlife_api_key" value="{{ module_smartlife_api_key }}" placeholder="{{ entry_api_key }}" id="input-api-key" class="form-control" />
              {% if error_api_key %}
              <div class="text-danger">{{ error_api_key }}</div>
              {% endif %}
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-api-key">{{ entry_company_code }}</label>
            <div class="col-sm-10">
              <input type="text" name="module_smartlife_company_code" value="{{ module_smartlife_company_code }}" placeholder="{{ entry_company_code }}" id="input-company-code" class="form-control" />
              {% if error_company_code %}
              <div class="text-danger">{{ error_company_code }}</div>
              {% endif %}
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-warehouse">{{ entry_warehouse }}</label>
            <div class="col-sm-10">
              <select name="module_smartlife_warehouse" id="input-warehouse" class="form-control">
                <option value="0">{{ entry_warehouse_option }}</option>
                {% for warehouse in warehouses %}
                    {% if warehouse.id  == module_smartlife_warehouse %}
                    <option value="{{ warehouse.id }}" selected="selected"> {{ warehouse.name }}</option>
                    {% else %}
                    <option value="{{ warehouse.id }}"> {{ warehouse.name }}</option>
                    {% endif %}
                    
                {% endfor %}
                    
              </select>
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="module_smartlife_status" id="input-status" class="form-control">
                {% if module_smartlife_status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          
                                        
          
        </form>
      </div>
    </div>
  </div>
</div>

<script>

$('#submitBtn').click(function(){
    $("form[id*='form-']").submit();
});
function validateForm() {
     
    var savedWhid = '{{ module_smartlife_warehouse }}';
    var whid = $('select#input-warehouse').val();
    
    var savedCompany = '{{ module_smartlife_company_code }}';
    var company = $('input#input-company-code').val();
    
    if(savedWhid != '' && savedWhid != '0' && (whid != savedWhid)){
         if(confirm('{{ text_confirm }}') == false){
            
            return false;
        }
    }
    
    if(savedCompany != '' && (company != savedCompany)){
         if(confirm('{{ text_confirm_company }}') == false){
            
            return false;
        }
    }
} 

</script>
{{ footer }}