    <input type="text" name="captcha" class="inputMaterial" autocomplete="off" />
    <label>{{ entry_captcha }}</label>
    <div id="input-captcha">
    <img  src="index.php?route={{ xtensions_controller_path }}xbasic_captcha/captcha" alt="" />
    </div>    


