<style>
.panel-collapse.collapse.in {
    display: block;
}
</style> 
{% for link in links %} 
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %} 
 
<link href="catalog/view/javascript/xtensions/stylesheet/bs/js/datetimepicker/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet" media="screen" />
{% for style in styles %} 
<link rel="{{ style.rel }}" type="text/css" href="{{ style.href }}" media="screen" />
{% endfor %} 
{% if direction == 'rtl' %}
<link rel="stylesheet" href="/catalog/view/theme/journal2/styleFiles/css/checkout.css"/>
{% else %}
<link rel="stylesheet" href="/catalog/view/theme/journal2/styleFiles/css/checkout-en.css"/>
{% endif %}
{% if    custom_css  %} 
<style type="text/css"> 
{{ custom_css }} 
</style>
{% endif %} 

 
 
<script src="catalog/view/javascript/xtensions/stylesheet/bs/js/nprogress.js"></script>
<script src="catalog/view/javascript/xtensions/stylesheet/bs/js/datetimepicker/moment.min.js" type="text/javascript"></script>
<script src="catalog/view/javascript/xtensions/stylesheet/bs/js/datetimepicker/moment-with-locales.min.js" type="text/javascript"></script>
<script src="catalog/view/javascript/xtensions/stylesheet/bs/js/datetimepicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
{% for script in scripts %} 
<script src="{{ script }}" type="text/javascript"></script> 
{% endfor %} 
 
 
 
<nav class="navbar">
 
<div class="container">
<div class="row width-100">
 
<div class="col-md-12">
<div class="row bs-wizard" style="border-bottom:0;">                
<div id="step1" class="col-4  col-md-4  bs-wizard-step disabled"> 
<div class="text-center bs-wizard-stepnum text-muted"><span id="click1">{{ text_checkout_option }}<i id="undo1" style="padding-left:5px;{{ logged?'':'display:none;' }}" class="fa {{ logged?'fa-lock':'fa-edit' }}"></i></span></div>
<div class="progress"><div class="progress-bar"></div></div>
<a class="bs-wizard-dot"></a>
</div>               
<div id="step2" class="col-4  col-md-4 bs-wizard-step disabled">
<div class="text-center bs-wizard-stepnum text-muted"><span id="click2">{{ text_checkout_account }}<i id="undo2" style="padding-left:5px;display:none;" class="fa fa-edit"></i></span></div>  
<div class="progress"><div class="progress-bar"></div></div>				  
<a class="bs-wizard-dot"></a>
</div>                
<div id="step3" class="col-4  col-md-4 bs-wizard-step disabled">
<div class="text-center bs-wizard-stepnum text-muted"><span id="click3">{{ text_checkout_confirm }}</span></div>
<div class="progress"><div class="progress-bar"></div></div>
<a class="bs-wizard-dot"></a>
</div>
</div>
</div>
 
</div>
</div>
</nav>