{{ header }}

<!-- Start Bradcrumb -->
    <section class="breadcrumb-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            {% for breadcrumb in breadcrumbs %}
                              <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ breadcrumb.href }}" itemprop="url"><span itemprop="title">{{ breadcrumb.text }}</span></a></li>
                            {% endfor %}
                             
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Breadcrumb -->

    <!-- Start Policy Section -->
    <section class="policy-sec padding-100">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <div class="section-title">
                        <h4>{{ heading_title }}</h4>
                        <img src="/catalog/view/theme/journal2/styleFiles/images/line.png" class="title-line">
                    </div>
                </div>
            </div>  
            <div class="row">
            
                {% for video in videos %}
                <div class="col-md-4 col-6">
                    <div class="video-block">
                    
                        {% if video.type == 1 %}
                        <div class="video">
                            <div class="video-play-ico">
                                <img src="/catalog/view/theme/journal2/styleFiles/images/play.png" class="play-ico"/>
                            </div>
                            <video class="makup-video" id="video{{ video.video_id }}" poster="{{ video.image }}">
                                <source src="/image/{{ video.link }}" type="video/mp4">
                                Your browser does not support HTML5 video.
                            </video>
                        </div>
                        {% elseif video.type == 2 %}
                        
                        {% endif %}
                        <div class="video-about">
                            <h5 class="text-center video-title"><a href="{{ video.url }}">{{ video.title }}</a></h5>
                            <p class="text-justify">{{ video.description }}</p>
                        </div>
                    </div>
                </div>   
                {% endfor %}  
                    
                
                    
            </div>
            <nav aria-label="Page navigation example">
                {{ pagination }}
            </nav>
        </div>
    </section>
    <!-- End Policy Section -->



{{ footer }}