/* ------------------------------------------ */
/*             TABLE OF CONTENTS
/* ------------------------------------------ */

/*   01 - General & Basic Styles   */
/*   02 - Header Styles   		   */
/*   03 - Breadcrumb Styles        */
/*   04 - Footer Styles            */
/*   05 - Login Styles             */
/*   06 - Cart Page Styles         */
/*   07 - Account Page Styles      */
/*   08 - Checkout Page Styles     */
/*   09 - About Page Styles        */


/*   01 - General & Basic Styles   */
@font-face {
    font-family: 'DinNextLight';
    src: url('fonts/din-next/light/DinNextLight.eot');
    src: url('fonts/din-next/light/DinNextLight.eot') format('embedded-opentype'), url('fonts/din-next/light/DinNextLight.woff2') format('woff2'), url('fonts/din-next/light/DinNextLight.woff') format('woff'), url('fonts/din-next/light/DinNextLight.ttf') format('truetype'), url('fonts/din-next/light/DinNextLight.svg#DinNextLight') format('svg');
}
@font-face {
    font-family: 'DinNextRegular';
    src: url('fonts/din-next/regular/DinNextRegular.eot');
    src: url('fonts/din-next/regular/DinNextRegular.eot') format('embedded-opentype'), url('fonts/din-next/regular/DinNextRegular.woff2') format('woff2'), url('fonts/din-next/regular/DinNextRegular.woff') format('woff'), url('fonts/din-next/regular/DinNextRegular.ttf') format('truetype'), url('fonts/din-next/regular/DinNextRegular.svg#DinNextRegular') format('svg');
}
@font-face {
    font-family: 'DinNextMedium';
    src: url('fonts/din-next/medium/DinNextMedium.eot');
    src: url('fonts/din-next/medium/DinNextMedium.eot') format('embedded-opentype'), url('fonts/din-next/medium/DinNextMedium.woff2') format('woff2'), url('fonts/din-next/medium/DinNextMedium.woff') format('woff'), url('fonts/din-next/medium/DinNextMedium.ttf') format('truetype'), url('fonts/din-next/medium/DinNextMedium.svg#DinNextMedium') format('svg');
}
@font-face {
    font-family: 'DinNextBold';
    src: url('fonts/din-next/bold/DinNextBold.eot');
    src: url('fonts/din-next/bold/DinNextBold.eot') format('embedded-opentype'), url('fonts/din-next/bold/DinNextBold.woff2') format('woff2'), url('fonts/din-next/bold/DinNextBold.woff') format('woff'), url('fonts/din-next/bold/DinNextBold.ttf') format('truetype'), url('fonts/din-next/bold/DinNextBold.svg#DinNextBold') format('svg');
}
 


html[dir="ltr"] body, p , a ,  div{
    font-family: 'DinNextRegular';
}
p{
  	font-family: 'DinNextRegular';
	font-size: 18px;
	line-height: 1.6;
  	font-weight: 300;
  	color: #231f20;
    text-align: right;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul li{
	list-style: none;
}
img{
	max-width: 100%;
}
h1, h2, h3, h4, h5, h6{ 
	font-family: 'DinNextBold' !important;
}
a{
	font-family: 'DinNextRegular';
	text-decoration: none;
}
a:hover,
a:focus {
	text-decoration: none;
	o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
a{
	text-decoration: none;
	o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
html[dir="rtl"]  body{
  	overflow-x: hidden;
  	direction: rtl;
  	color: #222222;
    text-align: right;
}
b, strong {
	font-weight: 700 !important;
}
ul{
	padding: 0;
}
ul li{
	list-style: none;
}
.div-50{
	height: 50px;
	width: 100%;
	display: block;
}
.div-10{
	height: 10px;
	width: 100%;
	display: block;
}
.div-20{
  height: 20px;
  width: 100%;
  display: block;
}
.div-30{
    height: 30px;
    width: 100%;
    display: block;
}   
.div-100{
  height: 100px;
  width: 100%;
  display: block;
}  
.div-80{
  height: 80px;
  width: 100%;
  display: block;
}    
.div-70{
    height: 70px;
    width: 100%;
    display: block;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
img{
	max-width: 100%;
}
.mt-20{
    margin-top: 20px;
}

/*   02 - Header Styles   		   */
.top-header .nav-link {
    padding: 0.5rem 0.8rem;
}
.top-header .nav-item a {
    color: #231f20;
        padding: 0.5rem 0.8rem;
        
}
span.no, .coin {
    display: block;
    text-align: center;
    font-weight: bold;
    color: #231f20;
    margin-bottom: 0;
    line-height: 15px;
}
#cartDropdown::after , #loginDropdown::after{
    display: none;
}
 
.top-header .nav-link{
    color: #231f20;
}
.top-header {
    padding: 10px 0;
}
.header-logo {
    padding: 20px 0 30px;
}
.header-menu {
    margin-bottom: 30px;
    width: 100% !important;
    padding-left: 10px;
    background: #f8f9fa;
}
input[type='text'], input[type='email'], input[type='password'], input[type='tel'], textarea {
 
    box-shadow: none!important;
}
input.form-control.form-control-sm {
    width: auto;
}
input.form-control.form-control-sm {
    width: calc(100% - 35px);
    float: right;
}
.formse  {
    height: 56px;
    padding: 10px 6px;
    position: relative;
    display: block;
    background: #f8f9fa;
}
.header-menu .form-control.form-control-sm {
    background: #f2f2f2;
    border: 0;
    border-radius: 0;
}
.breadcrumb {
    margin: 0 auto;
    padding: 0 15px;
    height: 50px;
    line-height: 50px;
   
}
.extended-container:before {
   
    height: 50px;
    
}

ul.breadcrumb {
    margin-bottom: 60px;
}
.srch-btn {
    border-radius: 0;
    height: 35px;
    padding: 0;
    width: 31px;
    text-align: center;
    background: #231f20;
    display: block;
    float: right;
    padding-top: 4px;
}
.header-menu .nav-item a{
    color: #231f20 !important;
    font-size: 20px;
    padding: 5px 25px !important;
}
.header-menu .nav-item.active a{
    color: #818181 !important;
}
.top-header .dropdown-menu {
    padding: 10px;
    text-align: right;
    border-radius: 0;
    border-top: 1px solid #231f20;
    right: 0;
    left: auto;
}
a.nav-link  img {
    vertical-align: middle;
}
.logined-user {
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 19px;
    margin-bottom: 5px;
}
.logined-user img {
    margin-left: 10px;
}
.logined-menu a:hover{
    color: #818181 !important;
}
.header-menu .nav-link:hover{
    color: #818181 !important;
}
.cart-dropdown{
    width: 280px !important;
    /*top: 55px !important;*/
}
.cart-dropdown img {
    height: 100px;
    width: 90px;
}
.cart-dropdown .title {
    font-size: medium;
    font-weight: 800;
    margin-bottom: 15px;
}
.cart-dropdown .media span {
    margin: 1px 5px;
    display: inline-block;
    min-width: 40px;
    line-height: 11pt;
    color: #a7a5a5;
    display: block;
    margin-bottom: 10px;
}
.cart-dropdown .media {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: 400;
}
.cart-dropdown .media .media-body .title a i {
    color: #202020;
    font-size: 14px;
}
.cart-dropdown .summary {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
}
.cart-dropdown .title {
    font-size: medium;
    font-weight: 800;
    margin-bottom: 15px;
}
.cart-dropdown .btn {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.cart-dropdown h5{
    margin-bottom: 25px;
    font-size: 20px;
}
.white-btn{
    background: #ffffff;
    color: #231f20;
    border-color: #231f20;
    border-radius: 0;
    padding: 10px 35px;
}

/*   03 - Breadcrumb Styles        */
.breadcrumb-sec {
    background: #f8f9fa;
}
.breadcrumb-item a{
    color: #231f20 !important;
    font-weight: bold;
}
.breadcrumb-item.active {
    color: #818181;
    font-weight: bold;
}
.breadcrumb-item+.breadcrumb-item::before {
    color: #818181;
    content: "|" !important;
    padding-left: .5rem;
}
.breadcrumb{
    padding-right: 0 !important;
    margin-bottom: 0;
    background-color: transparent;
    border-radius: 0;
}

/*   04 - Footer Styles            */
.main-footer{
    background: #e6e6e6;
    padding: 50px 0;
}
.bottom-footer{
    background: #cfcfcf;
    padding: 15px 0;
}
.main-footer .footer-section-title{
    margin-bottom: 15px;
}
.footer-menu i{
    color: #231f20;
    font-size: 10px;
    margin-left: 5px;
}
.footer-menu a span{
    color: #231f20;
    font-size: 18px;
}
.footer-menu a{
    padding: 5px 0;
    display: block;
}
.main-footer .form-control{
    border-radius: 0;
    border: 0;
    margin-bottom: 10px;
}
.main-footer .footer-section-title{
    text-align: right !important;
}
.main-footer button.btn.btn-dark {
    border-radius: 0;
    padding-right: 20px;
    padding-left: 20px;
    background: #5f5f5f;
    border-color: #5f5f5f;
}
.main-footer button.btn.btn-dark:hover{
    background: transparent;
    color: #5f5f5f;
}
.copyright{
    margin-bottom: 0;
}
.smart-logo {
    margin-right: 25px;
}

/*   05 - Login Styles             */
.padding-100{
    padding: 100px 0;
}
.section-title{
    margin-bottom: 50px;
}
.section-title h4{
    padding-bottom: 20px;
    border-bottom: 3px solid #231f20;
    font-size: 35px;
}
.black-btn{
    background: #231f20;
    border-color: #231f20;
    border-radius: 0;
    padding: 10px 35px;
}
.black-btn:hover{
    background: #ffffff;
    color: #231f20;
}
.mt-30{
    margin-top: 30px;
}
.custom-control-label::before {
    right: -1.5rem;
    top: 11px;
}
.custom-control-label::after {
    right: -1.5rem;
    top: 11px;
}
.custom-control {
    padding-left: 0;
    line-height: 36px;
    padding-right: 1.5rem;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #231f20;
    background-color: #231f20;
}
.login-frm .custom-control {
    padding-left: 0;
    padding-right: 1.5rem;
}
.forget-pass{
    color: #818181;
}
.forget-pass:hover{
    color: #cfcfcf;
}
.with-errors{
    color: #c10130;
}
.form-group.has-error.has-danger .form-control:focus{
    border-color: #c10130;
    box-shadow: none !important;
}
.btn-dark.disabled, .btn-dark:disabled{
    background: #231f20 !important;
}

/*   06 - Cart Page Styles         */
.mb-25{
    margin-bottom: 25px !important;
}
.cobon-txt{
    border-radius: 0;
    height: 46px;
}
.wishlist-tble td, .wishlist-tble th{
    text-align: center;
    vertical-align: middle;
}
.wishlist-tble td img{
    height: 150px;
}
.delete-item{
    color: #231f20;
}
.delete-item:hover{
    color: #818181;
}
.wishlist-tble{
    width: 100%;
}
.table .thead-light th{
    background: #f8f9fa !important;
    border-color: #f8f9fa;
}
.custom-input {
    background: #f8f9fa;
    border-radius: 0;
    width: 100px;
    text-align: center;
    float: none !important;
    margin: 0 auto;
}
.dgray-btn{
    border-color: #5f5f5f;
    background: #5f5f5f;
    border-radius: 0;
    padding: 10px 35px;
}
.dgray-btn:hover{
    color: #5f5f5f;
    background: #ffffff;
}
.gray-p {
    color: #818181;
    font-size: 16px;
    margin-bottom: 5px;
}
.full-width{
    width: 100%;
}

/*   07 - Account Page Styles      */
.account-title{
    border-bottom: 2px solid #231f20;
    padding-bottom: 18px;
    width: 56px;
    margin-bottom: 0;
}
.nav-pills {
    background: #f4f5f7;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #ffffff;
    background-color: #5f5f5f;
}
.nav-pills .nav-link {
    border-radius: 0;
    border-bottom: 1px solid #dedede;
    color: #231f20;
}
.red-color{
    color: #c10130;
}
.address-title .bblue-btn{
    width: auto;
}
.address-title h4{
    font-size: 20px;
    line-height: 46px;
}
.address-block{
    background: #f4f5f7;
    padding: 20px;
    margin-bottom: 20px;
}
.address-block p{
    margin-bottom: 0;
}
.address-block .custom-control-label{
    font-weight: bold;
}
.my-orders-tab .gray-bg{
    margin-bottom: 20px;
    margin-top: 20px;
    background: #f4f5f7;
    padding: 20px;
}
.my-orders-tab .gray-bg p{
    margin-bottom: 5px;
}
.gray-color{
    color: #818181;
}
.gray-color:hover{
    color: #231f20;
}
.my-orders-tab, .mt-minus-45{
    margin-top: -47px;
}
.mt-minus-50{
    margin-top: -53px;
}

/*   08 - Checkout Page Styles     */
.p-gray-bg {
    display: block;
    width: 100%;
    background: #f4f5f7;
    padding: 5px 10px;
    border-top: 1px solid #5f5f5f;
}
.p-gray-bg i{
    margin-left: 10px;
}
/*.p-gray-bg a:hover{
    color: #a2d4d5;
}*/
.margin-b-20{
    margin-bottom: 20px;
}
.bill-tble{
    margin-bottom: 30px;
}
.bayment-method .custom-control{
    margin-bottom: 20px;
}
.gray-bg{
    background: #f4f5f7;
    padding: 20px;
}
.bayment-method .custom-radio .custom-control-label::before {
    border-radius: 50% !important;
    top: 11px;
}
.bayment-method .custom-radio .custom-control-label::after {
    border-radius: 50% !important;
    top: 11px;
}
.checkout-sec .gray-bg .black-btn{
    margin-left: auto;
    margin-right: auto;
}
/*   09 - About Page Styles        */
.shipping-sec{
    background: #f4f5f7;
    padding: 20px 0;
    margin-top: 50px;
}
.shipping-block img {
    float: right;
    margin-left: 20px;
}
.shipping-block p {
    margin-bottom: 0;
    line-height: 74px;
}
.shipping-block {
    border-right: 1px solid #dedede;
}
.shipping-block:first-child {
    border-right: 0 !important;
}
 .text-justify {
    text-align: justify!important;
}
.route-information-information p.text-justify {
    margin-bottom: 16px;
}

/*   10 - Contact Page Styles      */
.contact-info li {
    margin-bottom: 15px;
}
.contact-info i {
    color: #ffffff;
    background: #5f5f5f;
    margin-left: 10px;
    min-width: 40px;
    min-height: 40px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    float: right;
}
.contact-sec{
    padding: 100px 0;
}
.contact-info h6 {
    margin-bottom: 0;
    font-weight: normal;
}
.contact-h3{
    margin-bottom: 30px;
}
button.dropdown-toggle.m-item.has-dropdown div {
    display: inline-block;
}

.top-menu1 #language .has-dropdown::after {
    content: "\e61d";
    font-size: 8px;
    margin-left: 5px;
        vertical-align: text-top;
}