/*
  Journal - Advanced Opencart Theme Framework
  Version 2.9.8
  Copyright (c) 2017 Digital Atelier
  https://www.journal-theme.com/
*/
/******************************
SIDE COLUMN
*******************************/
#column-right {
  padding: 20px 20px 20px 0;
  width: 220px;
  float: right; }

#column-left {
  padding: 20px 0 20px 20px;
  width: 280px;
  float: left; }

#column-right + #content {
  margin-right: 280px; }

#column-left + #content {
  margin-left: 280px; }

#column-left + #column-right + #content {
  margin-left: 280px;
  margin-right: 280px; }

#column-left + span + #content {
  margin-left: 280px; }

#column-right + span + #content {
  margin-right: 280px; }

#column-left + #column-right + span + #content {
  margin-left: 280px;
  margin-right: 280px; }

.side-column {
  position: relative;
  z-index: 2;
  /******************************
   SIDE CATEGORY
  *******************************/
  /******************************
   CAROUSEL MODULE
  *******************************/
  /******************************
   TEXT ROTATOR
  *******************************/
  /******************************
   PHOTO GALLERY
  *******************************/
  /******************************
   CMS BLOCKS
  *******************************/ }
  .side-column .heading-title, .side-column .box-heading {
    max-height: 100%;
    height: auto; }
  .side-column ul, .side-column li {
    margin: 0;
    padding: 0; }
  .side-column li {
    list-style: none;
    position: relative; }
  .side-column .box {
    margin-bottom: 20px; }
  .side-column > .box:last-of-type {
    margin-bottom: 0; }
  .side-column .box-content > div:not(.swiper),
  .side-column .box-category {
    overflow: hidden; }
  .side-column .box-content p {
    padding: 10px;
    text-align: left;
    line-height: 1.4;
    margin-bottom: 0; }
  .side-column .box-content p + select {
    margin-bottom: 15px; }
  .side-column .box-content li a, .side-column .box-category li a {
    transition: background-color .2s, color .2s;
    border-bottom-width: 1px;
    border-bottom-color: #f4f4f4;
    border-bottom-style: solid;
    position: relative;
    display: block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .side-column .box-content li a.active, .side-column .box-category li a.active {
    color: #EA2E49; }
  .side-column .box-content ul > li > ul, .side-column .box-category ul > li > ul {
    display: none;
    margin-bottom: 0; }
  .side-column .box-content li a.active + ul, .side-column .box-category li a.active + ul {
    display: block; }
  .side-column .box-content li a:before, .side-column .box-category li a:before {
    position: relative;
    float: left;
    margin-right: 5px; }
  .side-column .box-content > ul > li:last-of-type > a, .side-column .box-category > ul > li:last-of-type > a {
    border-bottom: 0 !important; }
  .side-column .side-category i {
    text-align: center;
    position: absolute;
    transition: background-color 0.2s, color 0.2s;
    display: table;
    line-height: 100%;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
    .side-column .side-category i span {
      position: relative;
      display: table-cell; }
  .side-column .side-category-accordion .box-category li ul li a:before {
    float: none;
    content: ""; }
  .side-column .product-grid-item .image .outofstock {
    display: none !important; }
  .side-column .oc-module {
    overflow: hidden;
    display: block; }
    .side-column .oc-module .product-wrapper {
      margin: 0;
      padding: 0;
      border-radius: 0;
      box-shadow: none;
      border: none;
      transition: all 0.2s;
      display: block; }
      .side-column .oc-module .product-wrapper .p-over {
        display: none; }
    .side-column .oc-module .product-wrapper:hover {
      padding: 0;
      margin: 0;
      border-radius: 0;
      box-shadow: none;
      border: none; }
    .side-column .oc-module .product-details {
      background-color: transparent;
      padding-bottom: 0;
      max-width: 150px; }
    .side-column .oc-module .product-details:before {
      display: none; }
    .side-column .oc-module .product-grid-item {
      width: 100%;
      display: inline-block;
      border-bottom: 1px solid #E4E4E4;
      margin-bottom: 0;
      text-align: left; }
      .side-column .oc-module .product-grid-item .quickview-button {
        display: none; }
      .side-column .oc-module .product-grid-item .image {
        display: block;
        float: left;
        position: relative;
        width: auto;
        margin-right: 5px; }
        .side-column .oc-module .product-grid-item .image span {
          display: none !important; }
        .side-column .oc-module .product-grid-item .image a {
          background: transparent !important;
          margin-right: 5px;
          line-height: 100%;
          border-radius: 0;
          border: none; }
        .side-column .oc-module .product-grid-item .image img {
          border: 0;
          display: block;
          padding: 0;
          max-width: 100%;
          height: auto;
          width: auto;
          opacity: 1 !important; }
      .side-column .oc-module .product-grid-item .name {
        position: relative;
        display: block;
        margin-top: 2px; }
        .side-column .oc-module .product-grid-item .name a {
          white-space: normal;
          font-size: 12px;
          text-decoration: none;
          display: block;
          text-align: left;
          padding: 0 0 2px 0; }
      .side-column .oc-module .product-grid-item .price {
        display: inline-block;
        font-size: 12px;
        padding: 0;
        text-align: left;
        border: none;
        margin-bottom: 4px;
        background-color: transparent;
        border-radius: 0; }
      .side-column .oc-module .product-grid-item .price-old {
        font-weight: normal;
        color: #EA2E49;
        padding-right: 2px;
        text-decoration: line-through;
        font-size: 12px; }
      .side-column .oc-module .product-grid-item .price-new {
        font-size: 13px; }
      .side-column .oc-module .product-grid-item .rating {
        position: relative;
        margin: 0;
        left: 0;
        top: 0;
        padding: 0; }
      .side-column .oc-module .product-grid-item .cart, .side-column .oc-module .product-grid-item .description, .side-column .oc-module .product-grid-item .sale, .side-column .oc-module .product-grid-item .wishlist, .side-column .oc-module .product-grid-item .compare {
        display: none !important; }
      .side-column .oc-module .product-grid-item .cart input {
        color: white;
        text-transform: none;
        font-weight: bold; }
    .side-column .oc-module .product-grid-item:last-of-type {
      border-bottom: none; }
  .side-column .journal-carousel .product-wrapper:hover {
    box-shadow: none; }
  .side-column .journal-carousel .htabs a {
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #5F6874;
    border-right: 0; }
  .side-column .journal-carousel .htabs a:last-of-type {
    border-bottom: none; }
  .side-column .journal-carousel .htabs.single-tab a, .side-column .journal-carousel .htabs.single-tab a.selected, .side-column .journal-carousel .htabs.single-tab a:hover {
    border-bottom: none; }
  .side-column .quote {
    padding-bottom: 30px;
    overflow: hidden; }
  .side-column .rotator-image {
    float: none !important;
    margin: 10px auto 0 auto !important;
    height: auto; }
  .side-column .quovolve-nav {
    bottom: 10px !important;
    left: 0;
    width: 100%;
    text-align: center; }
    .side-column .quovolve-nav ul, .side-column .quovolve-nav ol {
      margin: 0;
      padding: 0;
      display: inline-block; }
  .side-column .journal-gallery {
    overflow: hidden; }
    .side-column .journal-gallery .box-heading {
      margin-bottom: 10px; }
    .side-column .journal-gallery .box-content {
      margin-right: -10px;
      margin-bottom: -10px; }
      .side-column .journal-gallery .box-content .gallery-thumb {
        padding-right: 10px;
        margin-bottom: 10px; }
  .side-column .gallery-thumb a:before {
    font-size: 20px; }
  .side-column .cms-block, .side-column .static-banner {
    margin-bottom: 20px; }
    .side-column .cms-block:last-of-type, .side-column .static-banner:last-of-type {
      margin-bottom: 0; }
  .side-column .box.cms-blocks {
    background-color: transparent; }
    .side-column .box.cms-blocks .cms-block {
      margin-bottom: 0; }
      .side-column .box.cms-blocks .cms-block:last-of-type {
        margin-bottom: 0; }
    .side-column .box.cms-blocks .box-heading {
      margin-bottom: 0; }
    .side-column .box.cms-blocks .block-content {
      height: auto !important;
      background-color: transparent; }
  .side-column .static-banners.box {
    background-color: transparent; }
  .side-column .block-content p {
    padding-bottom: 0; }
  .side-column .editor-content img {
    max-width: 200px !important;
    height: auto; }
  .side-column .editor-content h1, .side-column .editor-content h2, .side-column .editor-content h3 {
    padding-bottom: 0; }

.extended-layout #column-right .journal-gallery .box-content, .extended-layout #column-left .journal-gallery .box-content {
  padding: 10px;
  padding-top: 0; }
.extended-layout #column-right .box:last-of-type, .extended-layout #column-left .box:last-of-type {
  margin-bottom: 20px; }

.side-column .oc-module .inline-button br {
  display: none; }
.side-column .box.journal-carousel {
  background-color: transparent; }
.side-column .side-products .product-wrapper {
  background: transparent; }
.side-column .product-wrapper {
  box-shadow: none !important; }

.ie:not(.edge) .side-column .oc-module .product-details {
  float: left; }

/******************************
OC 2
*******************************/
#column-right + .row #content {
  margin-right: 220px; }

#column-left + .row #content {
  margin-left: 220px; }

#column-left + #column-right + .row #content {
  margin-left: 220px;
  margin-right: 220px; }

.flyout .fly-mega-menu {
  left: 100%;
  top: 0;
  z-index: 1;
  min-height: 100%;
  width: 764px;
  transition: all 0.2s;
  box-shadow: 12px 15px 30px -8px rgba(0, 0, 0, 0.2); }
  .flyout .fly-mega-menu .mega-menu-column {
    margin: 0; }
    .flyout .fly-mega-menu .mega-menu-column:last-of-type:not(:only-of-type) > div {
      margin-right: 0;
      margin-bottom: 15px; }
      .flyout .fly-mega-menu .mega-menu-column:last-of-type:not(:only-of-type) > div > h3 {
        margin-right: 15px; }
    .flyout .fly-mega-menu .mega-menu-column.mega-menu-html-block > div {
      margin-right: 15px;
      margin-bottom: 15px; }
      .flyout .fly-mega-menu .mega-menu-column.mega-menu-html-block > div > h3 {
        margin-right: 0; }

.flyout .mega-menu div > h3 > a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis; }

.flyout-menu {
  overflow: visible; }
  .flyout-menu .flyout > ul > li {
    display: table;
    width: 100%;
    min-height: 40px; }
    .flyout-menu .flyout > ul > li > a {
      padding: 7px 25px 7px 12px;
      width: 100%;
      min-height: inherit;
      display: table-cell;
      vertical-align: middle;
      position: relative;
      transition: background-color .2s, color .2s;
      border-bottom-width: 1px;
      border-bottom-color: #f4f4f4;
      border-bottom-style: solid; }
      .flyout-menu .flyout > ul > li > a:before {
        display: none; }
      .flyout-menu .flyout > ul > li > a i {
        left: -2px; }
        .flyout-menu .flyout > ul > li > a i:before {
          padding-left: 1px; }
        .flyout-menu .flyout > ul > li > a i.menu-plus {
          left: auto; }
    .flyout-menu .flyout > ul > li:last-of-type a {
      border-bottom-width: 0; }
    .flyout-menu .flyout > ul > li:hover .fly-mega-menu,
    .flyout-menu .flyout > ul > li:hover > ul {
      display: block; }

.flyout > ul > li.fly-mega-menu-mixed {
  position: static; }

.fly-drop-down .menu-plus,
.fly-mega-menu-mixed .menu-plus {
  position: absolute;
  font-size: 17px;
  top: 14px;
  right: 8px; }
  .fly-drop-down .menu-plus::before,
  .fly-mega-menu-mixed .menu-plus::before {
    content: "\e620";
    font-size: 11px;
    float: left; }

.flyout-menu .flyout > ul > li:hover > a {
  z-index: 2;
  transition: all 0.2s; }

.fly-drop-down ul {
  z-index: 999;
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: 0 1px 8px -3px rgba(0, 0, 0, 0.5);
  height: 100%;
  min-height: inherit; }
  .fly-drop-down ul li {
    color: #333745;
    background-color: white;
    position: relative;
    border-bottom: 1px solid #f4f4f4;
    height: 100%;
    display: table;
    width: 100%;
    min-height: inherit; }
  .fly-drop-down ul li:last-of-type {
    border-bottom-width: 0; }
  .fly-drop-down ul li ul {
    visibility: hidden;
    opacity: 0;
    left: 100%;
    top: 0;
    min-height: 40px; }
  .fly-drop-down ul li.left ul {
    left: -100%; }
  .fly-drop-down ul li:hover > ul {
    transition: opacity 0.2s;
    visibility: visible;
    opacity: 1; }
  .fly-drop-down ul li a {
    min-width: 100px;
    padding: 0 30px 0 12px;
    color: inherit;
    white-space: nowrap;
    min-height: inherit;
    display: table-cell;
    vertical-align: middle; }
    .fly-drop-down ul li a:before {
      margin-right: 5px; }
.fly-drop-down > ul {
  display: none;
  left: 100%;
  top: 0; }
  .fly-drop-down > ul > li > a {
    min-width: 120px; }

.flyout-left {
  z-index: 4; }
  .flyout-left .fly-mega-menu {
    left: 100%; }

.flyout-right {
  z-index: 3; }
  .flyout-right .fly-mega-menu {
    left: -100%; }
  .flyout-right .fly-drop-down > ul {
    left: auto;
    right: 100%; }
  .flyout-right .fly-drop-down ul li ul {
    left: auto;
    right: 100%; }

#column-right:hover {
  z-index: 9; }
#column-right .flyout-menu .flyout > ul > li > a i.menu-plus {
  left: 8px;
  right: auto;
  -webkit-transform: scale(-1);
          transform: scale(-1); }
#column-right .flyout-menu i.menu-plus {
  left: 8px;
  right: auto;
  -webkit-transform: scale(-1);
          transform: scale(-1); }
#column-right .fly-drop-down ul li a {
  min-width: 100px;
  padding: 0 12px 0 25px; }
#column-right .flyout-menu .flyout > ul > li > a {
  padding: 7px 12px 7px 25px;
  text-align: right; }
