<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ lang }}" class="product-page quickview {{ journal2.html_classes.getAll() }}" style="overflow-y: auto">
<head>
  <title>{{ heading_title }}</title>
  <meta name="robots" content="noindex">
  <base href="{{ base }}"/>
 <link rel="stylesheet" href="/catalog/view/theme/journal2/styleFiles/css/bootstrap.min.css">
<link rel="stylesheet" href="/catalog/view/theme/journal2/styleFiles/css/fontawesome-all.min.css">
<link rel="stylesheet" href="/catalog/view/theme/journal2/styleFiles/css/owl.carousel.min.css">
<link rel="stylesheet" href="/catalog/view/theme/journal2/styleFiles/css/owl.theme.default.css">
<link rel="stylesheet" href="/catalog/view/theme/journal2/styleFiles/css/star-rating.min.css" />
<link rel="stylesheet" href="/catalog/view/theme/journal2/styleFiles/css/jqzoom.css" /> 
<link rel="stylesheet" href="/catalog/view/theme/journal2/styleFiles/css/thumbs2.css" rel="stylesheet" />
<link rel="stylesheet" href="/catalog/view/theme/journal2/styleFiles/css/thumbnail-slider.css" />
<link rel="stylesheet" href="/catalog/view/theme/journal2/styleFiles/css/jquery-ui.min.css" />
<link rel="stylesheet" href="/catalog/view/theme/journal2/lib/magnific-popup/magnific-popup.css"/>
 
<link rel="icon" href="/catalog/view/theme/journal2/styleFiles/images/favicon.ico">
    
    

{% if direction == 'rtl' %}
<link rel="stylesheet" href="/catalog/view/theme/journal2/styleFiles/css/style.css"/> 
 
{% else %}
<link rel="stylesheet" href="/catalog/view/theme/journal2/styleFiles/css/style-en.css"/>
 
{% endif %}
<link rel="stylesheet" href="/catalog/view/theme/journal2/styleFiles/css/custom.css"/> 
<link rel="stylesheet" href="/catalog/view/theme/journal2/lib/jquery.ui/jquery-ui-slider.min.css"/>
<link rel="stylesheet" href="/catalog/view/theme/journal2/lib/jquery.ui/jquery.ui.slider-rtl.css"/>

 
<script type="text/javascript" src="/catalog/view/theme/journal2/lib/modernizr/modernizr.min.js"></script>
 
<script type="text/javascript" src="/catalog/view/javascript/jquery/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/catalog/view/theme/journal2/lib/jquery/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="catalog/view/theme/journal2/styleFiles/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="catalog/view/theme/journal2/styleFiles/js/popper.min.js"></script>
<script type="text/javascript" src="catalog/view/theme/journal2/styleFiles/js/bootstrap.min.js"></script>
<script type="text/javascript" src="catalog/view/theme/journal2/styleFiles/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="catalog/view/theme/journal2/styleFiles/js/star-rating.min.js"></script>
<script type="text/javascript" src="catalog/view/theme/journal2/styleFiles/js/easing.min.js"></script>
<script type="text/javascript" src="catalog/view/theme/journal2/styleFiles/js/wow.min.js"></script>
<script type="text/javascript" src="catalog/view/theme/journal2/styleFiles/js/validator.js"></script>
<script type="text/javascript" src="catalog/view/theme/journal2/styleFiles/js/jquery.jqzoom-min.js"></script>
<script src="catalog/view/theme/journal2/styleFiles/js/thumbnail-slider.js"></script>

<script src="catalog/view/theme/journal2/styleFiles/js/classie.js"></script>

<script type="text/javascript" src="/catalog/view/theme/journal2/lib/magnific-popup/jquery.magnific-popup.js?j2v=2.16.8"></script>

<script type="text/javascript" src="/catalog/view/theme/journal2/lib/jquery.address/jquery.address.js"></script>
<script type="text/javascript" src="/catalog/view/theme/journal2/lib/hover-intent/jquery.hoverIntent.min.js"></script>
<script type="text/javascript" src="/catalog/view/theme/journal2/lib/vide/jquery.vide.min.js"></script>
<script type="text/javascript" src="/catalog/view/theme/journal2/lib/respond/respond.js"></script>
<script type="text/javascript" src="/catalog/view/theme/journal2/lib/autocomplete2/jquery.autocomplete2.min.js"></script>
 <script type="text/javascript" src="/catalog/view/theme/journal2/lib/touch-punch/jquery.ui.touch-punch.min.js?j2v=2.16.8"></script>
 <script type="text/javascript" src="/catalog/view/theme/journal2/lib/actual/jquery.actual.min.js?j2v=2.16.8"></script>
 <script type="text/javascript" src="/catalog/view/theme/journal2/lib/ias/jquery-ias.min.js?j2v=2.16.8"></script>
<script type="text/javascript" src="/catalog/view/theme/journal2/lib/intense/intense.min.js?j2v=2.16.8"></script>

<script type="text/javascript" src="/catalog/view/theme/journal2/lib/jquery.ui/jquery-ui-slider.min.js"></script>
<script type="text/javascript" src="/catalog/view/theme/journal2/lib/jquery.ui/jquery.ui.slider-rtl.js"></script>
<script type="text/javascript" src="/catalog/view/theme/journal2/lib/pnotify/jquery.pnotify.min.js"></script>
<script type="text/javascript" src="catalog/view/javascript/common.js"></script>
<script type="text/javascript" src="catalog/view/theme/journal2/js/journal.js"></script>
 <script>
 
Journal.NOTIFICATION_BUTTONS = '{{ journal2.settings.get('notification_buttons') }}';
</script>

<script type="text/javascript" src="catalog/view/theme/journal2/styleFiles/js/custom.js"></script>

<link rel="stylesheet" href="/catalog/view/theme/journal2/css/features.css"/> 
 
</head>
<body>
<div id="product"  >

<div class="row">
                                <div class="col-md-2 col-4">
                                    <div id="thumbs2">
                                        <div class="inner">
                                            <ul id="thumblist" class="clearfix">
                                                
                                                <li>
                                                    <a class="zoomThumbActive  thumb" href='javascript:void(0);' rel="{gallery: 'gal1', smallimage: '{{ thumb }}',largeimage: '{{  popup }}'}">
                                                        <img src='{{ thumb }}' class="pro-img">
                                                    </a>
                                                </li>
                                                
                                                {% set i = 0 %}
                                               {% if images %}
                                               {% for image in images %}
                                                <li>
                                                    <a class=" thumb" href='javascript:void(0);' rel="{gallery: 'gal1', smallimage: '{{ image.thumb }}',largeimage: '{{ image.popup }}'}">
                                                        <img src='{{ image.thumb }}' class="pro-img">
                                                    </a>
                                                </li>
                                                {% set i = i+1 %}
                                                {% endfor %}
                                                {% endif %} 
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 col-8 clearfix">
                                    <a href="{{ popup }}" class="jqzoom" rel='gal1' title="triumph">
                                        <img src="{{ thumb }}" title="triumph" class="lg-pro-img" >
                                    </a>
                                </div>
                                <div class="col-md-5 col-12">
                                    <div class="pro-desc">
                                        <h4> {{ heading_title }}</h4>
                                        <p class="gray-color">{{ text_model }} <span class="p-model" itemprop="model">{{ model }}</span></p>
                                        {% if price %}
                                          <ul class="list-unstyled price product-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                            <meta itemprop="itemCondition" content="http://schema.org/NewCondition"/>
                                            <meta itemprop="priceCurrency" content="{{ journal2.settings.get('product_price_currency') }}"/>
                                            <meta itemprop="price" content="{{ journal2.settings.get('product_price') }}"/>
                                            {% if journal2.settings.get('product_in_stock') == 'yes' %}
                                              <link itemprop="availability" href="http://schema.org/InStock"/>
                                            {% endif %}
                                            {% if not special %}
                                              <li class="after-discount">{{ price }}</li>
                                            {% else %}
                                              <li class="befor-discount">{{ price }}</li>
                                              <li class="after-discount" {% if date_end %}data-end-date="{{ date_end }}"{% endif %}>{{ special }}</li>
                                            {% endif %}
                                            {% if tax %}
                                              <li class="price-tax">{{ text_tax }} {{ tax }}</li>
                                            {% endif %}
                                             
                                            {% for discount in discounts %}
                                              <li class="discounts">{{ discount.quantity }}{{ text_discount }}{{ discount.price }}</li>
                                            {% endfor %}
                                          </ul>
                                        {% endif %}
                                        <input type="hidden" name="product_id" value="{{ product_id }}"/>
                                         
                                         <div class="options pro-shop-frm {{ journal2.settings.get('product_page_options_push_classes') }}">
                                    {% if options %}
                                     
                                    {% for option in options %}
                                      {% if option.type == 'select' %}
                                      
                                      <div class="option form-group{% if option.required %} required {% endif %} option-{{ option.type }} form-group">
                                            {% if option.option_id == '11' %}
                                                <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }} </label>
                                                
                                              {% else %}
                                                <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                                            {% endif %}
                                            <select  name="option[{{ option.product_option_id }}]" id="input-option{{ option.product_option_id }}" class="form-control">
                                                <option value="">{{ text_select }}</option>
                                                {% for option_value in option.product_option_value %}
                                                  <option value="{{ option_value.product_option_value_id }}">{{ option_value.name }}
                                                    {% if option_value.price %}
                                                      ({{ option_value.price_prefix }}{{ option_value.price }})
                                                    {% endif %} 
                                                    </option>
                                            {% endfor %}
                                            </select>
                                        </div>
                                    
                                         
                                      {% endif %}
                                      {% if option.type == 'radio' %}
                                        <div class="option form-group{% if option.required %} required {% endif %} option-{{ option.type }}">
                                          <label class="control-label">{{ option.name }}</label>
                                          <div id="input-option{{ option.product_option_id }}"> 
                                          {% for option_value in option.product_option_value %}
                                              <!--<div class="radio">
                                                <label>
                                                  <input />
                                                  {% if option_value.image %} <img src="" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail"/> {% endif %}
                                                  {{ option_value.name }}
                                                   </label>
                                              </div>-->
                                              
                                              <div class="custom-control custom-radio custom-control-inline "  style="background: url({{ option_value.image }})">
                                                         
                                                    <input type="radio"   class="custom-control-input"  type="radio" name="option[{{ option.product_option_id }}]" value="{{ option_value.product_option_value_id }}" id="customRadio{{ option_value.product_option_value_id }}"/>
                                                    <label class="custom-control-label" for="customRadio{{ option_value.product_option_value_id }}">{% if option_value.price %}
                                                    ({{ option_value.price_prefix }}{{ option_value.price }})
                                                  {% endif %}</label>
                                                </div>
                                            {% endfor %} </div>
                                        </div>
                                      {% endif %}
                                      {% if option.type == 'checkbox' %}
                                        <div class="option form-group{% if option.required %} required {% endif %} option-{{ option.type }}">
                                          <label class="control-label">{{ option.name }}</label>
                                          <div id="input-option{{ option.product_option_id }}"> {% for option_value in option.product_option_value %}
                                              <div class="checkbox">
                                                <label>
                                                  <input type="checkbox" name="option[{{ option.product_option_id }}][]" value="{{ option_value.product_option_value_id }}"/>
                                                  {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail"/> {% endif %}
                                                  {{ option_value.name }}
                                                  {% if option_value.price %}
                                                    ({{ option_value.price_prefix }}{{ option_value.price }})
                                                  {% endif %} </label>
                                              </div>
                                            {% endfor %} </div>
                                        </div>
                                      {% endif %}
                                      {% if option.type == 'text' %}
                                        <div class="option form-group{% if option.required %} required {% endif %} option-{{ option.type }}">
                                          <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                                          <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control"/>
                                        </div>
                                      {% endif %}
                                      {% if option.type == 'textarea' %}
                                        <div class="option form-group{% if option.required %} required {% endif %} option-{{ option.type }}">
                                          <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                                          <textarea name="option[{{ option.product_option_id }}]" rows="5" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control">{{ option.value }}</textarea>
                                        </div>
                                      {% endif %}
                                      {% if option.type == 'file' %}
                                        <div class="option form-group{% if option.required %} required {% endif %} option-{{ option.type }}">
                                          <label class="control-label">{{ option.name }}</label>
                                          <button type="button" id="button-upload{{ option.product_option_id }}" data-loading-text="{{ text_loading }}" class="btn btn-default btn-block"><i class="fa fa-upload"></i> {{ button_upload }}</button>
                                          <input type="hidden" name="option[{{ option.product_option_id }}]" value="" id="input-option{{ option.product_option_id }}"/>
                                        </div>
                                      {% endif %}
                                      {% if option.type == 'date' %}
                                        <div class="option form-group{% if option.required %} required {% endif %} option-{{ option.type }}">
                                          <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                                          <div class="input-group date">
                                            <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD" id="input-option{{ option.product_option_id }}" class="form-control"/>
                                            <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                                    </span></div>
                                        </div>
                                      {% endif %}
                                      {% if option.type == 'datetime' %}
                                        <div class="option form-group{% if option.required %} required {% endif %} option-{{ option.type }}">
                                          <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                                          <div class="input-group datetime">
                                            <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD HH:mm" id="input-option{{ option.product_option_id }}" class="form-control"/>
                                            <span class="input-group-btn">
                                    <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                                    </span></div>
                                        </div>
                                      {% endif %}
                                      {% if option.type == 'time' %}
                                        <div class="option form-group{% if option.required %} required {% endif %} option-{{ option.type }}">
                                          <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                                          <div class="input-group time">
                                            <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="HH:mm" id="input-option{{ option.product_option_id }}" class="form-control"/>
                                            <span class="input-group-btn">
                                    <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                                    </span></div>
                                        </div>
                                      {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                     
                                     
                                    
                                  </div>
                                 <script>/*Journal.enableSelectOptionAsButtonsList();*/</script>
                                
                                  <div class="pro-shop-frm">
                                  <h5 class="blue-color">{{ entry_qty }}</h5>
                                     <div class="quantity buttons_added">
                                        <input type="button" value="+" class="plus">
                                        <input type="text"  name="quantity" value="{{ minimum }}" size="2" data-min-value="{{ minimum }}" id="input-quantity" step="1" min="1" max=""  value="1" class="input-text qty text" size="4" pattern="" inputmode="">
                                        <input type="button" value="-" class="minus">
                                            
                                    </div>
                                    {% if minimum > 1 %}
                                      <div class="alert alert-info information"><i class="fa fa-info-circle"></i> {{ text_minimum }}</div>
                                    {% endif %}    
                                    </div>
                                    <div class="pro-shop-frm">
                                    <button type="button" id="button-cart" data-loading-text="{{ text_loading }}" class="btn btn-light blue-btn width-100"><span class="button-cart-text">{{ button_cart }}</span></button>
                                    </div>
                                        <div class="product-social-icon clearfix">
                                            <nav class="nav float-right">
                                                <a class="nav-link" href="#"> 
                                                    <i class="fab fa-facebook-f"></i>
                                                </a>
                                                <a class="nav-link" href="#">
                                                    <i class="fab fa-twitter"></i>
                                                </a>
                                                <a class="nav-link" href="#">
                                                    <i class="fab fa-pinterest-p"></i>
                                                </a>
                                                
                                            </nav>
                                            <a class="nav-link float-left" href="#" onclick="addToWishList('{{ product_id }}'); return false;">
                                                <i class="fas fa-heart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            
  
</div>
<script type="text/javascript"><!--
  $('select[name=\'recurring_id\'], input[name="quantity"]').change(function () {
    $.ajax({
      url: 'index.php?route=product/product/getRecurringDescription',
      type: 'post',
      data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
      dataType: 'json',
      beforeSend: function () {
        $('#recurring-description').html('');
      },
      success: function (json) {
        $('.alert-dismissible, .text-danger').remove();

        if (json['success']) {
          $('#recurring-description').html(json['success']);
        }
      }
    });
  });
  //--></script>
<script type="text/javascript"><!--
  $('#button-cart').on('click', function () {
    $.ajax({
      url: 'index.php?route=checkout/cart/add',
      type: 'post',
      data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
      dataType: 'json',
      beforeSend: function () {
        $('#button-cart').button('loading');
      },
      complete: function () {
        $('#button-cart').button('reset');
      },
      success: function (json) {
        $('.alert-dismissible, .text-danger').remove();
        $('.form-group').removeClass('has-error');

        if (json['error']) {
          if (json['error']['option']) {
            for (i in json['error']['option']) {
              var element = $('#input-option' + i.replace('_', '-'));

              if (element.parent().hasClass('input-group')) {
                element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
              } else {
                element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
              }
            }
          }

          if (json['error']['recurring']) {
            $('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
          }

          // Highlight any found errors
          $('.text-danger').parent().addClass('has-error');
        }

        if (json['success']) {
          if (!parent.Journal.showNotification(json['success'], json['image'], true)) {
            parent.$('#notification').html('<div class="success" style="display: none;">' + json['success'] + '<img src="catalog/view/theme/default/image/close.png" alt="" class="close" /></div>');
          }

          parent.$('.success').fadeIn('slow');

          parent.$('#cart-total').html(json['total']);

          parent.$('#cart ul').load('index.php?route=common/cart/info ul li');

          if (json['redirect']) {
            top.location.href = json['redirect'];
          }
        }
      },
      error: function (xhr, ajaxOptions, thrownError) {
        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    });
  });
  //--></script>
 
 
 
</body>
</html>
