{{ header }}
 
<style>
.filter-bar select.form-control-inline {
   
    max-width: 100px;
}
</style>
<!-- Start Bradcrumb -->
<section class="breadcrumb-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        
                        {% for breadcrumb in breadcrumbs %}
                          <li  class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ breadcrumb.href }}" itemprop="url"><span itemprop="title">{{ breadcrumb.text }}</span></a></li>
                        {% endfor %}
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Breadcrumb -->
<!-- Start filter Section -->
            <section class="brands-filter-sec padding-100">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-12">
                            <div class="section-title">
                                <h4 class="account-title blue-color">{{ heading_title }}</h4>
                            </div>
                        </div>
                    </div>  
                    <div class="row">
                        <div class="col-md-12 col-12">
                            <div class="open-filter"><i class="fas fa-filter"></i> {{ text_filter }}</div>
                        </div>
                         {{ column_left }} 
                        <div class="col-md-9 col-12">
                            <div class="filter-bar">
                                <div class="row">
                                    <div class="col-8 col-md-6 content-nav">
                                        <div class="form-group">
                                            <label>{{ text_limit }} </label> 
                                            
                                            <select onchange="location = this.value;"  class="form-control-inline limit" >
                                                {% for limits in limits %}
                                                    {% if limits.value == limit %}
                                                      <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
                                                    {% else %}
                                                      <option value="{{ limits.href }}">{{ limits.text }}</option>
                                                    {% endif %}
                                                  {% endfor %}
                                            </select>
                                            <label>{{ text_sort }}</label>
                                            
                                             <select  onchange="location = this.value;" class="form-control-inline sort">
                                                {% for sorts in sorts %}
                                                    {% if sorts.value == '%s-%s'|format(sort, order) %}
                                                      <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
                                                    {% else %}
                                                      <option value="{{ sorts.href }}">{{ sorts.text }}</option>
                                                    {% endif %}
                                                  {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-4 col-md-2">
                                        <div class="icons">
                                            <i class="fa fa-table active" id="gridviewbtn"></i>
                                            <i class="fa fa-list" id="listviewbtn"></i>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="summary text-left">
                                            <p class="text-left">{{ results }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row grid-view main-products main-products.product-grid">
                                {% if products %} 
                        
                                {% for product in products %}
                                <div class="col-md-4 col-12">
                                    <div class="product-block ">
                                        
                                        <div class="product-photo">
                                            {% if product.thumb %}
                                      
                                                <a href="{{ product.href }}">
                                                 <img src="{{ product.thumb }}" title="{{ product.name }}" alt="{{ product.name }}" />
                                                 
                                                </a>
                                                 
                                                
                                              
                                              
                                              {% endif %}
                                             
                                             <button onclick="addToWishList('{{ product.product_id }}');">
                                            <i class="far fa-heart hidden"></i>
                                            <i class="fas fa-heart"></i>
                                            </button>
                                            
                                            <a  product-id="{{ product.product_id }}" class="btn btn-light white-btn mfp-iframe quickviewLink"  >{{ quickView }}</a>
                                        </div>
                                        <div class="product-disc">
                                            <h5><a href="{{ product.href }}">{{ product.name }}</a></h5>
                                            <p>{{ dress_model_text }} {{ product.model }}</p>
                                            {% if product.price %}
                                              <p class="price">
                                                {% if not product.special %}
                                                   
                                                  <span class="after-discount">{{ product.price }}</span>
                                                {% else %}
                                                   
                                                  <span class="befor-discount">{{ product.price }}</span>
                                                  <span class="after-discount">{{ product.special }}</span>
                                                {% endif %}
                                              </p>
                                              
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                        
                                 {% endif %}
                            </div>
                            <div class="list-view hidden main-products.product-list">
                             {% if products %} 
                        
                                {% for product in products %}
                            
                                <div class="row">
                                    <div class="col-md-3 col-12">
                                         
                                        <a href="{{ product.href }}">
                                         <img class="product-pic" src="{{ product.thumb }}" title="{{ product.name }}" alt="{{ product.name }}" />
                                         
                                        </a>
                                    </div>
                                    <div class="col-md-9 col-12">
                                        <div class="product-preview-desc">
                                            <h4>
                                                <a href="{{ product.href }}">{{ product.name }}</a>
                                        <button onclick="addToWishList('{{ product.product_id }}');"  class="add-pro-to-fav">
                                        
                                        <i class="far fa-heart"></i>
                                        <i class="fas fa-heart hidden"></i>
                                        </button>
                                            </h4>
                                            <p class="gray-p">{{ dress_model_text }}  {{ product.model }}</p>
                                            <p class="product-price">
                                                 
                                                {% if not product.special %}
                                           
                                                      <span class="after-discount">{{ product.price }}</span>
                                                    {% else %}
                                                       
                                                      <span class="befor-discount">{{ product.price }}</span>
                                                      <span class="after-discount">{{ product.special }}</span>
                                                    {% endif %}
                                            </p>
                                            <button{% if product.labels and product.labels.outofstock %} disabled="" {% endif %} type="button" onclick="addToCart('{{ product.product_id }}', '{{ product.minimum }}');"  data-hint="{{ button_cart }}"  type="button" class="btn btn-light blue-btn width-200">{{ button_cart }}</button>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                {% endfor %}
                        
                                 {% endif %}
                            </div>

                             
                            
                            <nav aria-label="Page navigation example">
                                {{ pagination }}
                            </nav>
                            
                            {% if not categories and not products %}
                            <p>{{ text_empty }}</p>
                            <div class="buttons">
                              <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary button">{{ button_continue }}</a></div>
                            </div>
                          {% endif %}
                        </div>
                    </div>
                </div>
            </section>
            <!-- End filter Section -->
    
        
{{ footer }}
