{{ header }}
 
<!-- Start Bradcrumb -->
<section class="breadcrumb-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        
                        {% for breadcrumb in breadcrumbs %}
                          <li  class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ breadcrumb.href }}" itemprop="url"><span itemprop="title">{{ breadcrumb.text }}</span></a></li>
                        {% endfor %}
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Breadcrumb -->
   <!-- Satrt Product Preview -->
            <section class="product-preview padding-100">
                <div class="container">
                    <div class="row">
                        <div class="col-md-1 col-4">
                            <div id="thumbs2">
                                <div class="inner">
                                    {% if images %}    
                                    <ul id="thumblist" class="clearfix">
                                    
                                        <li>
                                            <a class="zoomThumbActive  thumb" href='javascript:void(0);' rel="{gallery: 'gal1', smallimage: '{{ thumb }}',largeimage: '{{  popup }}'}">
                                                <img src='{{ thumb }}' class="pro-img">
                                            </a>
                                        </li>
                                        {% set i = 0 %}
                                        {% for image in images %}
                                        <li>
                                            <a class="  thumb" href='javascript:void(0);' rel="{gallery: 'gal1', smallimage: '{{ image.thumb }}',largeimage: '{{ image.popup }}'}">
                                                <img src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" itemprop="image" class="pro-img">
                                            </a>
                                        </li>
                                        
                                        {% set i = i+1 %}
                                        {% endfor %}
                                        
                                       
                                          
                                           
                                    </ul>
                                    {% endif %}
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-8 clearfix">
                            <a href="{{ popup }}" class="jqzoom" rel='gal1' title="triumph">
                                  <img src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" class="lg-pro-img"  id="image" />
                            </a>
                        </div>
                        <div id="product" class="col-md-6 col-12">
                            <div class="pro-desc">
                                <h4>{{ heading_title }}</h4>
                                <meta itemprop="description" content="{{ journal2.settings.get('product_description') }}"/>
                                
                                <p class="gray-color">{{ text_model }} <span class="p-model" itemprop="model">{{ model }}</span></p>
                             
                                
                                {% if price %}
                                  <ul class="list-unstyled price product-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                    <meta itemprop="itemCondition" content="http://schema.org/NewCondition"/>
                                    <meta itemprop="priceCurrency" content="{{ journal2.settings.get('product_price_currency') }}"/>
                                    <meta itemprop="price" content="{{ journal2.settings.get('product_price') }}"/>
                                    {% if journal2.settings.get('product_in_stock') == 'yes' %}
                                      <link itemprop="availability" href="http://schema.org/InStock"/>
                                    {% endif %}
                                    {% if not special %}
                                      <li class="after-discount">{{ price }}</li>
                                    {% else %}
                                      <li class="befor-discount">{{ price }}</li>
                                      <li class="after-discount" {% if date_end %}data-end-date="{{ date_end }}"{% endif %}>{{ special }}</li>
                                    {% endif %}
                                    {% if tax %}
                                      <li class="price-tax">{{ text_tax }} {{ tax }}</li>
                                    {% endif %}
                                     
                                    {% for discount in discounts %}
                                      <li class="discounts">{{ discount.quantity }}{{ text_discount }}{{ discount.price }}</li>
                                    {% endfor %}
                                  </ul>
                                {% endif %}
                                <input type="hidden" name="product_id" value="{{ product_id }}"/>
                                
                                
                                  <div class="options pro-shop-frm {{ journal2.settings.get('product_page_options_push_classes') }}">
                                    {% if options %}
                                     
                                    {% for option in options %}
                                      {% if option.type == 'select' %}
                                      
                                      <div class="option form-group{% if option.required %} required {% endif %} option-{{ option.type }} form-group">
                                            {% if option.option_id == '11' %}
                                                <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }} </label>
                                               <a href="javascript:;"   data-toggle="modal" data-target="#suizeGuidModal" class="size-table"><img src="/catalog/view/theme/journal2/styleFiles/images/size.png">جدول المقاسات</a>
                                              {% else %}
                                                <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                                            {% endif %}
                                            <select  name="option[{{ option.product_option_id }}]" id="input-option{{ option.product_option_id }}" class="form-control">
                                                <option value="">{{ text_select }}</option>
                                                {% for option_value in option.product_option_value %}
                                                  <option value="{{ option_value.product_option_value_id }}">{{ option_value.name }}
                                                    {% if option_value.price %}
                                                      ({{ option_value.price_prefix }}{{ option_value.price }})
                                                    {% endif %} 
                                                    </option>
                                            {% endfor %}
                                            </select>
                                        </div>
                                    
                                         
                                      {% endif %}
                                      {% if option.type == 'radio' %}
                                        <div class="option form-group{% if option.required %} required {% endif %} option-{{ option.type }}">
                                          <label class="control-label">{{ option.name }}</label>
                                          <div id="input-option{{ option.product_option_id }}"> 
                                          {% for option_value in option.product_option_value %}
                                              <!--<div class="radio">
                                                <label>
                                                  <input />
                                                  {% if option_value.image %} <img src="" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail"/> {% endif %}
                                                  {{ option_value.name }}
                                                   </label>
                                              </div>-->
                                              
                                              <div class="custom-control custom-radio custom-control-inline "  style="background: url({{ option_value.image }})">
                                                         
                                                    <input type="radio"   class="custom-control-input"  type="radio" name="option[{{ option.product_option_id }}]" value="{{ option_value.product_option_value_id }}" id="customRadio{{ option_value.product_option_value_id }}"/>
                                                    <label class="custom-control-label" for="customRadio{{ option_value.product_option_value_id }}">{% if option_value.price %}
                                                    ({{ option_value.price_prefix }}{{ option_value.price }})
                                                  {% endif %}</label>
                                                </div>
                                            {% endfor %} </div>
                                        </div>
                                      {% endif %}
                                      {% if option.type == 'checkbox' %}
                                        <div class="option form-group{% if option.required %} required {% endif %} option-{{ option.type }}">
                                          <label class="control-label">{{ option.name }}</label>
                                          <div id="input-option{{ option.product_option_id }}"> {% for option_value in option.product_option_value %}
                                              <div class="checkbox">
                                                <label>
                                                  <input type="checkbox" name="option[{{ option.product_option_id }}][]" value="{{ option_value.product_option_value_id }}"/>
                                                  {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail"/> {% endif %}
                                                  {{ option_value.name }}
                                                  {% if option_value.price %}
                                                    ({{ option_value.price_prefix }}{{ option_value.price }})
                                                  {% endif %} </label>
                                              </div>
                                            {% endfor %} </div>
                                        </div>
                                      {% endif %}
                                      {% if option.type == 'text' %}
                                        <div class="option form-group{% if option.required %} required {% endif %} option-{{ option.type }}">
                                          <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                                          <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control"/>
                                        </div>
                                      {% endif %}
                                      {% if option.type == 'textarea' %}
                                        <div class="option form-group{% if option.required %} required {% endif %} option-{{ option.type }}">
                                          <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                                          <textarea name="option[{{ option.product_option_id }}]" rows="5" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control">{{ option.value }}</textarea>
                                        </div>
                                      {% endif %}
                                      {% if option.type == 'file' %}
                                        <div class="option form-group{% if option.required %} required {% endif %} option-{{ option.type }}">
                                          <label class="control-label">{{ option.name }}</label>
                                          <button type="button" id="button-upload{{ option.product_option_id }}" data-loading-text="{{ text_loading }}" class="btn btn-default btn-block"><i class="fa fa-upload"></i> {{ button_upload }}</button>
                                          <input type="hidden" name="option[{{ option.product_option_id }}]" value="" id="input-option{{ option.product_option_id }}"/>
                                        </div>
                                      {% endif %}
                                      {% if option.type == 'date' %}
                                        <div class="option form-group{% if option.required %} required {% endif %} option-{{ option.type }}">
                                          <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                                          <div class="input-group date">
                                            <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD" id="input-option{{ option.product_option_id }}" class="form-control"/>
                                            <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                                    </span></div>
                                        </div>
                                      {% endif %}
                                      {% if option.type == 'datetime' %}
                                        <div class="option form-group{% if option.required %} required {% endif %} option-{{ option.type }}">
                                          <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                                          <div class="input-group datetime">
                                            <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD HH:mm" id="input-option{{ option.product_option_id }}" class="form-control"/>
                                            <span class="input-group-btn">
                                    <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                                    </span></div>
                                        </div>
                                      {% endif %}
                                      {% if option.type == 'time' %}
                                        <div class="option form-group{% if option.required %} required {% endif %} option-{{ option.type }}">
                                          <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                                          <div class="input-group time">
                                            <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="HH:mm" id="input-option{{ option.product_option_id }}" class="form-control"/>
                                            <span class="input-group-btn">
                                    <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                                    </span></div>
                                        </div>
                                      {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                     
                                     
                                    
                                  </div>
                                 <script>/*Journal.enableSelectOptionAsButtonsList();*/</script>
                                
                                  <div class="pro-shop-frm">
                                  <h5 class="blue-color">{{ entry_qty }}</h5>
                                     <div class="quantity buttons_added">
                                        <input type="button" value="+" class="plus">
                                        <input type="text"  name="quantity" value="{{ minimum }}" size="2" data-min-value="{{ minimum }}" id="input-quantity" step="1" min="1" max=""  value="1" class="input-text qty text" size="4" pattern="" inputmode="">
                                        <input type="button" value="-" class="minus">
                                            
                                    </div>
                                    {% if minimum > 1 %}
                                      <div class="alert alert-info information"><i class="fa fa-info-circle"></i> {{ text_minimum }}</div>
                                    {% endif %}    
                                    </div>
                                    <div class="pro-shop-frm">
                                    <button type="button" id="button-cart" data-loading-text="{{ text_loading }}" class="btn btn-light blue-btn width-100"><span class="button-cart-text">{{ button_cart }}</span></button>
                                    </div>
                                <div class="product-social-icon clearfix">
                                    <nav class="nav float-right">
                                        <a class="nav-link" href="#">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                        <a class="nav-link" href="#">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                        <a class="nav-link" href="#">
                                            <i class="fab fa-pinterest-p"></i>
                                        </a>
                                        
                                    </nav>
                                    <a  onclick="addToWishList('{{ product_id }}');" class="nav-link float-left "  >
                                        <i class="far fa-heart"></i>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row product-view-tabs">
                        <div class="col-md-12 col-12">
                            <div class="product-view-desc">
                                <h4 class="account-title blue-color">{{ tab_description }}</h4>
                                {{ description }}
                            </div>
                            {% if review_status %}
                            <div class="product-view-comment">
                                <h4 class="account-title blue-color">{{ tab_review }}</h4>
                                {% if rating %}
                                <meta itemprop="ratingValue" content="{{ rating }}"/>
                                <meta itemprop="reviewCount" content="{{ journal2.settings.get('product_num_reviews') }}"/>
                                <meta itemprop="bestRating" content="5"/>
                                <meta itemprop="worstRating" content="1"/>
                              {% endif %}
                            <div class="user-comments">
                                <div id="review"></div>
                            </div>
                             
                            
                                
                                     
                           </div>
                                <h4 class="account-title blue-color">{{ add_comment }}</h4>
                                <form class="add-comment-frm"  id="form-review">
                                  
                                    {% if review_guest %}
                                          <div class="form-group required">
                                             
                                             
                                              <input type="text" name="name" value="{{ customer_name }}" id="input-name" class="form-control"/>
                                             
                                          </div>
                                          <div class="form-group required">
                                             
                                              
                                              <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
                                              
                                             
                                          </div>
                                          
                                            
                                            <div class="form-group float-none">
                                                <label>{{ entry_rating }}</label>
                                                <div class="star-ratings start-ratings-main">
                                                    <input type="text" name="rating" class="rating rating5" value="4"/>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="div-20"></div>
                                          {{ captcha }}
                                          <div class="buttons clearfix">
                                            <div class="pull-right">
                                              <button type="button" id="button-review" data-loading-text="{{ text_loading }}" class="btn btn-light blue-btn width-100">{{ add_comment }}</button>
                                            </div>
                                          </div>
                                        {% else %}
                                          {{ text_login }}
                                        {% endif %}
                                     
                                    
                                   
                                </form>
                             
                                
                                {% endif %}
                            </div>
                        </div>
                    
                    
                    {% if products %}
                    <div class="related-products">
                        <h4 class="account-title blue-color">{{ text_related }}</h4>
                        <div class="row"> 
                            {% for product in products %}
                            <div class="col-md-3 col-12">
                                <div class="product-block ">
                                    <div class="product-photo">
                                        <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" src="images/pic1.png">
                                        <i class="far fa-heart hidden"></i>
                                        <i class="fas fa-heart"></i>
                                        <a href="#" class="btn btn-light white-btn">عرض سريع</a>
                                    </div>
                                    <div class="product-disc">
                                        <h5><a href="{{ product.href }}">{{ product.name }}</a></h5>
                                        <p>{{ product.description }}</p>
                                        {% if product.price %}
                                      <p class="price">
                                        {% if not product.special %}
                                           
                                          <span class="after-discount">{{ product.price }}</span>
                                        {% else %}
                                           
                                          <span class="befor-discount">{{ product.price }}</span>
                                          <span class="after-discount">{{ product.special }}</span>
                                        {% endif %}
                                      </p>
                                      
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                             {% endfor %} 
                        </div>
                    </div>
                    
                    {% endif %}
                    </div>
                </div>
            </section>
            <!-- End Product Preview -->

            <div class="alrts">
                <div class="container">
                    <div class="sucess-alert alert">
                        <div class="row">
                            <div class="col-md-12 col-12">
                                <i class="fas fa-check-circle right-fa"></i>
                                <span>تم إضافة المنتج الى سلة التسوق </span>
                                <i class="fas fa-times close-alert"></i>
                            </div>
                        </div>
                    </div>
                    <div class="error-alert alert">
                        <div class="row">
                            <div class="col-md-12 col-12">
                                <i class="fas fa-exclamation-triangle right-fa"></i>
                                <span>المنتج غير متوفر</span>
                                <i class="fas fa-times close-alert"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

 
   
 
 
<script type="text/javascript"><!--
  $('#button-cart').on('click', function() {
    $.ajax({
      url: 'index.php?route=checkout/cart/add',
      type: 'post',
      data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
      dataType: 'json',
      beforeSend: function() {
        $('#button-cart').button('loading');
      },
      complete: function() {
        $('#button-cart').button('reset');
      },
      success: function(json) {
        $('.alert-dismissible, .text-danger').remove();
        $('.form-group').removeClass('has-error');

        if (json['error']) {
          if (json['error']['option']) {
            for (i in json['error']['option']) {
              var element = $('#input-option' + i.replace('_', '-'));

              if (element.parent().hasClass('input-group')) {
                element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
              } else {
                element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
              }
            }
          }

          if (json['error']['recurring']) {
            $('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
          }

          // Highlight any found errors
          $('.text-danger').parent().addClass('has-error');
        }

        if (json['success']) {
          if (!Journal.showNotification(json['success'], json['image'], true)) {
            $('.breadcrumb').after('<div class="alert alert-success success">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
          }

          $('#cart-total').html(json['total']);
            $('.no').html(json['total']);
            $('.count').html(json['count_products']);
          if (Journal.scrollToTop) {
            $('html, body').animate({ scrollTop: 0 }, 'slow');
          }

          $('#cart').load('index.php?route=common/cart/info');
        }
      },
      error: function(xhr, ajaxOptions, thrownError) {
        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    });
  });
//--></script>
<script type="text/javascript"><!--
 

  $('button[id^=\'button-upload\']').on('click', function () {
    var node = this;

    $('#form-upload').remove();

    $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

    $('#form-upload input[name=\'file\']').trigger('click');

    if (typeof timer != 'undefined') {
      clearInterval(timer);
    }

    timer = setInterval(function () {
      if ($('#form-upload input[name=\'file\']').val() != '') {
        clearInterval(timer);

        $.ajax({
          url: 'index.php?route=tool/upload',
          type: 'post',
          dataType: 'json',
          data: new FormData($('#form-upload')[0]),
          cache: false,
          contentType: false,
          processData: false,
          beforeSend: function () {
            $(node).button('loading');
          },
          complete: function () {
            $(node).button('reset');
          },
          success: function (json) {
            $('.text-danger').remove();

            if (json['error']) {
              $(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
            }

            if (json['success']) {
              alert(json['success']);

              $(node).parent().find('input').val(json['code']);
            }
          },
          error: function (xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
          }
        });
      }
    }, 500);
  });
//--></script>
<script type="text/javascript"><!--
  $('#review').delegate('.pagination a', 'click', function (e) {
    e.preventDefault();

    $('#review').fadeOut('slow');

    $('#review').load(this.href);

    $('#review').fadeIn('slow');
  });

  $('#review').load('index.php?route=product/product/review&product_id={{ product_id }}');

  $('#button-review').on('click', function () {
    $.ajax({
      url: 'index.php?route=product/product/write&product_id={{ product_id }}',
      type: 'post',
      dataType: 'json',
      data: $("#form-review").serialize(),
      beforeSend: function () {
        $('#button-review').button('loading');
      },
      complete: function () {
        $('#button-review').button('reset');
      },
      success: function (json) {
        $('.alert-dismissible').remove();

        if (json['error']) {
          $('#review').after('<div class="alert alert-danger alert-dismissible warning"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
        }

        if (json['success']) {
          $('#review').after('<div class="alert alert-success alert-dismissible success"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

          $('input[name=\'name\']').val('');
          $('textarea[name=\'text\']').val('');
          $('input[name=\'rating\']:checked').prop('checked', false);
        }
      }
    });
  });

 
//--></script>

<div class="modal fade" id="suizeGuidModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12 col-12">
                                    <div class="regular_chart_table_wrap ui-accordion-content ui-helper-reset ui-corner-bottom ui-accordion-content-active" id="ui-id-2" aria-labelledby="ui-id-1" role="tabpanel" aria-hidden="false" style="display: block;">
                                        <div class="regular_chart_table chartTable body-a col7">
                                            <div class="regular_chart_tableHead tableHead">
                                                <div id="regular_chart_tableRowWrapHead" class="cellRow masterRow">
                                                    <div id="regular_chart_tableMasterHead" data-row="regular_chart_table_wrap_master" class="cell" style="height: 52px;">
                                                        <div class="cellText">&nbsp;</div>
                                                    </div>
                                                </div>
                                                <div id="regular_chart_tableRowWrap0" class="cellRow masterRow">
                                                    <div id="regular_chart_tableMaster0" data-row="regular_chart_table_wrap_0" class="cell singleRow" style="height: 36px;">
                                                        <div class="cellText">XXXS</div>
                                                    </div>
                                                </div>
                                                <div id="regular_chart_tableRowWrap1" class="cellRow masterRow">
                                                    <div id="regular_chart_tableMaster1" data-row="regular_chart_table_wrap_1" class="cell doubleRow" style="height: 74px;">
                                                        <div class="cellText">XXS</div>
                                                    </div>
                                                </div>
                                                <div id="regular_chart_tableRowWrap3" class="cellRow masterRow">
                                                    <div id="regular_chart_tableMaster3" data-row="regular_chart_table_wrap_3" class="cell doubleRow" style="height: 73px;">
                                                        <div class="cellText">XS</div>
                                                    </div>
                                                </div>
                                                <div id="regular_chart_tableRowWrap5" class="cellRow masterRow">
                                                    <div id="regular_chart_tableMaster5" data-row="regular_chart_table_wrap_5" class="cell doubleRow" style="height: 73px;">
                                                        <div class="cellText">S</div>
                                                    </div>
                                                </div>
                                                <div id="regular_chart_tableRowWrap7" class="cellRow masterRow">
                                                    <div id="regular_chart_tableMaster7" data-row="regular_chart_table_wrap_7" class="cell doubleRow" style="height: 73px;">
                                                        <div class="cellText">M</div>
                                                    </div>
                                                </div>
                                                <div id="regular_chart_tableRowWrap9" class="cellRow masterRow">
                                                    <div id="regular_chart_tableMaster9" data-row="regular_chart_table_wrap_9" class="cell doubleRow" style="height: 74px;">
                                                        <div class="cellText">L</div>
                                                    </div>
                                                </div>
                                                <div id="regular_chart_tableRowWrap11" class="cellRow masterRow">
                                                    <div id="regular_chart_tableMaster11" data-row="regular_chart_table_wrap_11" class="cell doubleRow" style="height: 73px;">
                                                        <div class="cellText">XL</div>
                                                    </div>
                                                </div>
                                                <div id="regular_chart_tableRowWrap13" class="cellRow masterRow">
                                                    <div id="regular_chart_tableMaster13" data-row="regular_chart_table_wrap_13" class="cell doubleRow" style="height: 73px;">
                                                        <div class="cellText">XXL</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="regular_chart_table_scroll_wrap mobile_scroll_wrap8 scrollChart">
                                                <div class="regular_chart_table_scroll_content flexchart scrollWide8" style="transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);">
                                                    <div class="scrollWide8">
                                                        <div id="regular_chart_table_wrap_master" data-parent="regular_chart_tableMasterHead" class="cellRowWrap" style="height: 52px;">
                                                            <div id="regular_chart_table_row_master" class="cellRow">
                                                                <div class="cell num_unit" style="display: none;">
                                                                    <div class="cellText">SIZE</div>
                                                                </div>
                                                                <div class="cell other_unit topRow">
                                                                    <div class="cellText">US Size</div>
                                                                </div>
                                                                <div class="cell other_unit topRow">
                                                                    <div class="cellText">EU Size</div>
                                                                </div>
                                                                <div class="cell other_unit topRow">
                                                                    <div class="cellText">UK Size</div>
                                                                </div>
                                                                <div class="cell other_unit topRow">
                                                                    <div class="cellText">Japan Size</div>
                                                                </div>
                                                                <div class="cell inches_unit topRow chartHide">
                                                                    <div class="cellText">BUST</div>
                                                                </div>
                                                                <div class="cell cm_unit topRow">
                                                                    <div class="cellText">BUST</div>
                                                                </div>
                                                                <div class="cell inches_unit topRow chartHide">
                                                                    <div class="cellText">HIP</div>
                                                                </div>
                                                                <div class="cell cm_unit topRow">
                                                                    <div class="cellText">HIP</div>
                                                                </div>
                                                                <div class="cell inches_unit topRow chartHide">
                                                                    <div class="cellText">SLEEVE</div>
                                                                </div>
                                                                <div class="cell cm_unit topRow">
                                                                    <div class="cellText">SLEEVE</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="regular_chart_table_wrap_0" class="cellRowWrap" data-parent="regular_chart_tableMaster0" style="height: 36px;">
                                                            <div id="regular_chart_table_row_0" class="cellRow">
                                                                <div class="num_unit cell" style="display: none;">
                                                                    <div class="cellText">&nbsp;</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">0000</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">26</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">00</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">0000</div>
                                                                </div>
                                                                <div class="inches_unit cell chartHide">
                                                                    <div class="cellText">29 ¼</div>
                                                                </div>
                                                                <div class="cm_unit cell">
                                                                    <div class="cellText">74.5</div>
                                                                </div>
                                                                <div class="inches_unit cell chartHide">
                                                                    <div class="cellText">32 ¼</div>
                                                                </div>
                                                                <div class="cm_unit cell">
                                                                    <div class="cellText">82.0</div>
                                                                </div>
                                                                <div class="inches_unit cell chartHide">
                                                                    <div class="cellText">30 <sup>3/8</sup></div>
                                                                </div>
                                                                <div class="cm_unit cell">
                                                                    <div class="cellText">82.0</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="regular_chart_table_wrap_1" class="cellRowWrap" data-parent="regular_chart_tableMaster1" style="height: 74px;">
                                                            <div id="regular_chart_table_row_1" class="cellRow">
                                                                <div class="num_unit cell" style="display: none;">
                                                                    <div class="cellText">&nbsp;</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">000</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">28</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">0</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">000</div>
                                                                </div>
                                                                <div class="inches_unit cell chartHide">
                                                                    <div class="cellText">30 ¼</div>
                                                                </div>
                                                                <div class="cm_unit cell">
                                                                    <div class="cellText">77.0</div>
                                                                </div>
                                                                <div class="inches_unit cell chartHide">
                                                                    <div class="cellText">33 ¼</div>
                                                                </div>
                                                                <div class="cm_unit cell">
                                                                    <div class="cellText">84.5</div>
                                                                </div>
                                                                <div class="inches_unit cell chartHide">
                                                                    <div class="cellText">30 <sup>1/2</sup></div>
                                                                </div>
                                                                <div class="cm_unit cell">
                                                                    <div class="cellText">84.5</div>
                                                                </div>
                                                            </div>
                                                            <div id="regular_chart_table_row_2" class="cellRow">
                                                                <div class="num_unit cell" style="display: none;">
                                                                    <div class="cellText">&nbsp;</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">00</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">30</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">2</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">00</div>
                                                                </div>
                                                                <div class="inches_unit cell chartHide">
                                                                    <div class="cellText">31 ¼</div>
                                                                </div>
                                                                <div class="cm_unit cell">
                                                                    <div class="cellText">79.5</div>
                                                                </div>
                                                                <div class="inches_unit cell chartHide">
                                                                    <div class="cellText">34 ¼</div>
                                                                </div>
                                                                <div class="cm_unit cell">
                                                                    <div class="cellText">87.0</div>
                                                                </div>
                                                                <div class="inches_unit cell chartHide">
                                                                    <div class="cellText">30 <sup>3/4</sup></div>
                                                                </div>
                                                                <div class="cm_unit cell">
                                                                    <div class="cellText">87.0</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="regular_chart_table_wrap_3" class="cellRowWrap" data-parent="regular_chart_tableMaster3" style="height: 73px;">
                                                            <div id="regular_chart_table_row_3" class="cellRow">
                                                                <div class="num_unit cell" style="display: none;">
                                                                    <div class="cellText">&nbsp;</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">0</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">32</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">4</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">0</div>
                                                                </div>
                                                                <div class="inches_unit cell chartHide">
                                                                    <div class="cellText">32 ¼</div>
                                                                </div>
                                                                <div class="cm_unit cell">
                                                                    <div class="cellText">82.0</div>
                                                                </div>
                                                                <div class="inches_unit cell chartHide">
                                                                    <div class="cellText">35 ¼</div>
                                                                </div>
                                                                <div class="cm_unit cell">
                                                                    <div class="cellText">89.5</div>
                                                                </div>
                                                                <div class="inches_unit cell chartHide">
                                                                    <div class="cellText">30 <sup>7/8</sup></div>
                                                                </div>
                                                                <div class="cm_unit cell">
                                                                    <div class="cellText">89.5</div>
                                                                </div>
                                                            </div>
                                                            <div id="regular_chart_table_row_4" class="cellRow">
                                                                <div class="num_unit cell" style="display: none;">
                                                                    <div class="cellText">&nbsp;</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">2</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">34</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">6</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">2</div>
                                                                </div>
                                                                <div class="inches_unit cell chartHide">
                                                                    <div class="cellText">33 ¼</div>
                                                                </div>
                                                                <div class="cm_unit cell">
                                                                    <div class="cellText">84.5</div>
                                                                </div>
                                                                <div class="inches_unit cell chartHide">
                                                                    <div class="cellText">36 ¼</div>
                                                                </div>
                                                                <div class="cm_unit cell">
                                                                    <div class="cellText">92.0</div>
                                                                </div>
                                                                <div class="inches_unit cell chartHide">
                                                                    <div class="cellText">31 <sup>1/8</sup></div>
                                                                </div>
                                                                <div class="cm_unit cell">
                                                                    <div class="cellText">92.0</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="regular_chart_table_wrap_5" class="cellRowWrap" data-parent="regular_chart_tableMaster5" style="height: 73px;">
                                                            <div id="regular_chart_table_row_5" class="cellRow">
                                                                <div class="num_unit cell" style="display: none;">
                                                                    <div class="cellText">&nbsp;</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">4</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">36</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">8</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">4</div>
                                                                </div>
                                                                <div class="inches_unit cell chartHide">
                                                                    <div class="cellText">34 ¼</div>
                                                                </div>
                                                                <div class="cm_unit cell">
                                                                    <div class="cellText">87</div>
                                                                </div>
                                                                <div class="inches_unit cell chartHide">
                                                                    <div class="cellText">37 ¼</div>
                                                                </div>
                                                                <div class="cm_unit cell">
                                                                    <div class="cellText">94.5</div>
                                                                </div>
                                                                <div class="inches_unit cell chartHide">
                                                                    <div class="cellText">31 <sup>1/4</sup></div>
                                                                </div>
                                                                <div class="cm_unit cell">
                                                                    <div class="cellText">94.5</div>
                                                                </div>
                                                            </div>
                                                            <div id="regular_chart_table_row_6" class="cellRow">
                                                                <div class="num_unit cell" style="display: none;">
                                                                    <div class="cellText">&nbsp;</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">6</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">38</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">10</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">6</div>
                                                                </div>
                                                                <div class="inches_unit cell chartHide">
                                                                    <div class="cellText">35 ¼</div>
                                                                </div>
                                                                <div class="cm_unit cell">
                                                                    <div class="cellText">89.5</div>
                                                                </div>
                                                                <div class="inches_unit cell chartHide">
                                                                    <div class="cellText">38 ¼</div>
                                                                </div>
                                                                <div class="cm_unit cell">
                                                                    <div class="cellText">97.0</div>
                                                                </div>
                                                                <div class="inches_unit cell chartHide">
                                                                    <div class="cellText">31 <sup>1/2</sup></div>
                                                                </div>
                                                                <div class="cm_unit cell">
                                                                    <div class="cellText">97.0</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="regular_chart_table_wrap_7" class="cellRowWrap" data-parent="regular_chart_tableMaster7" style="height: 73px;">
                                                            <div id="regular_chart_table_row_7" class="cellRow">
                                                                <div class="num_unit cell" style="display: none;">
                                                                    <div class="cellText">&nbsp;</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">8</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">40</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">12</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">8</div>
                                                                </div>
                                                                <div class="inches_unit cell chartHide">
                                                                    <div class="cellText">36 ¼</div>
                                                                </div>
                                                                <div class="cm_unit cell">
                                                                    <div class="cellText">92.0</div>
                                                                </div>
                                                                <div class="inches_unit cell chartHide">
                                                                    <div class="cellText">39 ¼</div>
                                                                </div>
                                                                <div class="cm_unit cell">
                                                                    <div class="cellText">99.5</div>
                                                                </div>
                                                                <div class="inches_unit cell chartHide">
                                                                    <div class="cellText">31 <sup>3/4</sup></div>
                                                                </div>
                                                                <div class="cm_unit cell">
                                                                    <div class="cellText">99.5</div>
                                                                </div>
                                                            </div>
                                                            <div id="regular_chart_table_row_8" class="cellRow">
                                                                <div class="num_unit cell" style="display: none;">
                                                                    <div class="cellText">&nbsp;</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">10</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">42</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">14</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">10</div>
                                                                </div>
                                                                <div class="inches_unit cell chartHide">
                                                                    <div class="cellText">37 ¼</div>
                                                                </div>
                                                                <div class="cm_unit cell">
                                                                    <div class="cellText">94.5</div>
                                                                </div>
                                                                <div class="inches_unit cell chartHide">
                                                                    <div class="cellText">40 ¼</div>
                                                                </div>
                                                                <div class="cm_unit cell">
                                                                    <div class="cellText">102.0</div>
                                                                </div>
                                                                <div class="inches_unit cell chartHide">
                                                                    <div class="cellText">31 <sup>7/8</sup></div>
                                                                </div>
                                                                <div class="cm_unit cell">
                                                                    <div class="cellText">102.0</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="regular_chart_table_wrap_9" class="cellRowWrap" data-parent="regular_chart_tableMaster9" style="height: 74px;">
                                                            <div id="regular_chart_table_row_9" class="cellRow">
                                                                <div class="num_unit cell" style="display: none;">
                                                                    <div class="cellText">&nbsp;</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">12</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">44</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">16</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">12</div>
                                                                </div>
                                                                <div class="inches_unit cell chartHide">
                                                                    <div class="cellText">38 ¾</div>
                                                                </div>
                                                                <div class="cm_unit cell">
                                                                    <div class="cellText">98.5</div>
                                                                </div>
                                                                <div class="inches_unit cell chartHide">
                                                                    <div class="cellText">41 ¾</div>
                                                                </div>
                                                                <div class="cm_unit cell">
                                                                    <div class="cellText">106.0</div>
                                                                </div>
                                                                <div class="inches_unit cell chartHide">
                                                                    <div class="cellText">32 <sup>1/8</sup></div>
                                                                </div>
                                                                <div class="cm_unit cell">
                                                                    <div class="cellText">106.0</div>
                                                                </div>
                                                            </div>
                                                            <div id="regular_chart_table_row_10" class="cellRow">
                                                                <div class="num_unit cell" style="display: none;">
                                                                    <div class="cellText">&nbsp;</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">14</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">46</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">18</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">14</div>
                                                                </div>
                                                                <div class="inches_unit cell chartHide">
                                                                    <div class="cellText">40 ¼</div>
                                                                </div>
                                                                <div class="cm_unit cell">
                                                                    <div class="cellText">102.0</div>
                                                                </div>
                                                                <div class="inches_unit cell chartHide">
                                                                    <div class="cellText">43 ¼</div>
                                                                </div>
                                                                <div class="cm_unit cell">
                                                                    <div class="cellText">109.5</div>
                                                                </div>
                                                                <div class="inches_unit cell chartHide">
                                                                    <div class="cellText">32 <sup>1/2</sup></div>
                                                                </div>
                                                                <div class="cm_unit cell">
                                                                    <div class="cellText">109.5</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="regular_chart_table_wrap_11" class="cellRowWrap" data-parent="regular_chart_tableMaster11" style="height: 73px;">
                                                            <div id="regular_chart_table_row_11" class="cellRow">
                                                                <div class="num_unit cell" style="display: none;">
                                                                    <div class="cellText">&nbsp;</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">16</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">48</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">20</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">16</div>
                                                                </div>
                                                                <div class="inches_unit cell chartHide">
                                                                    <div class="cellText">42</div>
                                                                </div>
                                                                <div class="cm_unit cell">
                                                                    <div class="cellText">106.5</div>
                                                                </div>
                                                                <div class="inches_unit cell chartHide">
                                                                    <div class="cellText">45</div>
                                                                </div>
                                                                <div class="cm_unit cell">
                                                                    <div class="cellText">114.0</div>
                                                                </div>
                                                                <div class="inches_unit cell chartHide">
                                                                    <div class="cellText">32 <sup>3/4</sup></div>
                                                                </div>
                                                                <div class="cm_unit cell">
                                                                    <div class="cellText">114.0</div>
                                                                </div>
                                                            </div>
                                                            <div id="regular_chart_table_row_12" class="cellRow">
                                                                <div class="num_unit cell" style="display: none;">
                                                                    <div class="cellText">&nbsp;</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">18</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">50</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">22</div>
                                                                </div>
                                                                <div class="other_unit cell">
                                                                    <div class="cellText">18</div>
                                                                </div>
                                                                <div class="inches_unit cell chartHide">
                                                                    <div class="cellText">43 ¾</div>
                                                                </div>
                                                                <div class="cm_unit cell">
                                                                    <div class="cellText">111.0</div>
                                                                </div>
                                                                <div class="inches_unit cell chartHide">
                                                                    <div class="cellText">46 ¾</div>
                                                                </div>
                                                                <div class="cm_unit cell">
                                                                    <div class="cellText">118.5</div>
                                                                </div>
                                                                <div class="inches_unit cell chartHide">
                                                                    <div class="cellText">33 <sup>1/8</sup></div>
                                                                </div>
                                                                <div class="cm_unit cell">
                                                                    <div class="cellText">118.5</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="regular_chart_table_wrap_13" class="cellRowWrap" data-parent="regular_chart_tableMaster13" style="height: 73px;">
                                                            <div id="regular_chart_table_row_13" class="cellRow">
                                                                <div class="num_unit cell" style="display: none;">
                                                                    <div class="cellText">&nbsp;</div>
                                                                </div>
                                                                <div class="other_unit cell online_exclusive">
                                                                    <div class="cellText">20</div>
                                                                </div>
                                                                <div class="other_unit cell online_exclusive">
                                                                    <div class="cellText">52</div>
                                                                </div>
                                                                <div class="other_unit cell online_exclusive">
                                                                    <div class="cellText">24</div>
                                                                </div>
                                                                <div class="other_unit cell online_exclusive">
                                                                    <div class="cellText">20</div>
                                                                </div>
                                                                <div class="inches_unit cell online_exclusive chartHide">
                                                                    <div class="cellText">45 ¾</div>
                                                                </div>
                                                                <div class="cm_unit cell online_exclusive">
                                                                    <div class="cellText">116.0</div>
                                                                </div>
                                                                <div class="inches_unit cell online_exclusive chartHide">
                                                                    <div class="cellText">48 ¾</div>
                                                                </div>
                                                                <div class="cm_unit cell online_exclusive">
                                                                    <div class="cellText">123.5</div>
                                                                </div>
                                                                <div class="inches_unit cell online_exclusive chartHide">
                                                                    <div class="cellText">33 <sup>1/2</sup></div>
                                                                </div>
                                                                <div class="cm_unit cell online_exclusive">
                                                                    <div class="cellText">123.5</div>
                                                                </div>
                                                            </div>
                                                            <div id="regular_chart_table_row_14" class="cellRow">
                                                                <div class="num_unit cell" style="display: none;">
                                                                    <div class="cellText">&nbsp;</div>
                                                                </div>
                                                                <div class="other_unit cell online_exclusive">
                                                                    <div class="cellText">22</div>
                                                                </div>
                                                                <div class="other_unit cell online_exclusive">
                                                                    <div class="cellText">54</div>
                                                                </div>
                                                                <div class="other_unit cell online_exclusive">
                                                                    <div class="cellText">26</div>
                                                                </div>
                                                                <div class="other_unit cell online_exclusive">
                                                                    <div class="cellText">22</div>
                                                                </div>
                                                                <div class="inches_unit cell online_exclusive chartHide">
                                                                    <div class="cellText">47 ¾</div>
                                                                </div>
                                                                <div class="cm_unit cell online_exclusive">
                                                                    <div class="cellText">121.0</div>
                                                                </div>
                                                                <div class="inches_unit cell online_exclusive chartHide">
                                                                    <div class="cellText">50 ¾</div>
                                                                </div>
                                                                <div class="cm_unit cell online_exclusive">
                                                                    <div class="cellText">128.5</div>
                                                                </div>
                                                                <div class="inches_unit cell online_exclusive chartHide">
                                                                    <div class="cellText">33 <sup>7/8</sup></div>
                                                                </div>
                                                                <div class="cm_unit cell online_exclusive">
                                                                    <div class="cellText">128.5</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{{ footer }}
