{% if reviews %}
{% for review in reviews %}
 
<div class="user-comments">
    <div class="user-comment-block">
        <div class="row">
            <div class="col-md-3 col-12">
                <i class="fas fa-user"></i>
                <h5>{{ review.author }}</h5>
                <p></p>
                 
            </div>
            <div class="col-md-9 col-12">
                <div class="clearfix">
                    <div class="star-ratings start-ratings-main">
                        <input type="text" class="rating rating5" value="{{ review.rating }}" readonly="true"/>
                    </div>
                    <span class="time">{{ review.date_added }}</span>
                </div>
                <p class="text-justify">{{ review.text }}</p>
            </div>
        </div>
    </div>
     
</div>
{% endfor %}
<div class="text-right">{{ pagination }}</div>
{% else %}
<p>{{ text_no_reviews }}</p>
{% endif %}

<script>
$(function (){
    $('.rating').rating({
        rtl: true
    });
});
</script>