{{ header }}

<!-- Start Bradcrumb -->
    <section class="breadcrumb-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                           {% for breadcrumb in breadcrumbs %}
                              <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ breadcrumb.href }}" itemprop="url"><span itemprop="title">{{ breadcrumb.text }}</span></a></li>
                            {% endfor %}
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Breadcrumb -->
    
    <!-- Start Account Section -->
    <section class="search-sec padding-100">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <form action="/index.php" method="get"  class="form-inline">
                        <input type="hidden" name="route" value="product/search" />
                        <input type="text" name="search" value="{{ search }}" placeholder="{{ text_keyword }}" id="input-search" class="form-control mb-2"/>
                        <select name="category_id" class="form-control mb-2 mr-sm-3">
                            <option value="0">{{ text_category }}</option>
                            {% for category_1 in categories %}
                              {% if category_1.category_id == category_id %}
                                <option value="{{ category_1.category_id }}" selected="selected">{{ category_1.name }}</option>
                              {% else %}
                                <option value="{{ category_1.category_id }}">{{ category_1.name }}</option>
                              {% endif %}
                              {% for category_2 in category_1.children %}
                                {% if category_2.category_id == category_id %}
                                  <option value="{{ category_2.category_id }}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_2.name }}</option>
                                {% else %}
                                  <option value="{{ category_2.category_id }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_2.name }}</option>
                                {% endif %}
                                {% for category_3 in category_2.children %}
                                  {% if category_3.category_id == category_id %}
                                    <option value="{{ category_3.category_id }}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_3.name }}</option>
                                  {% else %}
                                    <option value="{{ category_3.category_id }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_3.name }}</option>
                                  {% endif %}
                                {% endfor %}
                              {% endfor %}
                            {% endfor %}
                        </select>
                        <div class="custom-control custom-checkbox mb-2 mr-sm-3">
                            
                            {% if sub_category %}
                              <input type="checkbox" name="sub_category" class="custom-control-input"  value="1" checked="checked" id="agreeCheck"  />
                            {% else %}
                              <input type="checkbox" name="sub_category" class="custom-control-input"  value="1" id="agreeCheck"/>
                            {% endif %}
                                                                                   
                            <label class="custom-control-label" for="agreeCheck">{{ text_sub_category }} </label>
                             
                        </div>
                        <div class="custom-control custom-checkbox mb-2 mr-sm-3">
                            {% if description %}
                              <input type="checkbox" class="custom-control-input" name="description" value="1" id="detailsCheck" checked="checked"/>
                            {% else %}
                              <input type="checkbox"  class="custom-control-input"name="description" value="1" id="detailsCheck"/>
                            {% endif %}
                            
                             
                            <label class="custom-control-label" for="detailsCheck">{{ entry_description }}</label>
                        </div>
                        <div class="text-left mr-sm-3">
                            <button type="submit"  value="{{ button_search }}" id="button-search"  class="btn btn-light bblue-btn mr-sm-3">{{ heading_title_btn }}</button>
                        </div>
                    </form>
                </div>
            </div>
            
            {% if not products %} 
            <div class="row empty-search">
                <div class="col-md-12 col-12">
                    <div class="error text-center">
                        <img src="/catalog/view/theme/journal2/styleFiles/images/vectors.png" class="error-img">
                    </div>
                    <div class="text-center pt-20">
                        <h4 class="mb-20">{{ text_empty_2 }}</h4>
                        <a class="btn btn-light blue-btn" href="/">{{ text_countu }}</a>
                    </div>
                </div>
            </div>
            {% endif %}
             {% if products %}
            <div class="row grid-view search-result">
                 
                        
                        {% for product in products %}
                        <div class="col-md-4 col-12">
                            <div class="product-item {% if product.labels and product.labels.outofstock %} outofstock {% endif %}">
                                <img  src="{{ product.thumb }}" title="{{ product.name }}" alt="{{ product.name }}" class="product-pic">
                                {% for label, name in product.labels %}
                                  <span class="badge badge-secondary new-badge label-{{ label }}">{{ name }}</span>
                                {% endfor %}
                                <div class="product-desc">
                                              
                                    <h5 class="product-name"><a href="{{ product.href }}">{{ product.name }}</a></h5>
                                    <div class="star-ratings start-ratings-main">
                                        <input type="text" class="rating rating5" value="{{ product.rating }}" readonly="true"/>
                                    </div>
                                    <div class="clearfix"></div>
                                    <p class="product-price">
                                     {% if not product.special %}
                                        {{ product.price }}
                                      {% else %}
                                        <span class="price-old">{{ product.price }}</span> <span class="price price-new" {% if product.date_end %}data-end-date="{{ product.date_end }}"{% endif %}>{{ product.special }}</span>
                                      {% endif %}
                                    </p>
                                    <button type="button"  {% if product.labels and product.labels.outofstock %} disabled="" {% endif %} onclick="addToCart('{{ product.product_id }}', '{{ product.minimum }}');"  data-hint="{{ button_cart }}" class="btn btn-light white-btn">{{ button_cart }}</button>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        
                       
                 
            </div>
           {% endif %}
        </div>
    </section>
    <!-- End Account Section -->
 
{{ footer }}
