{{ header }}

 
<!-- Start Bradcrumb -->
<section class="breadcrumb-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        
                        {% for breadcrumb in breadcrumbs %}
                          <li  class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ breadcrumb.href }}" itemprop="url"><span itemprop="title">{{ breadcrumb.text }}</span></a></li>
                        {% endfor %}
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Breadcrumb -->

<!-- Start filter Section -->
    <section class="brands-filter-sec padding-100">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <div class="section-title">
                        <h4>{{ heading_title }}</h4>
                        <img src="/catalog/view/theme/journal2/styleFiles/images/line.png" class="title-line">
                    </div>
                </div>
            </div>  
            
            <div class="row">
               
                 
                <div id="content" class="col-md-12 col-12">
                    <div class="filter-bar">
                        <div class="row">
                            <div class="col-8 col-md-7 content-nav">
                                <div class="form-group">
                                    <label>{{ text_limit }} </label>
                                    
                                    <select onchange="location = this.value;"  class="form-control-inline limit">
                                      {% for limits in limits %}
                                        {% if limits.value == limit %}
                                          <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
                                        {% else %}
                                          <option value="{{ limits.href }}">{{ limits.text }}</option>
                                        {% endif %}
                                      {% endfor %}
                                    </select>
                                     
                                    <label>{{ text_sort }}</label> 
                                    <select onchange="location = this.value;" class="form-control-inline sort">
                                      {% for sorts in sorts %}
                                        {% if sorts.value == '%s-%s'|format(sort, order) %}
                                          <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
                                        {% else %}
                                          <option value="{{ sorts.href }}">{{ sorts.text }}</option>
                                        {% endif %}
                                      {% endfor %}
                                    </select>
                                     
                                </div>
                            </div>
                            <div class="col-4 col-md-2">
                                <div class="icons">
                                    <i class="fa fa-table active" id="gridviewbtn"></i>
                                    <i class="fa fa-list" id="listviewbtn"></i>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="summary text-left">
                                    <p style="font-size: 13px;" class="text-left">{{ results }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row main-products product-grid grid-view">
                          
                        {% if products %} 
                        
                        {% for product in products %}
                        <div class="col-md-4 col-12">
                            <div class="product-item product{{ product.product_id }} {% if product.labels and product.labels.outofstock %} outofstock {% endif %}">
                                <a href="{{ product.href }}">
                                    <img  src="{{ product.thumb }}" title="{{ product.name }}" alt="{{ product.name }}" class="product-pic">
                                </a>
                                {% for label, name in product.labels %}
                                  <span class="badge badge-secondary new-badge label-{{ label }}">{{ name }}</span>
                                {% endfor %}
                                <div class="product-desc">
                                     
                                    <h5 class="product-name"><a href="{{ product.href }}">{{ product.name }}</a></h5>
                                    <p class="about-prod">{{ product.description }}</p>
                                    <p class="product-price">
                                     {% if not product.special %}
                                         <span class="price">{{ product.price }}</span>
                                      {% else %}
                                        <span class="price-old">{{ product.price }}</span> <span class="price price-new" {% if product.date_end %}data-end-date="{{ product.date_end }}"{% endif %}>{{ product.special }}</span>
                                      {% endif %}
                                    </p>
                                    <div class="star-ratings start-ratings-main">
                                        <input type="text" class="rating rating5" value="{{ product.rating }}" readonly="true"/>
                                    </div>
                                    <div class="clearfix"></div>
                                    
                                    <button {% if product.labels and product.labels.outofstock %} disabled="" {% endif %} type="button" onclick="addToCart('{{ product.product_id }}', '{{ product.minimum }}');"  data-hint="{{ button_cart }}" class="btn btn-light white-btn">{{ button_cart }}</button>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        
                        {% endif %}
                    </div>
                    <div class="list-view hidden main-products product-list">
                      
                       {% if products %} 
                        
                        {% for product in products %}
                        <div class="row  {% if product.labels and product.labels.outofstock %} outofstock {% endif %}">
                            <div class="col-md-3 col-12">
                                <img  src="{{ product.thumb }}" title="{{ product.name }}" alt="{{ product.name }}" class="product-pic">
                                {% for label, name in product.labels %}
                                  <span class="badge badge-secondary new-badge label-{{ label }}">{{ name }}</span>
                                {% endfor %}
                            </div>
                            <div class="col-md-9 col-12">
                                <div class="product-preview-desc">
                                    <h4>
                                        {{ product.description }}
                                        <button class="add-pro-to-fav"><i class="fas fa-heart"></i></button>
                                    </h4>
                                   
                                     
                                    <p class="product-price">
                                     {% if not product.special %}
                                        {{ product.price }}
                                      {% else %}
                                        <span class="price-old">{{ product.price }}</span> <span class="price price-new" {% if product.date_end %}data-end-date="{{ product.date_end }}"{% endif %}>{{ product.special }}</span>
                                      {% endif %}
                                    </p>
                                    <div class="star-ratings start-ratings-main">
                                        <input type="text" class="rating rating5" value="{{ product.rating }}" readonly="true"/>
                                    </div>
                                    <div class="product-colors mb-10">
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="customRadio1" name="pic1" class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio1" style="--tooltip-background: #decba3;"></label>
                                        </div>
                                         
                                    </div>
                                    <button type="button" onclick="addToCart('{{ product.product_id }}', '{{ product.minimum }}');"  data-hint="{{ button_cart }}" class="btn btn-light white-btn">{{ button_cart }}</button>
                                </div>
                            </div>
                        </div>
                        <hr>
                         
                        {% endfor %}
                        
                        {% endif %}
                    </div>

                    <nav aria-label="Page navigation example">
                        {{ pagination }}
                    </nav>
                    
                    {% if  not products %}
                    <p>{{ text_empty_speasl }}</p>
                    <div class="buttons">
                      <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary button">{{ button_continue }}</a></div>
                    </div>
                  {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- End filter Section -->
 
{{ footer }}
