{{ header }}
 <!-- Start Bradcrumb -->
    <section class="breadcrumb-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                           {% for breadcrumb in breadcrumbs %}
                              <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ breadcrumb.href }}" itemprop="url"><span itemprop="title">{{ breadcrumb.text }}</span></a></li>
                            {% endfor %}
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Breadcrumb -->
    
     <!-- Start Account Section -->
    <section class="account-sec padding-100">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <h5 class="account-title blue-color">{{ heading_title }}</h5>
                </div>
                <div class="col-md-3 col-12">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" href="/index.php?route=account/edit">{{ list_account }}</a>
                        <a class="nav-link" href="/index.php?route=account/password">{{ list_pass }}</a>
                        <a class="nav-link" href="/index.php?route=account/wishlist">{{ list_wish }}</a>
                        <a class="nav-link" href="/index.php?route=account/order">{{ list_orders }}</a>
                        <a class="nav-link" href="/index.php?route=account/return">{{ list_return }}</a>
                        <a class="nav-link" href="/index.php?route=account/address">{{ list_address }}</a>
                        <a class="nav-link" href="/index.php?route=account/logout">{{ list_logout }}</a>
                    </div>
                </div>
                <div class="col-md-9 col-12">
                    <div class="my-acc">
                        <h4>{{ heading_title }}</h4>
                        <hr>
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ edit }}">
                                    <img src="/catalog/view/theme/journal2/styleFiles/images/ico1.png">
                                    <span>{{ text_edit }}</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ password }}">
                                    <img src="/catalog/view/theme/journal2/styleFiles/images/ico2.png">
                                    <span>{{ text_password }}</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ address }}">
                                    <img src="/catalog/view/theme/journal2/styleFiles/images/ico4.png">
                                    <span>{{ text_address }}</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ wishlist }}">
                                    <img src="/catalog/view/theme/journal2/styleFiles/images/ico3.png">
                                    <span>{{ list_wish }}</span>
                                </a>
                            </li>
                        </ul>
                        <h4>{{ text_my_orders }}</h4>
                        <hr>
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ order }}">
                                    <img src="/catalog/view/theme/journal2/styleFiles/images/ico5.png">
                                    <span>{{ text_order }}</span>
                                </a>
                            </li>
                             
                             
                            <li class="nav-item">
                                <a class="nav-link" href="{{ return }}">
                                    <img src="/catalog/view/theme/journal2/styleFiles/images/ico6.png">
                                    <span>{{ text_return }}</span>
                                </a>
                            </li>
                            
                        </ul>
                       
                        <h4>{{ text_my_newsletter }}</h4>
                        <hr>
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ newsletter }}">
                                     
                                    <img src="/catalog/view/theme/journal2/styleFiles/images/ico7.png">
                                    <span>{{ text_newsletter }}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Account Section -->
{{ footer }}
