{{ header }}


    <!-- Start Bradcrumb -->
    <section class="breadcrumb-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                           {% for breadcrumb in breadcrumbs %}
                              <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ breadcrumb.href }}" itemprop="url"><span itemprop="title">{{ breadcrumb.text }}</span></a></li>
                            {% endfor %}
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Breadcrumb -->
    
    <!-- Start Account Section -->
    <section class="account-sec padding-100">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <h5 class="account-title blue-color">{{ list_my_account }}</h5>
                </div>
                <div class="col-md-3 col-12">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link " href="/index.php?route=account/edit">{{ list_account }}</a>
                        <a class="nav-link " href="/index.php?route=account/password">{{ list_pass }}</a>
                        <a class="nav-link" href="/index.php?route=account/wishlist">{{ list_wish }}</a>
                        <a class="nav-link" href="/index.php?route=account/order">{{ list_orders }}</a>
                        <a class="nav-link" href="/index.php?route=account/return">{{ list_return }}</a>
                        <a class="nav-link active" href="/index.php?route=account/address">{{ list_address }}</a>
                        <a class="nav-link" href="/index.php?route=account/logout">{{ list_logout }}</a>
                    </div>
                </div>
                <div class="col-md-9 col-12">
                    <div class="ship-address">
                    <div class="address-title clearfix">
                     <h2 class="float-right">{{ text_address_book }}</h2>
                     <a   style="width: auto;  " class="btn btn-light bblue-btn float-left" href="/index.php?route=account/address/add">{{ text_address_add }}</a>
                    </div>
                      {% if addresses %}
                        <div class="table-responsive">
                          <table class="table table-bordered table-hover">
                            {% for result in addresses %}
                              <tr>
                                <td class="text-right">{{ result.address }}</td>
                                <td class="text-right"><a href="{{ result.update }}" class="btn btn-info button">{{ button_edit }}</a> &nbsp; <a href="{{ result.delete }}" class="btn btn-danger button">{{ button_delete }}</a></td>
                              </tr>
                            {% endfor %}
                          </table>
                        </div>
                      {% else %}
                        <p>{{ text_empty }}</p>
                      {% endif %}
                </div>
                </div>
            </div>
        </div>
    </section>
 
{{ footer }}
