{{ header }}
 
    <!-- Start Bradcrumb -->
    <section class="breadcrumb-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                           {% for breadcrumb in breadcrumbs %}
                              <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ breadcrumb.href }}" itemprop="url"><span itemprop="title">{{ breadcrumb.text }}</span></a></li>
                            {% endfor %}
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Breadcrumb -->
    
 <!-- Start Account Section -->
    <section class="account-sec padding-100">
        <div class="container">
            
            <div class="row">
                <div class="col-md-12 col-12">
                    <h5 class="account-title blue-color">{{ heading_title }}</h5>
                </div>
                <div class="row">
                    {% if error_warning %}
                        <div class="alert alert-danger warning"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
                      {% endif %}
                </div>
                <div class="col-md-3 col-12">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" href="/index.php?route=account/edit">تحرير الحساب</a>
                        <a class="nav-link" href="/index.php?route=account/password">كلمة المرور</a>
                        <a class="nav-link" href="/index.php?route=account/wishlist">قائمة الأمنيات</a>
                        <a class="nav-link" href="/index.php?route=account/order">طلباتي</a>
                        <a class="nav-link" href="/index.php?route=account/return">المنتجات المرتجعة</a>
                        <a class="nav-link" href="/index.php?route=account/address">دفتر العناوين</a>
                        <a class="nav-link" href="/index.php?route=account/logout">تسجيل الخروج</a>
                       
                    </div>
                </div>
                <div class="col-md-9 col-12">
                   <form action="{{ action }}" method="post" enctype="multipart/form-data" class="needs-validation login-frm" data-toggle="validator" role="form">
                        <div class="frm-body">
                            <div class="form-group">
                                <label>{{ entry_firstname }} </label>
                                <input type="text" class="form-control" placeholder="{{ entry_firstname }}" data-error="يجب إدخال اسم المستخدم" name="firstname" value="{{ firstname }}" placeholder="{{ entry_firstname }}" id="input-firstname" />
                                {% if error_firstname %}
                                  <div class="text-danger">{{ error_firstname }}</div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label>{{ entry_lastname }}</label>
                                <input type="text" class="form-control"  name="lastname" value="{{ lastname }}" placeholder="{{ entry_lastname }}" id="input-lastname"  data-error="يجب إدخال اسم المستخدم" />
                                {% if error_lastname %}
                                  <div class="text-danger">{{ error_lastname }}</div>
                                {% endif %}    
                            </div>
                            <div class="form-group">
                                <label>{{ entry_email }}</label>
                                <input type="email" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control" aria-describedby="emailHelp" placeholder="البريد الالكتروني" data-error="يجب إدخال البريد الالكتروني">
                                {% if error_email %}
                                  <div class="text-danger">{{ error_email }}</div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label>{{ entry_telephone }}</label>
                                <input type="text" class="form-control"  name="telephone" value="{{ telephone }}" placeholder="{{ entry_telephone }}" id="input-telephone"  data-error="يجب إدخال رقم الهاتف">
                                {% if error_telephone %}
                                  <div class="text-danger">{{ error_telephone }}</div>
                                {% endif %}
                            </div>
                            
                            {% for custom_field in custom_fields %}
              {% if custom_field.type == 'select' %}
                <div class="form-group{% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
                  <label class="col-sm-2 control-label" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
                  <div class="col-sm-10">
                    <select name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control">
                      <option value="">{{ text_select }}</option>
                      {% for custom_field_value in custom_field.custom_field_value %}
                        {% if account_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id == account_custom_field[custom_field.custom_field_id] %}
                          <option value="{{ custom_field_value.custom_field_value_id }}" selected="selected">{{ custom_field_value.name }}</option>
                        {% else %}
                          <option value="{{ custom_field_value.custom_field_value_id }}">{{ custom_field_value.name }}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                    {% if error_custom_field[custom_field.custom_field_id] %}
                      <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
              {% if custom_field.type == 'radio' %}
                <div class="form-group{% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
                  <label class="col-sm-2 control-label">{{ custom_field.name }}</label>
                  <div class="col-sm-10">
                    <div>
                      {% for custom_field_value in custom_field.custom_field_value %}
                        <div class="radio">
                          {% if account_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id == account_custom_field[custom_field.custom_field_id] %}
                            <label>
                              <input type="radio" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}" checked="checked"/>
                              {{ custom_field_value.name }}</label>
                          {% else %}
                            <label>
                              <input type="radio" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}"/>
                              {{ custom_field_value.name }}</label>
                          {% endif %}
                        </div>
                      {% endfor %}
                    </div>
                    {% if error_custom_field[custom_field.custom_field_id] %}
                      <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
              {% if custom_field.type == 'checkbox' %}
                <div class="form-group{% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
                  <label class="col-sm-2 control-label">{{ custom_field.name }}</label>
                  <div class="col-sm-10">
                    <div>
                      {% for custom_field_value in custom_field.custom_field_value %}
                        <div class="checkbox">
                          {% if account_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id in account_custom_field[custom_field.custom_field_id] %}
                            <label>
                              <input type="checkbox" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]" value="{{ custom_field_value.custom_field_value_id }}" checked="checked"/>
                              {{ custom_field_value.name }}</label>
                          {% else %}
                            <label>
                              <input type="checkbox" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]" value="{{ custom_field_value.custom_field_value_id }}"/>
                              {{ custom_field_value.name }}</label>
                          {% endif %}
                        </div>
                      {% endfor %}
                    </div>
                    {% if error_custom_field[custom_field.custom_field_id] %}
                      <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
              {% if custom_field.type == 'text' %}
                <div class="form-group{% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
                  <label class="col-sm-2 control-label" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
                  <div class="col-sm-10">
                    <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if account_custom_field[custom_field.custom_field_id] %}{{ account_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control"/>
                    {% if error_custom_field[custom_field.custom_field_id] %}
                      <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
              {% if custom_field.type == 'textarea' %}
                <div class="form-group{% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
                  <label class="col-sm-2 control-label" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
                  <div class="col-sm-10">
                    <textarea name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" rows="5" placeholder="{{ custom_field.name }}" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control">{% if account_custom_field[custom_field.custom_field_id] %}{{ account_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}</textarea>
                    {% if error_custom_field[custom_field.custom_field_id] %}
                      <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
              {% if custom_field.type == 'file' %}
                <div class="form-group{% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
                  <label class="col-sm-2 control-label">{{ custom_field.name }}</label>
                  <div class="col-sm-10">
                    <button type="button" id="button-custom-field{{ custom_field.custom_field_id }}" data-loading-text="{{ text_loading }}" class="btn btn-default button"><i class="fa fa-upload"></i> {{ button_upload }}</button>
                    <input type="hidden" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if account_custom_field[custom_field.custom_field_id] %}{{ account_custom_field[custom_field.custom_field_id] }} {% endif %}"/>
                    {% if error_custom_field[custom_field.custom_field_id] %}
                      <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
              {% if custom_field.type == 'date' %}
                <div class="form-group{% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
                  <label class="col-sm-2 control-label" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
                  <div class="col-sm-10">
                    <div class="input-group date">
                      <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if account_custom_field[custom_field.custom_field_id] %}{{ account_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" data-date-format="YYYY-MM-DD" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control"/>
                      <span class="input-group-btn">
                <button type="button" class="btn btn-default button"><i class="fa fa-calendar"></i></button>
                </span></div>
                    {% if error_custom_field[custom_field.custom_field_id] %}
                      <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
              {% if custom_field.type == 'time' %}
                <div class="form-group{% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
                  <label class="col-sm-2 control-label" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
                  <div class="col-sm-10">
                    <div class="input-group time">
                      <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if account_custom_field[custom_field.custom_field_id] %}{{ account_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" data-date-format="HH:mm" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control"/>
                      <span class="input-group-btn">
                <button type="button" class="btn btn-default button"><i class="fa fa-calendar"></i></button>
                </span></div>
                    {% if error_custom_field[custom_field.custom_field_id] %}
                      <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
              {% if custom_field.type == 'time' %}
                <div class="form-group{% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
                  <label class="col-sm-2 control-label" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
                  <div class="col-sm-10">
                    <div class="input-group datetime">
                      <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if account_custom_field[custom_field.custom_field_id] %}{{ account_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" data-date-format="YYYY-MM-DD HH:mm" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control"/>
                      <span class="input-group-btn">
                <button type="button" class="btn btn-default button"><i class="fa fa-calendar"></i></button>
                </span></div>
                    {% if error_custom_field[custom_field.custom_field_id] %}
                      <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
            {% endfor %}
            
            
                            <div class="form-row mt-30">
                                <div class="col-md-4 col-12">
                                    <button type="submit" class="btn btn-light bblue-btn">{{ button_continue }}</button>
                                </div>
                            </div>                   
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- End Account Section -->
    
{{ footer }}
