{{ header }}

<!-- Start Bradcrumb -->
    <section class="breadcrumb-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            {% for breadcrumb in breadcrumbs %}
                              <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ breadcrumb.href }}" itemprop="url"><span itemprop="title">{{ breadcrumb.text }}</span></a></li>
                            {% endfor %}
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Breadcrumb -->
    
    <!-- Start Account Section -->
    <section class="account-sec padding-100">
        <div class="container">
            <div class="row">
                {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}
                <div class="col-md-12 col-12">
                    <h5 class="  blue-color">{{ heading_title }}</h5>
                    
                </div>
                 
                <div class="col-md-6 col-12">
                    <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
                      <fieldset>
                        <h2 class="secondary-title">{{ text_your_email }}</h2>
                        <div class="form-group required">
                          
                            <input type="text" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control"/>
                           
                        </div>
                      </fieldset>
                      <div class="row buttons">
                        <div class="col-md-6"><a href="{{ back }}" class="btn btn-default btn-light  button">{{ button_back }}</a></div>
                        <div class="col-md-6">
                          <input type="submit" value="{{ text_forgotten }}" class="btn btn-light bblue-btn"/>
                        </div>
                      </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- End Account Section -->
< 
{{ footer }}
