{{ header }}
<style>
.alert {
    
    padding: 10px !important;
    
}
</style>
 <!-- Start Site Content -->
    <div class="content-wrap">
        <div class="content">
            <!-- Start Bradcrumb -->
            <section class="breadcrumb-sec">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-12">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    {% for breadcrumb in breadcrumbs %}
                                      <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"  class="breadcrumb-item"><a href="{{ breadcrumb.href }}" itemprop="url"><span itemprop="title">{{ breadcrumb.text }}</span></a></li>
                                    {% endfor %}
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Breadcrumb -->

            <!-- Start About Section -->
            <section class="login-sec padding-100">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-6 col-12">
                            <div class="login-div">
                                
                                <ul class="nav nav-pills nav-justified">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="/index.php?route=account/login">{{ text_login }}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/index.php?route=account/register">{{ text_register }}</a>
                                    </li>
                                </ul>   
                                
                                <form action="{{ action }}" method="post" class="needs-validation login-frm" id="loginForm" >
                                    {% if success %}
                                      <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
                                      {% endif %}
                                      {% if error_warning %}
                                      <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
                                      {% endif %}    
                                    <div class="frm-body">
                                        <h4>أنا مستخدم في زفافي</h4>
                                        <p>أدخل بريدك الألكتروني وكلمة السر لتعرف نفسك</p>
                                        <div class="form-group">
                                                 
                                            <input type="text"name="email"  value="{{ email }}" class="form-control"  placeholder="{{ entry_email }}"   required>
                                             
                                        </div>
                                         
                                        <div class="form-group">
                                            
                                            <input type="password"  name="password" class="form-control" value="{{ password }}" placeholder="{{ entry_password }}"   required>
                                        </div>
                                        {% if redirect %}
                                            <input type="hidden" name="redirect" value="{{ redirect }}"/>
                                          {% endif %}
                                        
                                        <a class="forget-pass" href="{{ forgotten }}">{{ text_forgotten }}</a>
                                        <button type="submit" class="btn btn-light blue-btn width-100">{{ button_login }}</button>
                                    </div>
                                </form>
                            </div> 
                        </div>
                    </div>
                      
                </div>
            </section>

            <!-- End About Section -->
 
    
{{ footer }}
