{{ header }}

 <!-- Start Bradcrumb -->
    <section class="breadcrumb-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                           {% for breadcrumb in breadcrumbs %}
                              <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ breadcrumb.href }}" itemprop="url"><span itemprop="title">{{ breadcrumb.text }}</span></a></li>
                            {% endfor %}
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Breadcrumb -->
    <!-- Start Account Section -->
    <section class="account-sec padding-100">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <h5 class="account-title blue-color">{{ list_my_account }}</h5>
                </div>
                <div class="col-md-3 col-12">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link " href="/index.php?route=account/edit">{{ list_account }}</a>
                        <a class="nav-link " href="/index.php?route=account/password">{{ list_pass }}</a>
                        <a class="nav-link" href="/index.php?route=account/wishlist">{{ list_wish }}</a>
                        <a class="nav-link" href="/index.php?route=account/order">{{ list_orders }}</a>
                        <a class="nav-link" href="/index.php?route=account/return">{{ list_return }}</a>
                        <a class="nav-link" href="/index.php?route=account/address">{{ list_address }}</a>
                        <a class="nav-link" href="/index.php?route=account/logout">{{ list_logout }}</a>
                    </div>
                </div>
                <div class="col-md-9 col-12">
                <h2>{{ heading_title }}</h2>
                    <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
        <fieldset>
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_newsletter }}</label>
            <div class="col-sm-10">
              {% if newsletter %}
                <label class="radio-inline">
                  <input type="radio" name="newsletter" value="1" checked="checked"/>
                  {{ text_yes }} </label>
                <label class="radio-inline">
                  <input type="radio" name="newsletter" value="0"/>
                  {{ text_no }}</label>
              {% else %}
                <label class="radio-inline">
                  <input type="radio" name="newsletter" value="1"/>
                  {{ text_yes }} </label>
                <label class="radio-inline">
                  <input type="radio" name="newsletter" value="0" checked="checked"/>
                  {{ text_no }}</label>
              {% endif %}
            </div>
          </div>
        </fieldset>
        <div class="buttons row clearfix">
          <div class="col-md-6  col-12"><a href="{{ back }}" class="btn btn-default button">{{ button_back }}</a></div>
          <div class="col-md-6  col-12">
            <input type="submit" value="{{ button_continue45 }}" class="btn btn-primary button"/>
          </div>
        </div>
      </form>
      
                    
                </div>
            </div>
        </div>
    </section>
    <!-- End Account Section -->
    
 
{{ footer }}
