{{ header }}
<style>
.text-left {
    text-align: right!important;
}
.btn-primary {
    color: #fff;
    background-color: #248587;
    border-color: #248587;
}
</style>
<!-- Start Bradcrumb -->
    <section class="breadcrumb-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            {% for breadcrumb in breadcrumbs %}
                              <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ breadcrumb.href }}" itemprop="url"><span itemprop="title">{{ breadcrumb.text }}</span></a></li>
                            {% endfor %}
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Breadcrumb -->
    
<section>
    <div class="container">
        <div class="row">
            {% if success %}
            <div class="alert alert-success alert-dismissible success"><i class="fa fa-check-circle"></i> {{ success }}
              <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
          {% endif %}
          {% if error_warning %}
            <div class="alert alert-danger alert-dismissible warning"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
              <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
          {% endif %}
        </div>
    </div>
</section>

<!-- Start Account Section -->
    <section class="account-sec padding-100">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <h5 class="account-title blue-color">{{ list_my_account }}</h5>
                </div>
                <div class="col-md-3 col-12">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    
                        
                        <a class="nav-link " href="/index.php?route=account/edit">{{ list_account }}</a>
                        <a class="nav-link" href="/index.php?route=account/password">{{ list_pass }}</a>
                        <a class="nav-link" href="/index.php?route=account/wishlist">{{ list_wish }}</a>
                        <a class="nav-link active" href="/index.php?route=account/order">{{ list_orders }}</a>
                        <a class="nav-link" href="/index.php?route=account/return">{{ list_return }}</a>
                        <a class="nav-link" href="/index.php?route=account/address">{{ list_address }}</a>
                        <a class="nav-link" href="/index.php?route=account/logout">{{ list_logout }}</a>
                    </div>
                </div>
                <div class="col-md-9 col-12">
                    <div class="my-orders-tab">
                        <h4 class="">{{ heading_title }}</h4>
                        <p>{{ text_can_return }}</p>
                         <table class="table table-bordered table-hover list">
        <thead>
        <tr>
          <td class="text-left" colspan="2">{{ text_order_detail }}</td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="text-left" style="width: 50%;">{% if invoice_no %} <b>{{ text_invoice_no }}</b> {{ invoice_no }}<br/>
            {% endif %} <b>{{ text_order_id }}</b> {{ order_id }}<br/>
            <b>{{ text_date_added }}</b> {{ date_added }}</td>
          <td class="text-left" style="width: 50%;">{% if payment_method %} <b>{{ text_payment_method }}</b> {{ payment_method }}<br/>
            {% endif %}
            {% if shipping_method %} <b>{{ text_shipping_method }}</b> {{ shipping_method }} {% endif %}</td>
        </tr>
        </tbody>
      </table>
      <table class="table table-bordered table-hover list">
        <thead>
        <tr>
          <td class="text-left" style="width: 50%; vertical-align: top;">{{ text_payment_address }}</td>
          {% if shipping_address %}
            <td class="text-left" style="width: 50%; vertical-align: top;">{{ text_shipping_address }}</td>
          {% endif %} </tr>
        </thead>
        <tbody>
        <tr>
          <td class="text-left">{{ payment_address }}</td>
          {% if shipping_address %}
            <td class="text-left">{{ shipping_address }}</td>
          {% endif %} </tr>
        </tbody>
      </table>
      <div class="table-responsive">
        <table class="table table-bordered table-hover list">
          <thead>
          <tr>
            <td class="text-left">{{ column_name }}</td>
            <td class="text-left">{{ column_model }}</td>
            <td class="text-right">{{ column_quantity }}</td>
            <td class="text-right">{{ column_price }}</td>
            <td class="text-right">{{ column_total }}</td>
            {% if products %}
              <td style="width: 20px;"></td>
            {% endif %} </tr>
          </thead>
          <tbody>

          {% for product in products %}
            <tr>
              <td class="text-left">{{ product.name }}
                {% for option in product.option %} <br/>
                  &nbsp;
                  <small> - {{ option.name }}: {{ option.value }}</small> {% endfor %}</td>
              <td class="text-left">{{ product.model }}</td>
              <td class="text-right">{{ product.quantity }}</td>
              <td class="text-right">{{ product.price }}</td>
              <td class="text-right">{{ product.total }}</td>
              <td class="text-right" style="white-space: nowrap;">{% if product.reorder %} <a href="{{ product.reorder }}" data-toggle="tooltip" title="{{ button_reorder }}" class="btn btn-primary"><i class="fa fa-shopping-cart"></i></a> {% endif %}
              
              <a href="{{ product.return }}" data-toggle="tooltip" title="{{ button_return }}" class="btn btn-danger"><i class="fa fa-reply"></i> {{ button_return }}</a></td>
            </tr>
          {% endfor %}
          {% for voucher in vouchers %}
            <tr>
              <td class="text-left">{{ voucher.description }}</td>
              <td class="text-left"></td>
              <td class="text-right">1</td>
              <td class="text-right">{{ voucher.amount }}</td>
              <td class="text-right">{{ voucher.amount }}</td>
              {% if products %}
                <td></td>
              {% endif %} </tr>
          {% endfor %}
          </tbody>

          <tfoot>

          {% for total in totals %}
            <tr>
              <td colspan="3"></td>
              <td class="text-right"><b>{{ total.title }}</b></td>
              <td class="text-right">{{ total.text }}</td>
              {% if products %}
                <td></td>
              {% endif %} </tr>
          {% endfor %}
          </tfoot>

        </table>
      </div>
      {% if comment %}
        <table class="table table-bordered table-hover list">
          <thead>
          <tr>
            <td class="text-left">{{ text_comment }}</td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="text-left">{{ comment }}</td>
          </tr>
          </tbody>
        </table>
      {% endif %}
      {% if histories %}
        <h2 class="secondary-title">{{ text_history }}</h2>
        <table class="table table-bordered table-hover list">
          <thead>
          <tr>
            <td class="text-left">{{ column_date_added }}</td>
            <td class="text-left">{{ column_status }}</td>
            <td class="text-left">{{ column_comment }}</td>
          </tr>
          </thead>
          <tbody>

          {% if histories %}
            {% for history in histories %}
              <tr>
                <td class="text-left">{{ history.date_added }}</td>
                <td class="text-left">{{ history.status }}</td>
                <td class="text-left">{{ history.comment }}</td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td colspan="3" class="text-center">{{ text_no_results }}</td>
            </tr>
          {% endif %}
          </tbody>

        </table>
      {% endif %} 
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Account Section -->
    
 
{{ footer }}
