 
{{ header }}
<!-- Start Bradcrumb -->
    <section class="breadcrumb-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            {% for breadcrumb in breadcrumbs %}
                              <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ breadcrumb.href }}" itemprop="url"><span itemprop="title">{{ breadcrumb.text }}</span></a></li>
                            {% endfor %}
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Breadcrumb -->
  <!-- Start Account Section -->
    <section class="account-sec padding-100">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <h5 class="account-title blue-color">{{ list_my_account }}</h5>
                </div>
                <div class="col-md-3 col-12">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link " href="/index.php?route=account/edit">{{ list_account }}</a>
                        <a class="nav-link" href="/index.php?route=account/password">{{ list_pass }}</a>
                        <a class="nav-link " href="/index.php?route=account/wishlist">{{ list_wish }}</a>
                        <a class="nav-link active" href="/index.php?route=account/order">{{ list_orders }}</a>
                        <a class="nav-link" href="/index.php?route=account/return">{{ list_return }}</a>
                        <a class="nav-link" href="/index.php?route=account/address">{{ list_address }}</a>
                        <a class="nav-link" href="/index.php?route=account/logout">{{ list_logout }}</a>
                    </div>
                </div>
                <div class="col-md-9 col-12">
                    <div class="my-orders-tab">
                        <h4 class="">{{ heading_title }}</h4>
                         
                         {% if orders %}
                            
      
      
                        
                             
                            <div class="table-responsive">
                            <table class="table wishlist-tble"> 
                                <thead  class="thead-light">
                                <tr>
                                  <td >{{ column_order_id }}</td>
                                
                                  <td  >{{ column_product }}</td>
                                  <td >{{ column_status }}</td>
                                  <td  >{{ column_total }}</td>
                                  <td >{{ column_date_added }}</td>
                                  <td></td>
                                </tr>
                                </thead>
                                <tbody>
                                {% for order in orders %}
                                  <tr>
                                    <td >#{{ order.order_id }}</td>
                                     
                                    <td  >{{ order.products }}</td>
                                    <td >
                                    {% if order.status == 'Order shipped' or  order.status == 'تم شحن الطلب' %}
                                    <span class="btn btn-light shiped bblue-btn">{{ order.status }}</span>
                                    {% else %}
                                    <span class="btn btn-light bblue-btn">{{ order.status }}</span>
                                    {% endif %}
                                      </td>
                                    <td  >{{ order.total }}</td>
                                    <td>{{ order.date_added }}</td>
                                    <td ><a href="{{ order.view }}" data-toggle="tooltip" title="{{ button_view }}" class="btn btn-info btn-primary"><i class="fa fa-eye"></i></a></td>
                                  </tr>
                                {% endfor %}
                                </tbody>
                              </table>
                            </div>
                            <div class="row">
                              <div class="col-sm-6 text-left">{{ pagination }}</div>
                              <div class="col-sm-6 text-right">{{ results }}</div>
                            </div>
                          {% else %}
                            <p>{{ text_empty }}</p>
                          {% endif %}
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Account Section -->
{{ footer }}
