 {{ header }}

    <!-- Start Bradcrumb -->
    <section class="breadcrumb-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            {% for breadcrumb in breadcrumbs %}
                              <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ breadcrumb.href }}" itemprop="url"><span itemprop="title">{{ breadcrumb.text }}</span></a></li>
                            {% endfor %}
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Breadcrumb -->

    <!-- Start Account Section -->
    <section class="account-sec padding-100">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <h5 class="account-title blue-color">{{ list_my_account }}</h5>
                </div>
                <div class="col-md-3 col-12">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link " href="/index.php?route=account/edit">{{ list_account }}</a>
                        <a class="nav-link active" href="/index.php?route=account/password">{{ list_pass }}</a>
                        <a class="nav-link" href="/index.php?route=account/wishlist">{{ list_wish }}</a>
                        <a class="nav-link" href="/index.php?route=account/order">{{ list_orders }}</a>
                        <a class="nav-link" href="/index.php?route=account/return">{{ list_return }}</a>
                        <a class="nav-link" href="/index.php?route=account/address">{{ list_address }}</a>
                        <a class="nav-link" href="/index.php?route=account/logout">{{ list_logout }}</a>
                    </div>
                </div>
                <div class="col-md-9 col-12">
                    <form action="{{ action }}" method="post" enctype="multipart/form-data"  class="needs-validation login-frm" data-toggle="validator" role="form">
                        <div class="frm-body">
                            <div class="form-group">
                                <label>{{ entry_password }}</label>
                                <input type="password" class="form-control" name="password" value="{{ password }}" placeholder="{{ entry_password }}"   id="inputPassword" data-error="يجب إدخال كلمة المرور">
                                <div class="help-block with-errors"></div>
                                {% if error_password %}
                                  <div class="text-danger">{{ error_password }}</div>
                                {% endif %}
                            </div>
                            <div class="form-group"> 
                                <label>{{ entry_confirm }}</label>
                                <input type="password" class="form-control" id="inputPasswordConfirm"  name="confirm" value="{{ confirm }}" placeholder="{{ entry_confirm }}"  data-match="#inputPassword" data-match-error="كلمة المرور غير متطابقة"/>
                                <div class="help-block with-errors"></div>
                                {% if error_confirm %}
                                  <div class="text-danger">{{ error_confirm }}</div>
                                {% endif %}
                            </div>
                            <div class="form-row mt-30">
                                <div class="col-md-4 col-12">
                                    <button type="submit" class="btn btn-light bblue-btn">{{ button_save22 }}</button>
                                </div>
                            </div>                   
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- End Account Section -->
{{ footer }}