{{ header }}
<style>
.alert {
    
    padding: 10px !important;
    
}
</style>
 
            <!-- Start Bradcrumb -->
            <section class="breadcrumb-sec">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-12">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    {% for breadcrumb in breadcrumbs %}
                                      <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"  class="breadcrumb-item"><a href="{{ breadcrumb.href }}" itemprop="url"><span itemprop="title">{{ breadcrumb.text }}</span></a></li>
                                    {% endfor %}
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Breadcrumb -->

            <!-- Start About Section -->
            <section class="login-sec padding-100">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-6 col-12">
                            <div class="register-div">
                                
                                <ul class="nav nav-pills nav-justified">
                                    <li class="nav-item">
                                        <a class="nav-link show-login " href="/index.php?route=account/login">{{ text_lable_text1 }}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link show-register active" href="/index.php?route=account/register">{{ text_lable_text2 }}</a>
                                    </li>
                                </ul>
                                
                                <form  action="{{ action }}" method="post" enctype="multipart/form-data"  class="needs-validation login-frm" id="loginForm"  >
                                    {% if success %}
                                                  <div class="alert alert-success success"><i class="fa fa-check-circle"></i> {{ success }}</div>
                                              {% endif %}
                                              {% if error_warning %}
                                                <div class="alert alert-danger warning"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
                                              {% endif %}
                                    <div class="frm-body">
                                        <h4>أول تجربة لك مع زفافي</h4>
                                        <p>تفضل بإنشاء حساب عبر ملء نموذج التسجيل أدناه</p>
                                                                                
                                        <div class="form-group">
                                             
                                            <input type="text" name="firstname" value="{{ firstname }}" class="form-control" placeholder="{{ entry_firstname }}"  required>
                                            {% if error_firstname %}
                                              <div class="text-danger">{{ error_firstname }}</div>
                                              {% endif %} 
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="lastname" value="{{ lastname }}" class="form-control" placeholder="{{ entry_lastname }}"  required>
                                            {% if error_lastname %}
                                              <div class="text-danger">{{ error_lastname }}</div>
                                              {% endif %}
                                        </div>
                                        <div class="form-group">
                                            <input type="email"  value="{{ email }}"  name="email"  class="form-control"  placeholder="{{ entry_email }}"  required>
                                            {% if error_email %}
                                              <div class="text-danger">{{ error_email }}</div>
                                              {% endif %}
                                        </div>
                                        <div class="form-group">
                                                
                                                <input  type="tel" name="telephone" value="{{ telephone }}" placeholder="{{ entry_telephone }}"  class="form-control"  required>
                                              
                                               
                                                {% if error_telephone %}
              <div class="text-danger">{{ error_telephone }}</div>
              {% endif %}
                                                  
                                                 
                                                
                                            </div>
                                        <div class="form-group">
                                            <input  class="form-control"  type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="inputPassword"  required>
                                            {% if error_password %}
              <div class="text-danger">{{ error_password }}</div>
              {% endif %} 
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" id="inputPasswordConfirm"  type="password" name="confirm" value="{{ confirm }}"   placeholder="{{ entry_confirm }}" required>
                                            {% if error_confirm %}
              <div class="text-danger">{{ error_confirm }}</div>
              {% endif %}
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                    {% if agree %}
                                                       
                                                      <input  name="agree" type="checkbox" value="1" class="custom-control-input"  checked="checked" id="agreeCheck">
                                                    {% else %}
                                                      
                                                      <input type="checkbox" name="agree" value="1" class="custom-control-input"  id="agreeCheck">
                                                    {% endif %}
                                                    
                                                <label  class="custom-control-label" for="agreeCheck">
                                                  {{ text_agree }}
                                                </label>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-light blue-btn width-100">{{ button_reg }}</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>      
                </div>
            </section>

            <!-- End About Section -->
            
 
{{ footer }}
