{{ header }}

<!-- Start Bradcrumb -->
    <section class="breadcrumb-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            {% for breadcrumb in breadcrumbs %}
                              <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ breadcrumb.href }}" itemprop="url"><span itemprop="title">{{ breadcrumb.text }}</span></a></li>
                            {% endfor %}
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Breadcrumb -->
    
    <!-- Start Account Section -->
    <section class="account-sec padding-100">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <h5 class="  blue-color">{{ heading_title }}</h5>
                </div>
                 
                <div class="col-md-6 col-12">
                    <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
        <fieldset>
          <legend>{{ text_password }}</legend>
          <div class="form-group">
            <label class="  control-label" for="input-password">{{ entry_password }}</label>
             
              <input type="password" name="password" value="{{ password }}" id="input-password" class="form-control"/>
              {% if error_password %}
                <div class="text-danger">{{ error_password }}</div>
              {% endif %} </div>
           
          <div class="form-group">
            <label class="  control-label" for="input-confirm">{{ entry_confirm }}</label>
             
              <input type="password" name="confirm" value="{{ confirm }}" id="input-confirm" class="form-control"/>
              {% if error_confirm %}
                <div class="text-danger">{{ error_confirm }}</div>
              {% endif %} 
          </div>
        </fieldset>
        <div class="row buttons">
                        <div class="col-md-6"><a href="{{ back }}" class="btn btn-default btn-light  button">{{ button_back }}</a></div>
                        <div class="col-md-6">
                          <input type="submit" value="{{ button_continue25 }}" class="btn btn-light bblue-btn"/>
                        </div>
                      </div>
      </form>
                </div>
            </div>
        </div>
    </section>
    <!-- End Account Section -->
    
 
{{ footer }}
