{{ header }}
<style>
.text-left {
    text-align: right!important;
}
h3 {
    font-size: 18px;
    
}
</style>
<!-- Start Bradcrumb -->
    <section class="breadcrumb-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            {% for breadcrumb in breadcrumbs %}
                              <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ breadcrumb.href }}" itemprop="url"><span itemprop="title">{{ breadcrumb.text }}</span></a></li>
                            {% endfor %}
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Breadcrumb -->
    
    <!-- Start Account Section -->
    <section class="account-sec padding-100">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <h5 class="account-title blue-color">حسابي</h5>
                </div>
                <div class="col-md-3 col-12">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                       <a class="nav-link " href="/index.php?route=account/edit">{{ list_account }}</a>
                        <a class="nav-link" href="/index.php?route=account/password">{{ list_pass }}</a>
                        <a class="nav-link " href="/index.php?route=account/wishlist">{{ list_wish }}</a>
                        <a class="nav-link " href="/index.php?route=account/order">{{ list_orders }}</a>
                        <a class="nav-link active" href="/index.php?route=account/return">{{ list_return }}</a>
                        <a class="nav-link" href="/index.php?route=account/address">{{ list_address }}</a>
                        <a class="nav-link" href="/index.php?route=account/logout">{{ list_logout }}</a>
                    </div>
                </div>
                <div class="col-md-9 col-12">
                    
                    <div class="my-orders-tab">
                        <h4 class="">{{ heading_title }}</h4>
                         
                          <table class="table list table-bordered table-hover">
                            <thead>
                            <tr>
                              <td class="text-left" colspan="2">{{ text_return_detail }}</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                              <td class="text-left" style="width: 50%;"><b>{{ text_return_id }}</b> #{{ return_id }}<br/>
                                <b>{{ text_date_added }}</b> {{ date_added }}</td>
                              <td class="text-left" style="width: 50%;"><b>{{ text_order_id }}</b> #{{ order_id }}<br/>
                                <b>{{ text_date_ordered }}</b> {{ date_ordered }}</td>
                            </tr>
                            </tbody>
                          </table>
                          <h3>{{ text_product }}</h3>
                          <div class="table-responsive">
                            <table class="table list table-bordered table-hover">
                              <thead>
                              <tr>
                                <td class="text-left" style="width: 33.3%;">{{ column_product }}</td>
                                <td class="text-left" style="width: 33.3%;">{{ column_model }}</td>
                                <td class="text-right" style="width: 33.3%;">{{ column_quantity }}</td>
                              </tr>
                              </thead>
                              <tbody>
                              <tr>
                                <td class="text-left">{{ product }}</td>
                                <td class="text-left">{{ model }}</td>
                                <td class="text-right">{{ quantity }}</td>
                              </tr>
                              </tbody>
                            </table>
                          </div>
                          <h3>{{ text_reason }}</h3>
                          <div class="table-responsive">
                            <table class="list table table-bordered table-hover">
                              <thead>
                              <tr>
                                <td class="text-left" style="width: 33.3%;">{{ column_reason }}</td>
                                <td class="text-left" style="width: 33.3%;">{{ column_opened }}</td>
                                <td class="text-left" style="width: 33.3%;">{{ column_action }}</td>
                              </tr>
                              </thead>
                              <tbody>
                              <tr>
                                <td class="text-left">{{ reason }}</td>
                                <td class="text-left">{{ opened }}</td>
                                <td class="text-left">{{ action }}</td>
                              </tr>
                              </tbody>
                            </table>
                          </div>
                          {% if comment %}
                            <div class="table-responsive">
                              <table class="table list table-bordered table-hover">
                                <thead>
                                <tr>
                                  <td class="text-left">{{ text_comment }}</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                  <td class="text-left">{{ comment }}</td>
                                </tr>
                                </tbody>
                              </table>
                            </div>
                          {% endif %}
                          <h3>{{ text_history }}</h3>
                          <div class="table-responsive">
                            <table class="table list table-bordered table-hover">
                              <thead>
                              <tr>
                                <td class="text-left" style="width: 33.3%;">{{ column_date_added }}</td>
                                <td class="text-left" style="width: 33.3%;">{{ column_status }}</td>
                                <td class="text-left" style="width: 33.3%;">{{ column_comment }}</td>
                              </tr>
                              </thead>
                              <tbody>
                    
                              {% if histories %}
                                {% for history in histories %}
                                  <tr>
                                    <td class="text-left">{{ history.date_added }}</td>
                                    <td class="text-left">{{ history.status }}</td>
                                    <td class="text-left">{{ history.comment }}</td>
                                  </tr>
                                {% endfor %}
                              {% else %}
                                <tr>
                                  <td colspan="3" class="text-center">{{ text_no_results }}</td>
                                </tr>
                              {% endif %}
                              </tbody>
                    
                            </table>
                          </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </section>
    <!-- End Account Section -->

{{ footer }} 
