{{ header }}
<!-- Start Bradcrumb -->
    <section class="breadcrumb-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            {% for breadcrumb in breadcrumbs %}
                              <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ breadcrumb.href }}" itemprop="url"><span itemprop="title">{{ breadcrumb.text }}</span></a></li>
                            {% endfor %}
                        </ol>
                    </nav>
                </div>
            </div>
             {% if error_warning %}
                <div class="alert alert-danger alert-dismissible warning"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
              {% endif %}
        </div>
    </section>
    <!-- End Breadcrumb -->
    
    <!-- Start Account Section -->
    <section class="account-sec padding-100">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <h5 class="account-title blue-color">{{ list_my_account }}</h5>
                </div>
                <div class="col-md-3 col-12">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link " href="/index.php?route=account/edit">{{ list_account }}</a>
                        <a class="nav-link" href="/index.php?route=account/password">{{ list_pass }}</a>
                        <a class="nav-link " href="/index.php?route=account/wishlist">{{ list_wish }}</a>
                        <a class="nav-link " href="/index.php?route=account/order">{{ list_orders }}</a>
                        <a class="nav-link active" href="/index.php?route=account/return">{{ list_return }}</a>
                        <a class="nav-link" href="/index.php?route=account/address">{{ list_address }}</a>
                        <a class="nav-link" href="/index.php?route=account/logout">{{ list_logout }}</a>
                    </div>
                </div>
                <div class="col-md-9 col-12">
                    <h2>{{ heading_title }}</h2>
                     
                    <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
        <fieldset>
          <legend>{{ text_order }}</legend>
          <div class="form-group required">
            <label class="  control-label" for="input-firstname">{{ entry_firstname }}</label>
            <div >
              <input type="text" name="firstname" value="{{ firstname }}" placeholder="{{ entry_firstname }}" id="input-firstname" class="form-control"/>
              {% if error_firstname %}
                <div class="text-danger">{{ error_firstname }}</div>
              {% endif %} </div>
          </div>
          <div class="form-group required">
            <label class="  control-label" for="input-lastname">{{ entry_lastname }}</label>
            <div  >
              <input type="text" name="lastname" value="{{ lastname }}" placeholder="{{ entry_lastname }}" id="input-lastname" class="form-control"/>
              {% if error_lastname %}
                <div class="text-danger">{{ error_lastname }}</div>
              {% endif %} </div>
          </div>
          <div class="form-group required">
            <label class=" control-label" for="input-email">{{ entry_email }}</label>
            <div  >
              <input type="text" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control"/>
              {% if error_email %}
                <div class="text-danger">{{ error_email }}</div>
              {% endif %} </div>
          </div>
          <div class="form-group required">
            <label class="  control-label" for="input-telephone">{{ entry_telephone }}</label>
            <div  >
              <input type="text" name="telephone" value="{{ telephone }}" placeholder="{{ entry_telephone }}" id="input-telephone" class="form-control"/>
              {% if error_telephone %}
                <div class="text-danger">{{ error_telephone }}</div>
              {% endif %} </div>
          </div>
          <div class="form-group required">
            <label class="  control-label" for="input-order-id">{{ entry_order_id }}</label>
            <div  >
              <input type="text" name="order_id" value="{{ order_id }}" placeholder="{{ entry_order_id }}" id="input-order-id" class="form-control"/>
              {% if error_order_id %}
                <div class="text-danger">{{ error_order_id }}</div>
              {% endif %} </div>
          </div>
          <div class="form-group">
            <label class="  control-label" for="input-date-ordered">{{ entry_date_ordered }}</label>
            <div class="col-sm-3">
              <div class="input-group date">
                <input type="text" name="date_ordered" value="{{ date_ordered }}" placeholder="{{ entry_date_ordered }}" data-date-format="YYYY-MM-DD" id="input-date-ordered" class="form-control"/>
                <span class="input-group-btn">
                <button type="button" class="btn btn-default button"><i class="fa fa-calendar"></i></button>
                </span></div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>{{ text_product }}</legend>
          <div class="form-group required">
            <label class=" control-label" for="input-product">{{ entry_product }}</label>
            <div >
              <input type="text" name="product" value="{{ product }}" placeholder="{{ entry_product }}" id="input-product" class="form-control"/>
              {% if error_product %}
                <div class="text-danger">{{ error_product }}</div>
              {% endif %} </div>
          </div>
          <div class="form-group required">
            <label class=" control-label" for="input-model">{{ entry_model }}</label>
            <div  >
              <input type="text" name="model" value="{{ model }}" placeholder="{{ entry_model }}" id="input-model" class="form-control"/>
              {% if error_model %}
                <div class="text-danger">{{ error_model }}</div>
              {% endif %} </div>
          </div>
          <div class="form-group">
            <label class=" control-label" for="input-quantity">{{ entry_quantity }}</label>
            <div >
              <input type="text" name="quantity" value="{{ quantity }}" placeholder="{{ entry_quantity }}" id="input-quantity" class="form-control"/>
            </div>
          </div>
          <div class="form-group required">
            <label class=" control-label">{{ entry_reason }}</label>
            <div > {% for return_reason in return_reasons %}
                {% if return_reason.return_reason_id == return_reason_id %}
                  <div class="radio">
                    <label>
                      <input type="radio" name="return_reason_id" value="{{ return_reason.return_reason_id }}" checked="checked"/>
                      {{ return_reason.name }}</label>
                  </div>
                {% else %}
                  <div class="radio">
                    <label>
                      <input type="radio" name="return_reason_id" value="{{ return_reason.return_reason_id }}"/>
                      {{ return_reason.name }}</label>
                  </div>
                {% endif %}
              {% endfor %}
              {% if error_reason %}
                <div class="text-danger">{{ error_reason }}</div>
              {% endif %} </div>
          </div>
          <div class="form-group required">
            <label class="  control-label">{{ entry_opened }}</label>
            <div >
              <label class="radio-inline"> {% if opened %}
                  <input type="radio" name="opened" value="1" checked="checked"/>
                {% else %}
                  <input type="radio" name="opened" value="1"/>
                {% endif %}
                {{ text_yes }}</label>
              <label class="radio-inline"> {% if not opened %}
                  <input type="radio" name="opened" value="0" checked="checked"/>
                {% else %}
                  <input type="radio" name="opened" value="0"/>
                {% endif %}
                {{ text_no }}</label>
            </div>
          </div>
          <div class="form-group">
            <label class="  control-label" for="input-comment">{{ entry_fault_detail }}</label>
            <div  >
              <textarea name="comment" rows="10" placeholder="{{ entry_fault_detail }}" id="input-comment" class="form-control">{{ comment }}</textarea>
            </div>
          </div>
          {{ captcha }}
        </fieldset>
        {% if text_agree %}
          <div class="buttons row clearfix">
            <div class="col-md-6 col-12">
              {% if agree %}
                <input type="checkbox" name="agree" value="1" checked="checked"/>
              {% else %}
                <input type="checkbox" name="agree" value="1"/>
              {% endif %}
              {{ text_agree }}
             
            </div>
            <div class="col-md-6 col-12">
                <a href="{{ back }}" class="btn btn-danger button">
                {{ button_back }}</a>
                 <input type="submit" value="{{ button_submit }}" class="btn btn-primary button"/>
            </div>
            
          </div>
        {% else %}
          <div class="buttons row clearfix">
            <div class="col-md-6 col-12">
                <a href="{{ back }}" class="btn btn-default button">{{ button_back }}</a>
            </div>
            <div class="col-md-6 col-12">
              <input type="submit" value="{{ button_submit }}" class="btn btn-primary button"/>
            </div>
          </div>
        {% endif %}
      </form>
                    
                </div>
            </div>
        </div>
    </section>
 
<script type="text/javascript"><!--
  $('.date').datetimepicker({
    language: document.cookie.match(new RegExp('language=([^;]+)')) && document.cookie.match(new RegExp('language=([^;]+)'))[1],
    pickTime: false
  });
  //--></script>
{{ footer }} 
