{{ header }}

<!-- Start Bradcrumb -->
    <section class="breadcrumb-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            {% for breadcrumb in breadcrumbs %}
                              <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ breadcrumb.href }}" itemprop="url"><span itemprop="title">{{ breadcrumb.text }}</span></a></li>
                            {% endfor %}
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Breadcrumb -->
   
    
    <!-- Start Account Section -->
    <section class="account-sec padding-100 hide-mob">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <h5 class="account-title blue-color">{{ list_my_account }}</h5>
                </div>
                <div class="col-md-3 col-12">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link " href="/index.php?route=account/edit">{{ list_account }}</a>
                        <a class="nav-link" href="/index.php?route=account/password">{{ list_pass }}</a>
                        <a class="nav-link active" href="/index.php?route=account/wishlist">{{ list_wish }}</a>
                        <a class="nav-link" href="/index.php?route=account/order">{{ list_orders }}</a>
                        <a class="nav-link" href="/index.php?route=account/return">{{ list_return }}</a>
                        <a class="nav-link" href="/index.php?route=account/address">{{ list_address }}</a>
                        <a class="nav-link" href="/index.php?route=account/logout">{{ list_logout }}</a>
                    </div>
                </div>
                <div class="col-md-9 col-12">
                    
                    <div class="my-orders-tab">
                        <h4 class="">{{ heading_title }}</h4>
                         {% if products %}
                        <div class="table-responsive">
                            <table class="table wishlist-tble">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">{{ deleteItem }}</th>
                                        <th scope="col">{{ column_image }}</th>
                                        <th scope="col">{{ column_name }}</th>
                                        <th scope="col">{{ column_model }}</th>
                                        <th scope="col">{{ column_price }}</th>
                                        <th scope="col">{{ column_action }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in products %}
                                    <tr>
                                         
                                        <th scope="row">
                                                <a href="{{ product.remove }}" class="delete-item"><i class="fas fa-times"></i></a>
                                            </th>
                                        <td>{% if product.thumb %}<a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}"/></a>{% endif %}</td>
                                        <td><a href="{{ product.href }}">{{ product.name }}</a></td>
                                        <td>{{ product.model }}</td>
                                        <td>
                                           {% if product.price %}
                                            <div class="price"> {% if not product.special %}
                                                {{ product.price }}
                                              {% else %} <b>{{ product.special }}</b> <s>{{ product.price }}</s> {% endif %} </div>
                                              
                                          {% endif %}
                                        </td>
                                        <td>
                                            <button type="submit" onclick="cart.add('{{ product.product_id }}');" class="btn btn-light blue-btn">{{ button_cart }}</button>
                                      
                  
                                        </td>
                                    </tr>
                                   {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% else %}
    
                     <p>{{ text_empty2 }}</p>
                      {% endif %}
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </section>
    <!-- End Account Section -->
   
    
{{ footer }}
