{{ header }}
 
    
<!-- Start Bradcrumb -->
    <section class="breadcrumb-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            {% for breadcrumb in breadcrumbs %}
                              <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ breadcrumb.href }}" itemprop="url"><span itemprop="title">{{ breadcrumb.text }}</span></a></li>
                            {% endfor %}
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
<!-- End Breadcrumb -->

<!-- Start Cart Section -->
            <section class="cart-sec padding-100">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-12">
                            <div class="section-title">
                                <h4 class="account-title blue-color">{{ heading_title26 }}</h4>
                            </div>
                        </div>
                    </div>
                    {% if attention %}
                      <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ attention }}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                      </div>
                      {% endif %}
                      {% if success %}
                      <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                      </div>
                      {% endif %}
                      {% if error_warning %}
                      <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                      </div>
                      {% endif %}
                    <form action="{{ action }}" method="post" enctype="multipart/form-data">  
                    <div class="row">
                        <div class="col-md-12 col-12 table-responsive">
                            <table class="table wishlist-tble">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">{{ text_remove_itme }}</th>
                                        <th scope="col">{{ column_image }}</th>
                                        <th scope="col">{{ column_name }}</th>
                                        <th scope="col">{{ column_price }}</th>
                                        <th scope="col">{{ column_quantity }}</th>
                                        
                                        <th scope="col">{{ column_total }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                     
                                     {% for product in products %}
                                     
                                          <tr class="productRow{{ product.cart_id }}">
                                            <th scope="row">
                                                <a href="#"  onclick="cart.remove('{{ product.cart_id }}'); return false;" class="delete-item"><i class="fas fa-times"></i></a>
                                            </th>
                                            <td>{% if product.thumb %} <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" /></a> {% endif %}</td>
                                            <td><a href="{{ product.href }}">{{ product.name }}</a> {% if not product.stock %} <span class="text-danger">***</span> {% endif %}
                                              {% if product.option %}
                                                {% for option in product.option %} <br/>
                                                  <small>{{ option.name }}: {{ option.value }}</small> {% endfor %}
                                              {% endif %}
                                              {% if product.reward %} <br/>
                                                <small>{{ product.reward }}</small> {% endif %}
                                              {% if product.recurring %} <br/>
                                                <span class="label label-info">{{ text_recurring_item }}</span>
                                                <small>{{ product.recurring }}</small> {% endif %}</td>
                                            
                                            <td>{{ product.price }}</td> 
                                            <td class="text-left  quantity">
                                              
                                            <input type="text"   name="quantity[{{ product.cart_id }}]" class="form-control custom-input" placeholder="1" value="{{ product.quantity }}">
                                            <button type="submit" class="btn btn-light tefresh-btn"><i class="fas fa-redo-alt"></i></button>
                                         
                                          
                                            </td>
                                            
                                            <td>{{ product.total }}</td>
                                        </tr>
                                          
                                        {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>   
                    </form>  
                    <div class="div-50"></div>
                     <div class="row">
                <div class="col-md-9 col-12">
                    <button onclick="location.href= '{{ continue }}';" type="button" class="btn btn-light blue-btn">{{ text_contunue_btn }}</button>
                    <div class="div-50"></div>
                    
                    {% if modules %}
                      
                      {% for module in modules %}
                          {{ module }}
                        {% endfor %}  
                    {% endif %}
                    
                </div>
                <div class="m-30"></div>
                <div class="col-md-3 col-12">
                    <h3>{{ text_total_title }}</h3>
                    <hr/>
                    
                     {% for total in totals %}
                       
                        <p class="clearfix">
                            <span class="float-right">{{ total.title }}:</span>
                            <span class="float-left blue-color">{{ total.text }}</span>
                        </p>
                      {% endfor %}
                    
                     
                    <a href="{{ checkout }}" class="btn btn-light bblue-btn">{{ text_contunue_btn2 }}</a>
                </div>
            </div>
                </div>
            </section>

            <!-- End Cart Section -->
           
<style>
input.minus {
    display: none !important;
}
input.plus {
    display: none !important;
}
</style>
<script>
$('.quantityCart').on('change',function(){
   var id = $(this).attr('dataid'); 
   $('#pro'+id+' button[type="submit"]').click();
});

function updatecart (key){
    var quantity = $('.quantityCart2'+key).val();
     
    quantity = (typeof(quantity) != 'undefined' ? quantity : 1);
    
    $.ajax({
          url: 'https://beautyselect.sa/index.php?route=checkout/cart/edit2',
          data: 'key=' + key + '&quantity=' + (typeof(quantity) != 'undefined' ? quantity : 1), 
            success: function(json) {
               
            }
        });
    
  
 }
</script>
{{ footer }} 
